Repository QualityUnit/wp-urlslab, pull requests merged in 2022-07, with the labels that each got.

#97 Adjusted build script git worflow
  .github/workflows/release.yml
  urlslab.php
Labels: status:ready-to-merge, status:review-OK, action:needs-review

#98 Allow requests without api key
  admin/partials/tables/class-urlslab-screenshot-table.php
  includes/class-urlslab-url.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-screenshot-cron.php
  includes/helpers/class-urlslab-status.php
  includes/helpers/urlslab-helpers.php
  includes/services/api/class-urlslab-api.php
  includes/services/api/class-urlslab-screenshot-api.php
  includes/services/class-urlslab-api-key.php
  includes/services/class-urlslab-url-data-fetcher.php
  includes/services/class-urlslab-url-data.php
  includes/services/models/class-urlslab-screenshot-batch-request.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: status:review-OK

#101 bug fix for cron job requesting repeating urls
  admin/partials/tables/class-urlslab-screenshot-table.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-screenshot-cron.php
  includes/helpers/class-urlslab-status.php
  includes/helpers/urlslab-helpers.php
  includes/services/api/class-urlslab-screenshot-api.php
  includes/services/class-urlslab-url-data-fetcher.php
  includes/widgets/class-urlslab-screenshot-widget.php
  urlslab.php
Labels: status:ready-to-merge

#100 load plugin settings from wp_options
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-link-enhancer.php
Labels: status:ready-to-merge

#104 screenshot path changed
  includes/services/class-urlslab-url-data.php
Labels: status:review-OK

#103 Generate sample data for related resources and keywords
  commitlint.config.js
  includes/services/class-urlslab-url-keyword-data.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-related-resources-widget.php
  webpack.config.js
Labels: action:needs-review

#102 feat: add kwMd5 column as primary key
  admin/partials/tables/class-urlslab-keyword-link-table.php
  commitlint.config.js
  includes/class-urlslab-activator.php
  includes/services/class-urlslab-url-keyword-data.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  urlslab.php
Labels: action:needs-review

#113 optimize speed of replacements with big dataset of keywords
  includes/widgets/class-urlslab-keywords-links.php
Labels: status:review-OK
