Repository QualityUnit/wp-urlslab, pull requests merged in 2022-09, with the labels that each got.

#191 fix: css loader webpack plugin update
  package.json
  public/css/urlslab-public.css
  yarn.lock
Labels: action:needs-review

#196 version increase
  urlslab.php
Labels: status:done, status:review-OK

#197 feat: add urlslab-skip class checking
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#198 chore: bump plugin version 1.12
  package.json
  urlslab.php
  yarn.lock
Labels: status:review-OK

#208 Changed all IDs to bigint
  admin/includes/menu/class-urlslab-related-resource-subpage.php
  admin/includes/tables/class-urlslab-related-resources-widget-table.php
  admin/includes/tables/class-urlslab-screenshot-table.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-url.php
  includes/services/class-urlslab-url-data-fetcher.php
  includes/widgets/class-urlslab-link-enhancer.php
  urlslab.php
Labels: status:review-OK

#209 bugfix for undefined index
  includes/services/class-urlslab-url-data-fetcher.php
Labels: status:review-OK

#210 Disabled optimization of images with unknown lazy loading
  composer.lock
  includes/widgets/class-urlslab-media-offloader-widget.php
  package.json
  urlslab.php
  yarn.lock
Labels: status:review-OK

#220 bug fix for activating/deactivating widgets
  admin/css/urlslab-admin.css
  admin/includes/menu/class-urlslab-dashboard-page.php
  admin/templates/partials/urlslab-admin-activation-card-header.php
  urlslab.php
Labels: status:done, status:review-OK

#221 Optimization of DB query for link enhancer
  includes/services/class-urlslab-url-data-fetcher.php
  urlslab.php
Labels: status:review-OK

#219 added meta tags functionality
  includes/class-urlslab.php
Labels: status:review-OK

#236 Version Increase
  urlslab.php
Labels: status:done, status:review-OK
