Repository QualityUnit/wp-urlslab, pull requests merged in 2023-08, with the labels that each got.

#989 [1715] Delete all filtered
  admin/src/api/fetchDataForProcessing.js
  admin/src/assets/styles/common/_typography.scss
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/lib/filterOperators.js
  admin/src/modules/Serp.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#991 import FAQ as new SERP query
  admin/src/overview/Serp.jsx
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-serp-query-row.php
  includes/widgets/class-urlslab-serp.php
Labels: action:needs-review

#993 api kw cluster
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#994 fix sql if empty serp domains
  admin/src/tables/SerpGapTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-serp-domain-row.php
Labels: action:needs-review

#995 [1786] fix: error on between range
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
Labels: status:review-OK

#996 fix: getting proper row id to change value for
  admin/src/hooks/useChangeRow.jsx
Labels: action:needs-review

#986 [Refactor]: Resolve app loading and modules
  .gitignore
  admin/generateModulesList.js
  admin/package.json
  admin/src/App.jsx
  admin/src/AppRoot.jsx
  admin/src/app/router.jsx
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_DashboardModule.scss
  admin/src/assets/styles/components/_Loader.scss
  admin/src/assets/styles/components/_MainMenu.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_Button.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/DynamicModule.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/Header.jsx
  admin/src/components/Loader.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/OverviewTemplate.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/hooks/useDisabledModuleRedirect.jsx
  admin/src/hooks/useMainMenu.jsx
  admin/src/hooks/useModuleDataByRoute.jsx
  admin/src/hooks/useOnloadRedirect.jsx
  admin/src/hooks/usePageTitle.jsx
  admin/src/lib/countriesList.js
  admin/src/lib/helpers.js
  admin/src/modules/Cache.jsx
  admin/src/modules/CssOptimizer.jsx
  admin/src/modules/CustomHtml.jsx
  admin/src/modules/Faq.jsx
  admin/src/modules/Generator.jsx
  admin/src/modules/ImageAltAttribute.jsx
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/LazyLoading.jsx
  admin/src/modules/LinkEnhancer.jsx
  admin/src/modules/MediaOffloader.jsx
  admin/src/modules/MetaTag.jsx
  admin/src/modules/Optimize.jsx
  admin/src/modules/Redirects.jsx
  admin/src/modules/RelatedResources.jsx
  admin/src/modules/Screenshot.jsx
  admin/src/modules/SearchAndReplace.jsx
  admin/src/modules/Serp.jsx
  admin/src/modules/static/Modules.jsx
  admin/src/modules/static/Schedule.jsx
  admin/src/modules/static/Settings.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/onboarding/Content.jsx
  admin/src/onboarding/Header.jsx
  admin/src/queries/useModulesQuery.jsx
  admin/src/queries/usePrefetchQueries.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/yarn.lock
  package.json
Labels: status:review-OK

#992 [Bug]: Table filter "is between" error
  admin/src/components/TableFilter.jsx
Labels: status:review-OK

#1001 fix: count all clicks and impressions per url and query
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1015 fix: remove add button - not needed in this table
  admin/src/tables/SerpGapTable.jsx
Labels: action:needs-review

#1016 fix: remove attribute loading=lazy
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#998 [1366] settings labels
  admin/apps/ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/components/SettingsOption.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/Tag.jsx
  admin/src/lib/labelsList.js
  admin/src/modules/static/Modules.jsx
  admin/src/modules/static/Settings.jsx
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-serp.php
Labels: status:review-OK

#1017 fix: warning in faq import
  includes/widgets/class-urlslab-faq.php
Labels: status:done, status:review-OK

#1020 [Bug]: Schedules JS Error & URL Monitoring popup notification
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/modules/static/Schedule.jsx
Labels: status:review-OK

#1019 [1347] feat: reschedule buttons, tables fixing, meta tags editing panel, flo…
  admin/src/assets/images/modules/serp.svg
  admin/src/assets/styles/common/_variables.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_IconButton.scss
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableComponent.jsx
  admin/src/elements/IconButton.jsx
  admin/src/elements/RowActionButtons.jsx
  admin/src/elements/Textarea.jsx
  admin/src/lib/tableImports.js
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1021 fix: sorting validato fixed
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
Labels: action:needs-review

#1022 fix: fist character uppercase
  includes/cron/class-urlslab-serp-cron.php
Labels: status:done, status:review-OK

#988 Add AI Generator Editor
  admin/src/api/fetchLangs.js
  admin/src/api/generatorApi.js
  admin/src/assets/styles/components/_ContentGeneratorPanel.scss
  admin/src/assets/styles/components/_EditableList.scss
  admin/src/components/generator/ContentGeneratorPanel.jsx
  admin/src/data/promptTemplates.json
  admin/src/elements/EditableList.jsx
  admin/src/elements/Editor.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/elements/TextAreaEditable.jsx
  admin/src/modules/Generator.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab-augment-helper.php
  includes/class-urlslab-serp-connection.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-serp-cron.php
  package.json
  yarn.lock
Labels: status:in-confirmation

#1024 Bug Fix for duplicate serp reduction
  includes/cron/class-urlslab-serp-cron.php
Labels: status:review-OK

#1025 Composer update of all deps
  composer.lock
Labels: status:review-OK

#1023 [1765] feat: fake table if no records
  admin/src/assets/images/faketable.png
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableComponent.jsx
  admin/src/elements/AddNewTableRecord.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1026 fix: main menu bottom items not visible on laptops
  admin/src/assets/styles/components/_MainMenu.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/layouts/_AppLayout.scss
  admin/src/components/MainMenu.jsx
  admin/src/components/TableComponent.jsx
Labels: action:needs-review

#1027 Fixed bug with faq
  includes/widgets/class-urlslab-faq.php
Labels: status:review-OK

#1029 Fix for URL Assignment
  includes/api/class-urlslab-api-faq-urls.php
  includes/data/class-urlslab-faq-url-row.php
Labels: status:review-OK

#1030 [1817] fix: multiple radio checkboxes in single select settings
  admin/src/components/SettingsOption.jsx
Labels: status:review-OK

#1031 [1808] feat: styling for plugin faq
  assets/images/icon_checkmark_circle.svg
  assets/scss/common/_variables.scss
  assets/scss/urlslab_faq.scss
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-related-resources-widget.php
  public/build/css/urlslab_faq.css
  public/build/images/icon_checkmark_circle..svg
  webpack.config.js
Labels: status:review-OK

#1028 FAQ Answer Generation
  admin/src/api/generatorApi.js
  admin/src/assets/styles/components/_ContentGeneratorPanel.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/components/generator/ContentGeneratorPanel.jsx
  admin/src/data/promptTemplates.json
  admin/src/elements/Editor.jsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/cron/class-urlslab-serp-cron.php
  includes/widgets/class-urlslab-serp.php
Labels: status:review-OK

#1032 [1808] fix: faq assignment editing
  admin/src/components/EditRowPanel.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-faq-urls.php
Labels: action:needs-review

#1033 fix: missing media plugin when media btn configured
  admin/src/elements/Editor.jsx
Labels: action:needs-review

#1034 fixed bugs in faq
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
  includes/data/class-urlslab-faq-url-row.php
Labels: status:done, status:review-OK

#1035 Bug Fix Prompt
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
Labels: status:review-OK

#1039 fix: hide wpml settings if wpml not available
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#1038 chore: remove faq_status from urls table - not used
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-faq.php
  urlslab.php
Labels: action:needs-review

#1036 Added Serp Integration
  admin/src/data/promptTemplates.json
  admin/src/tables/SerpGapTable.jsx
Labels: action:needs-review

#1037 [1818] fix: fixes for 1818, 1819, 1820
  admin/src/assets/styles/components/_ChangesPanel.scss
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/RowCounter.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/hooks/useTablePanels.jsx
Labels: status:ready-to-merge, status:review-OK

#1042 fix: edit permissions for serp features
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1043 feat: new domain type - ignored
  admin/src/tables/SerpTopDomainsTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/data/class-urlslab-serp-domain-row.php
Labels: action:needs-review

#1045 Added insert ignore
  includes/widgets/class-urlslab-faq.php
Labels: action:needs-review

#1046 fix: fixes for #1830, #1832, #1833, #1840, #1841, #1848, #1852, #1857
  admin/package.json
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/assets/styles/layouts/_AppLayout.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/components/ErrorBoundary.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/lib/helpers.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  admin/yarn.lock
Labels: status:done, status:review-OK

#1040 Prompt Template Implementation
  admin/src/api/generatorApi.js
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/lib/helpers.js
  admin/src/modules/Generator.jsx
  admin/src/queries/useAIModelsQuery.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-prompt-template.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
  includes/data/class-urlslab-prompt-template-row.php
  includes/defaults/class-urlslab-default-prompt-template.php
  table-names.php
  urlslab.php
Labels: action:needs-review

#1047 Bug fix for deleting selection Rows
  admin/src/lib/aiGeneratorPanel.js
  admin/src/tables/URLRelationTable.jsx
  includes/api/class-urlslab-api-base.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-url-relations.php
  includes/class-urlslab-serp-connection.php
  includes/cron/class-urlslab-serp-cron.php
Labels: status:review-OK

#1048 feat: add index on domain type in serp domains
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1049 chore: renamed types of queries
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
Labels: action:needs-review

#1050 feat: add tags to serp queries
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-serp-query-row.php
  urlslab.php
Labels: status:done, status:review-OK

#1052 Multiple bugfixes v3
  admin/src/assets/images/icons/icon-copy.svg
  admin/src/assets/styles/elements/_Inputs.scss
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/DateTimeFormat.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/Textarea.jsx
  admin/src/lib/copyToClipBoard.js
  admin/src/lib/helpers.js
  admin/src/lib/tableImports.js
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/LinkManagerTable.jsx
Labels: status:done, status:review-OK

#1054 active Screen back to Overlay
  admin/src/components/ImageCompare.jsx
Labels: action:needs-review

#1055 feat: Competitors table
  admin/src/modules/Serp.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-table-sql.php
  includes/class-urlslab-api-router.php
Labels: action:needs-review

#1053 Bug fix for serp monitoring data and generator
  admin/src/assets/styles/components/_ContentGeneratorPanel.scss
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/components/generator/ContentGeneratorPanel.jsx
  admin/src/elements/TextAreaEditable.jsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/defaults/class-urlslab-default-prompt-template.php
Labels: status:review-OK

#1056 fix: Multiple bugfixes v4
  admin/src/assets/images/icons/icon-addTag.svg
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ChangesPanel/Chart.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/DateRangeButton.jsx
  admin/src/elements/DateTimeFormat.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/lib/helpers.js
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
Labels: action:needs-review

#1057 Fixed Bug with state changes in Generator and
  admin/class-urlslab-admin.php
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  includes/api/class-urlslab-api-generators.php
Labels: action:needs-review

#1058 fix: competitors table
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
Labels: status:done, status:review-OK

#1060 Added Serp Popup Enhancement
  admin/src/assets/styles/components/_SerpPanel.scss
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/lib/serpQueries.js
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1061 Query Optimization for similar keywords Popup
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1062 fix: #1824, #1826, #1831, #1835
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useTableStore.jsx
Labels: action:needs-review

#1064 [1889] multiple filters for same column
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/lib/filterReducer.js
  admin/src/lib/filtersArray.js
Labels: action:needs-review

#1065 Keyword Cluster Keywords
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
Labels: status:done, status:review-OK

#1066 [1889] fix: reverting disabled for existing filter
  admin/src/components/TableFilterPanel.jsx
Labels: status:done, status:review-OK

#1068 fix: tagfilter value sending and display
  admin/src/components/TableFilter.jsx
  admin/src/elements/TagsFilterMenu.jsx
Labels: status:review-OK

#1069 [#1864] Add Tab navigation to React Router
  admin/src/app/router.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/ModuleViewHeader.jsx
  admin/src/hooks/useModuleDataByRoute.jsx
  admin/src/hooks/useModuleSectionRoute.jsx
  admin/src/hooks/usePageTitle.jsx
  admin/src/lib/helpers.js
  admin/src/modules/Cache.jsx
  admin/src/modules/CssOptimizer.jsx
  admin/src/modules/CustomHtml.jsx
  admin/src/modules/Faq.jsx
  admin/src/modules/Generator.jsx
  admin/src/modules/ImageAltAttribute.jsx
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/LazyLoading.jsx
  admin/src/modules/LinkEnhancer.jsx
  admin/src/modules/MediaOffloader.jsx
  admin/src/modules/MetaTag.jsx
  admin/src/modules/Optimize.jsx
  admin/src/modules/Redirects.jsx
  admin/src/modules/RelatedResources.jsx
  admin/src/modules/Screenshot.jsx
  admin/src/modules/SearchAndReplace.jsx
  admin/src/modules/Serp.jsx
  admin/src/modules/static/Schedule.jsx
  admin/src/tables/SerpGapTable.jsx
Labels: status:review-OK

#1070 feat: update texts
  admin/src/elements/ColumnsMenu.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/URLRelationTable.jsx
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: status:review-OK

#1071 feat: update texts
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/modules/CssOptimizer.jsx
  admin/src/modules/CustomHtml.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/onboarding/Header.jsx
  admin/src/onboarding/steps/StepSchedule.jsx
  admin/src/overview/CustomHtml.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/class-urlslab-available-widgets.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-general.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-search-replace.php
  includes/widgets/class-urlslab-serp.php
Labels: action:needs-review

#1072 feat: update labels and texts
  admin/src/components/Header.jsx
  admin/src/components/MainMenu.jsx
  admin/src/modules/CssOptimizer.jsx
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-serp.php
  urlslab.php
Labels: action:needs-review

#1073 feat: change default settings
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-serp.php
Labels: status:done, status:review-OK

#1074 [1902] fix: bug with button on add new row/schedule
  admin/src/components/EditRowPanel.jsx
Labels: status:review-OK

#1075 feat: reorder columns and settings
  admin/apps/ai-content-assistant/src/components/MainSettings.tsx
  admin/src/components/CronRunner.jsx
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  includes/api/class-urlslab-api-billing.php
  includes/api/class-urlslab-api-schedules.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-serp.php
Labels: action:needs-review

#1077 fix: fixes for #1826, #1845, #1907
  admin/src/assets/styles/layouts/_AppLayout.scss
  admin/src/components/ErrorBoundary.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1078 fix: tags manager
  admin/src/modules/static/TagsLabels.jsx
Labels: action:needs-review

#1079 fix: merge sorting fixes, implemented global state reset
  admin/src/hooks/useTablePanels.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1080 [1889] fix: filter editing saves as multiple filters
  admin/src/hooks/filteringSorting.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1081 [1854] show results
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
Labels: status:review-OK

#1083 Query Optimization for similar keywords
  includes/api/class-urlslab-api-serp-queries.php
Labels: status:review-OK

#1082 feat: remove updater
  .github/workflows/publish-release.yml
  Makefile
  includes/class-urlslab.php
  info.json
Labels: action:needs-review

#1085 [Bug]: Changing anything in any table triggers an error #1923
  admin/src/lib/helpers.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK
