Repository QualityUnit/wp-urlslab, pull requests merged in 2023-05, with the labels that each got.

#696 [1454] fix: multi checkbox menu string of checked values to array conversion
  admin/src/elements/FilterMenu.jsx
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
Labels: action:needs-review

#697 feat: API to get URL suggestions to keyword
  composer.lock
  includes/api/class-urlslab-api-keywords.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/compute-optimizer/2019-11-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/kms/2014-11-01/api-2.json.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#699 fix: memory optimization - skip loading full html content
  includes/cron/class-urlslab-update-url-http-status-cron.php
Labels: action:needs-review

#701 I1373 tags labels
  admin/.eslintrc
  admin/dist/assets/main.css
  admin/package.json
  admin/src/App.jsx
  admin/src/assets/styles/components/_ColorPicker.scss
  admin/src/assets/styles/components/_FloatingPanel.scss
  admin/src/assets/styles/components/_TableFilter.scss
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/ColorPicker.jsx
  admin/src/components/Header.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TagEditorPanel.jsx
  admin/src/elements/FilterMenu.jsx
  admin/src/elements/Tag.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useClickOutside.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/lib/hexToHSL.js
  admin/src/lib/tableImports.js
  admin/src/modules/Schedule.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/yarn.lock
  includes/api/class-urlslab-api-labels.php
  includes/class-urlslab-activator.php
Labels: action:needs-review

#702 fix: fixing merging problems
  admin/dist/assets/main.css
  admin/src/assets/styles/common/_typography.scss
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/ColorPicker.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/elements/FilterMenu.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/KeywordsTable.jsx
  includes/api/class-urlslab-api-labels.php
Labels: action:needs-review

#704 feat: writing freshly created tags in tag menu to database
  admin/dist/assets/main.css
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/elements/TagsMenu.jsx
Labels: action:needs-review

#705 fix: loading of video_description and other microdata
  admin/src/overview/Generator.jsx
  includes/cron/class-urlslab-youtube-cron.php
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#706 feat: additional youtube variables
  admin/src/overview/Generator.jsx
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#707 Small fixes in video processing
  admin/src/tables/NotFoundTable.jsx
  includes/cron/class-urlslab-youtube-cron.php
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#710 fatal error fixes
  admin/src/tables/GeneratorShortcodeTable.jsx
  composer.lock
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/data/class-urlslab-url-data-fetcher.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/guardduty/2017-11-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/iotsitewise/2019-12-02/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/sts/2011-06-15/endpoint-rule-set-1.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
Labels: action:needs-review

#711 fix: added description to field, process youtube url as videoid
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#713 fix: warning if file not accessible
  includes/class-urlslab-file-cache.php
Labels: action:needs-review

#714 I1373 editing row v2
  admin/dist/assets/main.css
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/ColorPicker.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
Labels: status:review-OK

#716 fix: fatal error fix in related resources, fixed scheduling of youtube videos
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/widgets/class-urlslab-related-resources-widget.php
  urlslab.php
Labels: action:needs-review

#717 feat: updated field descriptions
  admin/src/tables/GeneratorShortcodeTable.jsx
  composer.lock
  vendor/aws/aws-sdk-php/src/S3/S3Client.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/application-autoscaling/2016-02-06/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#718 fix: usage table, tags menu in keywords edit panel
  admin/src/components/DetailsPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/elements/Textarea.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/modules/TagsLabels.jsx
Labels: action:needs-review

#719 fix: processing of youtube videos and missing captions
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#720 fixed usage popup api calls
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
Labels: action:needs-review

#721 feat: editing panel working, hiding fields in row editor
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/DangerPanel.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/IconButton.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
Labels: status:review-OK

#722 fix: fatal error to read env variable, s3 connection validation
  admin/src/components/SettingsOption.jsx
  includes/api/class-urlslab-api-files.php
  includes/driver/class-urlslab-driver-s3.php
  includes/widgets/class-urlslab-media-offloader-widget.php
Labels: action:needs-review

#725 fix: php fatal error
  admin/src/tables/GeneratorShortcodeTable.jsx
  composer.lock
  includes/cron/class-urlslab-generators-cron.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-widget.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/elasticmapreduce/2009-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/rds/2014-10-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/swf/2012-01-25/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/swf/2012-01-25/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/swf/2012-01-25/smoke.json.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#726 feat: show shortcode in the table
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/api/class-urlslab-api-shortcodes.php
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#727 feat: export and delete all for yt videos
  admin/js/urlslab-wpml.js
  admin/src/components/ImportPanel.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-youtube-cache.php
  includes/data/class-urlslab-youtube-row.php
Labels: action:needs-review

#729 bug fix related articles and formatting generator variables
  admin/src/overview/Generator.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/cron/class-urlslab-generators-cron.php
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#730 [1429] feat: change related articles structure
  assets/scss/urlslab_related_resources.scss
  includes/class-urlslab-url.php
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#731 importing youtube
  admin/src/tables/YouTubeCacheTable.jsx
  composer.lock
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-lazy-loading.php
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#734 Yt data fix
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-youtube-cron.php
Labels: action:needs-review

#735 [1417] usage links for generator
  admin/js/urlslab-wpml.js
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/elements/Editor.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/NotFoundTable.jsx
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: status:review-OK

#736 fix: fixed multiple bugs, updated composer
  composer.lock
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-urls.php
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-screenshot-widget.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/ClientResolver.php
  vendor/aws/aws-sdk-php/src/IVSRealTime/IVSRealTimeClient.php
  vendor/aws/aws-sdk-php/src/Omics/OmicsClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/Support/SupportClient.php
  vendor/aws/aws-sdk-php/src/data/elasticache/2015-02-02/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/elasticache/2015-02-02/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/es/2015-01-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/es/2015-01-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/health/2016-08-04/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/ivs-realtime/2020-07-14/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/ivs-realtime/2020-07-14/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/omics/2022-11-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/omics/2022-11-28/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/omics/2022-11-28/smoke.json.php
  vendor/aws/aws-sdk-php/src/data/opensearch/2021-01-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/route53resolver/2018-04-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/support/2013-04-15/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/support/2013-04-15/endpoint-rule-set-1.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#737 [1425] translate button
  admin/dist/images/urlslab-logo.svg
  admin/js/urlslab-wpml.js
  admin/src/elements/TagsMenu.jsx
Labels: status:review-OK

#738 Video information loaded from microdata
  composer.lock
  includes/api/class-urlslab-api-shortcodes.php
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-widget.php
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/guzzlehttp/guzzle/CHANGELOG.md
  vendor/guzzlehttp/guzzle/composer.json
  vendor/guzzlehttp/guzzle/src/Client.php
  vendor/guzzlehttp/guzzle/src/Cookie/SetCookie.php
  vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php
  vendor/guzzlehttp/guzzle/src/Handler/StreamHandler.php
  vendor/guzzlehttp/guzzle/src/RequestOptions.php
Labels: status:review-OK

#740 fix: translation api
  includes/api/class-urlslab-api-generators.php
Labels: action:needs-review

#739 feat: limit urls included in related resources results by time of last seen
  includes/cron/class-urlslab-related-resources-cron.php
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#741 [1500] fix: translation buttons functionality
  admin/js/urlslab-wpml.js
Labels: action:needs-review

#742 I1502
  includes/api/class-urlslab-api-generators.php
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
Labels: status:review-OK

#743 fix: deleting of shortcodes or results should delete also related data
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-shortcodes.php
Labels: action:needs-review

#744 i1445 tags fix, new redirect fix, table update, translation complete disabled,
  admin/js/urlslab-wpml.js
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/EditRowPanel.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TagEditorPanel.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  public/build/css/urlslab_related_resources.css
  public/build/css/urlslab_youtube_loader.css
  public/build/images/banner-1544x500..jpg
  public/build/images/banner-772x250..jpg
  public/build/js/main.js
  public/build/js/urlslab-lazyload.js
Labels: status:review-OK

#745 fix: added missing button to change the statu of row
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#746 [1499] feat: abort export/import on cancel button
  admin/src/api/exportCsv.js
  admin/src/api/importCsv.js
  admin/src/components/ExportPanel.jsx
  admin/src/components/ImportPanel.jsx
Labels: status:review-OK

#748 fix: update keyword not working
  admin/src/tables/KeywordsTable.jsx
  composer.lock
  includes/api/class-urlslab-api-keywords.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data.php
  includes/data/class-urlslab-keyword-row.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-link-enhancer.php
  urlslab.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/CodeCatalyst/CodeCatalystClient.php
  vendor/aws/aws-sdk-php/src/RolesAnywhere/RolesAnywhereClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/athena/2017-05-18/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/codecatalyst/2022-09-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/codecatalyst/2022-09-28/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/detective/2018-10-26/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/detective/2018-10-26/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/kafka/2018-11-14/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/rekognition/2016-06-27/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/rolesanywhere/2018-05-10/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/rolesanywhere/2018-05-10/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/transfer/2018-11-05/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/transfer/2018-11-05/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/guzzlehttp/guzzle/CHANGELOG.md
  vendor/guzzlehttp/guzzle/src/Cookie/SetCookie.php
Labels: type:breaking-change, action:needs-review

#749 [1432] modules redesign
  admin/class-urlslab-admin.php
  admin/public/images/modules/optimize.svg
  admin/public/images/modules/redirects.svg
  admin/public/images/modules/urlslab-css-optimizer.svg
  admin/public/images/modules/urlslab-generator.svg
  admin/public/images/modules/urlslab-image-alt-attribute.png
  admin/public/images/modules/urlslab-image-alt-attribute.svg
  admin/public/images/modules/urlslab-keywords-links.png
  admin/public/images/modules/urlslab-keywords-links.svg
  admin/public/images/modules/urlslab-lazy-loading.png
  admin/public/images/modules/urlslab-lazy-loading.svg
  admin/public/images/modules/urlslab-link-enhancer.png
  admin/public/images/modules/urlslab-link-enhancer.svg
  admin/public/images/modules/urlslab-media-offloader.png
  admin/public/images/modules/urlslab-media-offloader.svg
  admin/public/images/modules/urlslab-meta-tag.png
  admin/public/images/modules/urlslab-meta-tag.svg
  admin/public/images/modules/urlslab-related-resources.png
  admin/public/images/modules/urlslab-related-resources.svg
  admin/public/images/modules/urlslab-screenshot.png
  admin/public/images/modules/urlslab-screenshot.svg
  admin/public/images/modules/urlslab-search-and-replace.svg
  admin/public/images/modules/yt_lazy_loading.png
  admin/src/assets/images/modules/optimize.png
  admin/src/assets/images/modules/optimize.svg
  admin/src/assets/images/modules/redirects.svg
  admin/src/assets/images/modules/urlslab-css-optimizer.png
  admin/src/assets/images/modules/urlslab-css-optimizer.svg
  admin/src/assets/images/modules/urlslab-generator.svg
  admin/src/assets/images/modules/urlslab-image-alt-attribute.png
  admin/src/assets/images/modules/urlslab-image-alt-attribute.svg
  admin/src/assets/images/modules/urlslab-keywords-links.png
  admin/src/assets/images/modules/urlslab-keywords-links.svg
  admin/src/assets/images/modules/urlslab-lazy-loading.png
  admin/src/assets/images/modules/urlslab-lazy-loading.svg
  admin/src/assets/images/modules/urlslab-link-enhancer.png
  admin/src/assets/images/modules/urlslab-link-enhancer.svg
  admin/src/assets/images/modules/urlslab-media-offloader.png
  admin/src/assets/images/modules/urlslab-media-offloader.svg
  admin/src/assets/images/modules/urlslab-meta-tag.png
  admin/src/assets/images/modules/urlslab-meta-tag.svg
  admin/src/assets/images/modules/urlslab-related-resources.svg
  admin/src/assets/images/modules/urlslab-screenshot.png
  admin/src/assets/images/modules/urlslab-screenshot.svg
  admin/src/assets/images/modules/urlslab-search-and-replace.png
  admin/src/assets/images/modules/urlslab-search-and-replace.svg
  admin/src/assets/images/modules/yt_lazy_loading.png
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_DashboardModule.scss
  admin/src/assets/styles/elements/_Switch.scss
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/MainMenu.jsx
  admin/src/modules/Modules.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/vite.config.js
Labels: status:review-OK

#751 fix: translation of all messages should continue if empty result
  admin/js/urlslab-wpml.js
Labels: action:needs-review

#752 fix: scheduling new values in schedules
  includes/api/class-urlslab-api-schedules.php
Labels: action:needs-review

#753 feat: reorder columns
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/modules/Generator.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#754 [1432] modules filtering
  admin/src/App.jsx
  admin/src/assets/styles/components/_DashboardModule.scss
  admin/src/assets/styles/elements/_SearchField.scss
  admin/src/assets/styles/layouts/_Header.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/DynamicModule.jsx
  admin/src/components/MainMenu.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/SearchField.jsx
  admin/src/elements/Tag.jsx
  admin/src/lib/hexToHSL.js
  admin/src/modules/Modules.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#756 fix: warning - trying to access array offset on value of type bool
  composer.lock
  includes/class-urlslab-file-cache.php
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#757 fix: lang column not used - removed
  admin/src/tables/GeneratorResultTable.jsx
Labels: action:needs-review

#758 [1523] fix: redirect
  admin/src/components/EditRowPanel.jsx
  admin/src/tables/NotFoundTable.jsx
Labels: action:needs-review

#762 feat: option to format video attribute as html from shortcode
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#763 fix: recompute hash before insert
  includes/data/class-urlslab-redirect-row.php
Labels: action:needs-review

#764 [1524] fix: overview
  admin/src/components/OverviewTemplate.jsx
  admin/src/modules/Schedule.jsx
  admin/src/overview/Schedules.jsx
Labels: status:review-OK

#765 [1523] redirect refresh
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/NotFoundTable.jsx
Labels: action:needs-review

#766 feat: rewrite texts
  admin/src/components/Header.jsx
  admin/src/modules/Cache.jsx
  admin/src/overview/Cache.jsx
  admin/src/overview/CssOptimizer.jsx
  admin/src/overview/Generator.jsx
  admin/src/overview/ImageAltAttribute.jsx
  admin/src/overview/KeywordsLinks.jsx
  admin/src/overview/LazyLoading.jsx
  admin/src/overview/LinkEnhancer.jsx
  admin/src/overview/MediaOffloader.jsx
  admin/src/overview/MetaTag.jsx
  admin/src/overview/Optimize.jsx
  admin/src/overview/Redirects.jsx
  admin/src/overview/RelatedResources.jsx
  admin/src/overview/Screenshot.jsx
  admin/src/overview/SearchAndReplace.jsx
  admin/src/tables/LinkManagerTable.jsx
  includes/api/class-urlslab-api-optimize.php
  includes/cron/class-urlslab-optimize-cron.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: status:review-OK

#770 feat: textarea in settings
  admin/src/components/SettingsOption.jsx
Labels: action:needs-review

#771 feat: drop cloudfront cache, invalidate cache on each post save
  includes/api/class-urlslab-api-cache-rules.php
  includes/widgets/class-urlslab-cache.php
Labels: action:needs-review

#773 feat: aws region option as listbox
  includes/api/class-urlslab-api-cache-rules.php
  includes/driver/class-urlslab-driver-s3.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-media-offloader-widget.php
Labels: action:needs-review

#774 [1461] url suggestions
  admin/src/assets/images/icons/icon-loading-input.svg
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/elements/_Inputs.scss
  admin/src/assets/styles/elements/_SuggestedInputField.scss
  admin/src/elements/InputField.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/lib/tableImports.js
  admin/src/tables/NotFoundTable.jsx
  includes/api/class-urlslab-api-languages.php
Labels: action:needs-review

#775 fix: parsing url
  assets/js/urlslab-lazyload.js
  public/build/js/urlslab-lazyload.js
Labels: action:needs-review

#776 [1461] feat: integrating suggestions to keywords manager and redirects
  admin/src/assets/styles/elements/_SuggestedInputField.scss
  admin/src/components/SettingsOption.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
Labels: action:needs-review

#778 fix: screenshot settings validator
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: action:needs-review

#779 [1461] feat: improved suggestions behaviour, bugfixes, keyboard navigation, …
  admin/src/assets/styles/elements/_Inputs.scss
  admin/src/assets/styles/elements/_SuggestedInputField.scss
  admin/src/components/ModuleViewHeader.jsx
  admin/src/components/OverviewTemplate.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/modules/Cache.jsx
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/Schedule.jsx
  admin/src/modules/SearchAndReplace.jsx
Labels: status:review-OK

#780 form fields descriptions, fixed bug to update ai shortcode type
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  composer.lock
  includes/api/class-urlslab-api-shortcodes.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/AppSync/AppSyncClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/Translate/TranslateClient.php
  vendor/aws/aws-sdk-php/src/data/appsync/2017-07-25/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/connect/2017-08-08/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/cur/2017-01-06/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/cur/2017-01-06/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/fms/2018-01-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/translate/2017-07-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/translate/2017-07-01/endpoint-rule-set-1.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
Labels: action:needs-review

#781 [1532] Popup showing
  admin/src/assets/styles/common/_mixins.scss
  admin/src/assets/styles/elements/_Inputs.scss
  admin/src/assets/styles/layouts/_Header.scss
  admin/src/components/Header.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/OverviewTemplate.jsx
  admin/src/elements/Checkbox.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#784 feat: match all in custom html module, fixed import
  admin/src/tables/CustomHtmlTable.jsx
  includes/api/class-urlslab-api-custom-html.php
  includes/data/class-urlslab-custom-html-row.php
  includes/widgets/class-urlslab-custom-html.php
Labels: action:needs-review

#785 wp-login fix
  includes/class-urlslab.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-search-replace.php
Labels: status:review-OK

#786 fix: videoid validation
  includes/api/class-urlslab-api-youtube-cache.php
  includes/data/class-urlslab-data.php
  includes/data/class-urlslab-youtube-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#787 fix: adding custom header html
  includes/class-urlslab.php
Labels: status:review-OK

#789 fix: skip processing all modules if is admin request
  includes/class-urlslab.php
Labels: status:review-OK

#790 feat: improve suggestions of not found redirect
  admin/src/tables/NotFoundTable.jsx
Labels: action:needs-review

#791 cloudfront drop cache
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-urls.php
  includes/widgets/class-urlslab-cache.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/application-autoscaling/2016-02-06/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/codepipeline/2015-07-09/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/codepipeline/2015-07-09/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/gamelift/2015-10-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/migration-hub-refactor-spaces/2021-10-26/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: status:review-OK

#793 fix: updated urlslab api
  includes/cron/class-urlslab-screenshots-cron.php
Labels: status:review-OK

#794 fix: adding kw priority
  admin/src/tables/KeywordsTable.jsx
Labels: status:review-OK

#795 [1405] universal notifications
  admin/package.json
  admin/src/App.jsx
  admin/src/api/fetching.js
  admin/src/assets/styles/common/_variables.scss
  admin/src/assets/styles/components/_Notifications.scss
  admin/src/assets/styles/components/_NotificationsPanel.scss
  admin/src/components/CronRunner.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/Header.jsx
  admin/src/components/Notifications.jsx
  admin/src/components/NotificationsPanel.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/d3/D3WordCloud.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useNotifications.jsx
  admin/src/modules/Settings.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  admin/yarn.lock
Labels: status:review-OK

#796 fix: url changes api
  composer.lock
  includes/api/class-urlslab-api-urls.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/application-autoscaling/2016-02-06/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/codepipeline/2015-07-09/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/codepipeline/2015-07-09/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/connect/2017-08-08/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/gamelift/2015-10-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/iotwireless/2020-11-22/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/migration-hub-refactor-spaces/2021-10-26/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/.openapi-generator/FILES
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/docs/Api/SnapshotApi.md
  vendor/urlslab/urlslab-php-sdk/docs/Model/DomainDataRetrievalUrlSnapshotMultiResponse.md
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
  vendor/urlslab/urlslab-php-sdk/lib/Model/DomainDataRetrievalUrlSnapshotMultiResponse.php
  vendor/urlslab/urlslab-php-sdk/lib/Urlslab/SnapshotApi.php
  vendor/urlslab/urlslab-php-sdk/test/Model/DomainDataRetrievalUrlSnapshotMultiResponseTest.php
Labels: action:needs-review

#798 feat: short time to live and default cache ttl
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#800 feat: stop sending requests to urlslab server if zero credits reached
  includes/api/class-urlslab-api-billing.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-urls.php
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-redirects-cron.php
  includes/cron/class-urlslab-related-resources-cron.php
  includes/cron/class-urlslab-screenshots-cron.php
  includes/cron/class-urlslab-summaries-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/widgets/class-urlslab-general.php
Labels: action:needs-review

#801 [1555] Implement zustand state manager
  admin/src/App.jsx
  admin/src/components/Credits.jsx
  admin/src/components/DashboardModule.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/DynamicModule.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/Header.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/RowCounter.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/hooks/useHeaderHeight.jsx
  admin/src/hooks/useMainMenu.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/lib/contextProvider.js
  admin/src/lib/headerHeightContext.js
  admin/src/modules/MetaTag.jsx
  admin/src/modules/Modules.jsx
  admin/src/modules/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#807 fix: scheduling related resources
  includes/api/class-urlslab-api-keywords.php
  includes/cron/class-urlslab-related-resources-cron.php
Labels: action:needs-review

#806 fix: crawling admin pages and 404 pages
  composer.lock
  includes/class-urlslab-url.php
  includes/data/class-urlslab-url-data-fetcher.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-search-replace.php
  includes/widgets/class-urlslab-widget.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/SecurityLake/SecurityLakeClient.php
  vendor/aws/aws-sdk-php/src/data/chime-sdk-voice/2022-08-03/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/glue/2017-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/iotfleetwise/2021-06-17/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/iotfleetwise/2021-06-17/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/location/2020-11-19/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/memorydb/2021-01-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/memorydb/2021-01-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/personalize/2018-05-22/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/personalize/2018-05-22/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/polly/2016-06-10/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/securityhub/2018-10-26/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/securitylake/2018-05-10/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/securitylake/2018-05-10/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#808 feat: urlslab_url_attribute and urlslab_url_attributes
  includes/widgets/class-urlslab-link-enhancer.php
Labels: action:needs-review
