Repository QualityUnit/wp-urlslab, pull requests merged in 2023-03, with the labels that each got.

#516 fix: update the name and texts
  README.md
  admin/class-urlslab-admin.php
  admin/includes/menu/class-urlslab-dashboard-page.php
  admin/src/components/DashboardModule.jsx
  admin/src/overview/LinkEnhancer.jsx
  admin/src/overview/RelatedResources.jsx
  admin/src/overview/Screenshot.jsx
  composer.json
  composer.lock
  includes/class-urlslab.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-search-replace.php
  urlslab.php
Labels: action:needs-review

#518 feat: update and ehnance texts
  admin/src/components/Header.jsx
  admin/src/components/OverviewTemplate.jsx
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/LazyLoading.jsx
  admin/src/modules/MediaOffloader.jsx
  admin/src/modules/SearchAndReplace.jsx
  admin/src/overview/CssOptimizer.jsx
  admin/src/overview/ImageAltAttribute.jsx
  admin/src/overview/KeywordsLinks.jsx
  admin/src/overview/LazyLoading.jsx
  admin/src/overview/MediaOffloader.jsx
  admin/src/overview/MetaTag.jsx
  admin/src/overview/Optimize.jsx
  admin/src/overview/RelatedResources.jsx
  admin/src/overview/Screenshot.jsx
  admin/src/overview/SearchAndReplace.jsx
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-general.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-optimize.php
Labels: action:needs-review

#521 feat: update and ehnance texts
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: action:needs-review

#522 feat: change default values based on documentation
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-general.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-optimize.php
Labels: action:needs-review

#523 Small Fixes and License Changes
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  LICENSE.txt
  admin/class-urlslab-admin.php
  admin/package.json
  admin/yarn.lock
  composer.json
  composer.lock
  package.json
  yarn.lock
Labels: action:needs-review

#526 chore: release pipeline
  .github/scripts/build-files.sh
  .github/scripts/build-zip.sh
  .github/scripts/commit-push-bump.sh
  .github/scripts/create-git-tag.sh
  .github/scripts/set-git-user.sh
  .github/scripts/update-version-files.sh
  .github/workflows/publish-release.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  info.json
  package.json
  urlslab.php
Labels: action:needs-review

#527 feat: release first generation of auto changelog
  .github/scripts/generate-changelog.js
  .github/scripts/get-changelog-from-readme-txt.js
  .github/scripts/update-readme-stable-version.sh
  .github/workflows/publish-release.yml
Labels: action:needs-review

#530 chore: fix changelog pipeline
  .github/scripts/build-files.sh
  .github/scripts/build-zip.sh
  .github/scripts/generate-changelog.js
  .github/scripts/get-changelog-from-readme-txt.js
  .github/workflows/publish-release.yml
  package.json
  readme.txt
  yarn.lock
Labels: status:review-OK

#534 fix loading of API when no other plugin activated
  includes/api/class-urlslab-api-base.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-cron.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-meta-tags.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-screenshots.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
Labels: status:review-OK

#548 [1247] feat: refresh button, images
  admin/dist/assets/Modules.css
  admin/dist/assets/Settings.css
  admin/dist/assets/main.css
  admin/src/assets/images/icon-cron-refresh.svg
  admin/src/assets/images/modules/optimize.png
  admin/src/assets/images/modules/urlslab-css-optimizer.png
  admin/src/assets/images/modules/urlslab-search-and-replace.png
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/vite.config.js
Labels: status:review-OK

#549 [1263] fix: cron multiple execution, #1261 cron error message
  admin/src/api/cron.js
  admin/src/assets/styles/components/_NotificationsPanel.scss
  admin/src/components/Header.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useInfiniteFetch.jsx
Labels: action:needs-review

#550 fix: language menu, multicheckbox values
  admin/src/App.jsx
  admin/src/api/fetchLangs.js
  admin/src/assets/styles/elements/_FilterMenu.scss
  admin/src/components/ImportPanel.jsx
  admin/src/components/TableFilter.jsx
  admin/src/elements/FilterMenu.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/elements/SortMenu.jsx
  admin/src/tables/KeywordsTable.jsx
Labels: status:review-OK

#551 fix: replace E value with empty string in API
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-urls.php
  includes/data/class-urlslab-data.php
  includes/data/class-urlslab-url-row.php
Labels: action:needs-review

#552 Scheduling URLs to UrlsLab
  includes/api/class-urlslab-api-screenshots.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-screenshot-schedules-cron.php
  includes/cron/class-urlslab-url-scheduling-cron.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: action:needs-review

#553 I#986 33 react admin
  admin/src/api/cron.js
  admin/src/assets/styles/elements/_Button.scss
  admin/src/components/DangerPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/RowInserter.jsx
  admin/src/components/TableFilter.jsx
  admin/src/constants/filterReducer.js
  admin/src/constants/tableFunctions.js
  admin/src/constants/tableImports.js
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useTableUpdater.jsx
  admin/src/modules/CssOptimizer.jsx
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/LazyLoading.jsx
  admin/src/modules/Modules.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  admin/vite.config.js
Labels: status:review-OK

#554 fix: missing class
  includes/cron/class-urlslab-screenshots-cron.php
  includes/cron/class-urlslab-summaries-cron.php
Labels: status:review-OK

#556 fix: cron task manager execution
  includes/api/class-urlslab-api-cron.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-cron.php
Labels: action:needs-review

#557 I#986 34 react admin
  admin/class-urlslab-admin.php
  admin/src/App.jsx
  admin/src/assets/styles/layouts/_Settings.scss
  admin/src/components/DynamicModule.jsx
  admin/src/components/InsertRowPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/RowInserter.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilter.jsx
  admin/src/elements/SortMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/main.jsx
  admin/src/modules/Settings.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/vite.config.js
Labels: status:review-OK

#559 load autoincremented value after insert
  includes/data/class-urlslab-data.php
  includes/data/class-urlslab-search-replace-row.php
Labels: action:needs-review

#561 fix: fatal error if current page url is not allowed or invalid
  includes/widgets/class-urlslab-link-enhancer.php
Labels: action:needs-review

#562 fix: urls in summary status pending with summaries should be converte…
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-summaries-cron.php
Labels: action:needs-review

#567 feat: preliminary editing of filters (not working yet)
  admin/src/api/fetching.js
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/common/_typography.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/components/_TableFilter.scss
  admin/src/assets/styles/elements/_Button.scss
  admin/src/assets/styles/elements/_FilterMenu.scss
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/constants/filterReducer.js
  admin/src/elements/SortMenu.jsx
  admin/src/hooks/filteringSorting.jsx
Labels: status:done

#569 I#986 38 react admin
  admin/.eslintrc
  admin/src/api/fetchLangs.js
  admin/src/assets/styles/elements/_FilterMenu.scss
  admin/src/components/DynamicModule.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/OverviewTemplate.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/elements/RangeSlider.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/lib/contextProvider.js
  admin/src/lib/exportWorker.js
  admin/src/lib/filterOperators.js
  admin/src/lib/filterReducer.js
  admin/src/lib/helpers.js
  admin/src/lib/queryClientPersister.ts
  admin/src/lib/tableFunctions.js
  admin/src/lib/tableImports.js
  admin/src/lib/variables.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK
