Repository QualityUnit/wp-urlslab, pull requests merged in 2023-04, with the labels that each got.

#587 error handling of content generator
  composer.lock
  includes/cron/class-urlslab-generators-cron.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#588 I#986 39 react admin
  admin/.eslintrc
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/d3/D3WordCloud.jsx
  admin/src/elements/FilterMenu.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/elements/RangeInputs.jsx
  admin/src/elements/SortMenu.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/lib/filterOperators.js
  admin/src/lib/filterReducer.js
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/Screenshot.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#591 feat: identify redirect client by urlslab name
  includes/api/class-urlslab-api-redirects.php
  includes/widgets/class-urlslab-redirects.php
Labels: action:needs-review

#592 feat: log request data if 404
  admin/src/tables/NotFoundTable.jsx
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-not-found-log-row.php
  includes/widgets/class-urlslab-redirects.php
  urlslab.php
Labels: type:breaking-change, action:needs-review

#593 fix: handling of regural expression warning and validation of input r…
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/widgets/class-urlslab-redirects.php
Labels: action:needs-review

#594 fix: add missing operators in filters
  admin/src/components/TableFilterPanel.jsx
  admin/src/lib/filterOperators.js
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-table.php
Labels: status:review-OK

#595 fix: don't log urlslab download files as 404
  includes/class-urlslab.php
Labels: status:review-OK

#597 [1305] I#986 41 react admin
  admin/src/assets/images/icon-link.svg
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/lib/tableImports.js
  admin/src/lib/tableReducer.js
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/vite.config.js
  vendor/composer/autoload_static.php
Labels: status:review-OK

#598 fix: condition to call proper url for NOTIN operator
  admin/src/lib/filterOperators.js
Labels: status:review-OK

#600 fix: changing of redirect status code number
  admin/src/tables/RedirectsTable.jsx
  includes/api/class-urlslab-api-redirects.php
  includes/data/class-urlslab-redirect-row.php
Labels: action:needs-review

#601 more usage counts, parsed agent and referer in not found table,…
  admin/src/assets/styles/components/_OverviewTemplate.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/components/TableComponent.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/SortMenu.jsx
  admin/src/lib/queryClientPersister.ts
  admin/src/main.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  includes/api/class-urlslab-api-redirects.php
Labels: status:review-OK

#602 I#986 44 react admin
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_ProgressBar.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/components/TableComponent.jsx
  admin/src/lib/tableImports.js
  admin/src/lib/tableReducer.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#603 fix: add protocol to urls, fix counts in urls, screenshots and keyword api
  admin/src/d3/D3WordCloud.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-urls.php
  includes/data/class-urlslab-redirect-row.php
Labels: status:review-OK

#605 feat: browser icon images in 404 table, parsing ua
  admin/package.json
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/elements/BrowserIcon.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
Labels: status:review-OK

#606 feat: 404 table os icons
  admin/package.json
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/elements/BrowserIcon.jsx
  admin/src/tables/NotFoundTable.jsx
Labels: action:needs-review

#607 feat: changed default value for is_logged and not_found in redirects,…
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-redirects.php
  includes/class-urlslab-activator.php
  includes/class-urlslab.php
  includes/data/class-urlslab-redirect-row.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-redirects.php
  urlslab.php
Labels: type:breaking-change, action:needs-review

#610 fix: usage links, paginantion
  admin/src/api/cron.js
  admin/src/api/deleteTableData.js
  admin/src/api/fetchLangs.js
  admin/src/api/fetching.js
  admin/src/api/settings.js
  admin/src/tables/KeywordsTable.jsx
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-file-cache.php
  includes/widgets/class-urlslab-redirects.php
Labels: action:needs-review

#612 fix: add from_dest_url_id and from_src_url_id
  admin/src/api/cron.js
  admin/src/api/deleteTableData.js
  admin/src/api/fetchLangs.js
  admin/src/api/fetching.js
  admin/src/api/settings.js
  admin/src/lib/exportWorker.js
  includes/api/class-urlslab-api-urls.php
Labels: action:needs-review

#613 fix: api should work also with plain permalinks and installation of w…
  admin/src/api/cron.js
  admin/src/api/deleteTableData.js
  admin/src/api/exportCsv.js
  admin/src/api/fetchLangs.js
  admin/src/api/fetching.js
  admin/src/api/settings.js
  admin/src/components/DetailsPanel.jsx
  admin/src/d3/D3WordCloud.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/lib/exportWorker.js
  admin/src/lib/helpers.js
  composer.lock
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Lambda/LambdaClient.php
  vendor/aws/aws-sdk-php/src/Proton/ProtonClient.php
  vendor/aws/aws-sdk-php/src/QuickSight/QuickSightClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/cloudformation/2010-05-15/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/cloudformation/2010-05-15/waiters-2.json.php
  vendor/aws/aws-sdk-php/src/data/dlm/2018-01-12/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/docdb/2014-10-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/docdb/2014-10-31/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/fsx/2018-03-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/greengrassv2/2020-11-30/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/greengrassv2/2020-11-30/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/lambda/2015-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/proton/2020-07-20/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/proton/2020-07-20/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/quicksight/2018-04-01/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#616 I#986 48 react admin
  admin/.eslintrc
  admin/src/assets/styles/components/_Panel.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/d3/D3WordCloud.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/lib/helpers.js
  admin/src/lib/tableImports.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#617 fix: if multiple ips stored in log, analyze just first IP
  includes/widgets/class-urlslab-redirects.php
Labels: action:needs-review

#619 fix: filtering values with 0 or counts
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-urls.php
Labels: action:needs-review

#620 fix: filtering values in request_data
  includes/api/class-urlslab-api-not-found-log.php
Labels: action:needs-review

#621 fix: request related resources just for valid urls
  includes/cron/class-urlslab-related-resources-cron.php
Labels: action:needs-review

#623 feat: required/optional headers for csv import
  admin/src/App.jsx
  admin/src/api/cron.js
  admin/src/api/deleteTableData.js
  admin/src/api/exportCsv.js
  admin/src/api/fetchLangs.js
  admin/src/api/fetching.js
  admin/src/api/settings.js
  admin/src/assets/styles/components/_Loader.scss
  admin/src/assets/styles/components/datepicker/datepicker.scss
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/lib/filterOperators.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#624 [1351] fix: changed values to read only and added/removed columns
  admin/dist/assets/main.css
  admin/src/modules/KeywordsLinks.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
Labels: status:review-OK

#625 feat: wpml translations
  admin/js/urlslab-wpml.js
  composer.lock
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-settings.php
  includes/class-urlslab-available-widgets.php
  includes/class-urlslab-user-widget.php
  includes/widgets/class-urlslab-content-generator-widget.php
  urlslab.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/data.iot/2015-05-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/ecr-public/2020-10-30/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/ecr-public/2020-10-30/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/emr-serverless/2021-07-13/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/emr-serverless/2021-07-13/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/eventbridge/2015-10-07/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/eventbridge/2015-10-07/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/groundstation/2019-05-23/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/groundstation/2019-05-23/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/docs/Api/ContentApi.md
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
  vendor/urlslab/urlslab-php-sdk/lib/Urlslab/ContentApi.php
Labels: action:needs-review

#626 [1216] Frontend CSS for related articles
  admin/src/api/cron.js
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ImportPanel.jsx
  assets/scss/urlslab_related_resources.scss
  includes/widgets/class-urlslab-related-resources-widget.php
  public/build/css/urlslab_related_resources.css
  webpack.config.js
Labels: status:review-OK

#627 fix: error handling for get_items and empty table
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
Labels: action:needs-review

#632 update php urlslab client
  composer.lock
  includes/api/class-urlslab-api-content-generators.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/MediaConnect/MediaConnectClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/chime-sdk-voice/2022-08-03/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/mediaconnect/2018-11-14/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/mediaconnect/2018-11-14/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/mediaconnect/2018-11-14/paginators-1.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/docs/Model/DomainDataRetrievalAugmentRequest.md
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
  vendor/urlslab/urlslab-php-sdk/lib/Model/DomainDataRetrievalAugmentRequest.php
Labels: action:needs-review

#633 [1302] feat: #1302 settings validation
  admin/src/api/cron.js
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/assets/styles/layouts/_Settings.scss
  admin/src/components/Header.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/lib/headerReducer.js
Labels: status:review-OK

#634 [1356, 1357] feat: rewrite texts
  admin/src/components/Header.jsx
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/lib/filterOperators.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: status:review-OK

#635 fix: updated php client of urlslab, disabled logging of 404 urls to urlslab
  composer.lock
  includes/api/class-urlslab-api-content-generators.php
  includes/widgets/class-urlslab-meta-tag.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/lambda/2015-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/migration-hub-refactor-spaces/2021-10-26/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/rds/2014-10-31/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/docs/Model/DomainDataRetrievalAugmentPrompt.md
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
  vendor/urlslab/urlslab-php-sdk/lib/Model/DomainDataRetrievalAugmentPrompt.php
Labels: action:needs-review

#636 feat: Twitter meta tags
  includes/widgets/class-urlslab-meta-tag.php
Labels: action:needs-review

#637 I#986 55 react admin
  admin/src/api/deleteTableData.js
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/elements/InputField.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/modules/Settings.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#640 fix: update search and replace row
  includes/api/class-urlslab-api-search-replace.php
Labels: action:needs-review

#641 fix: duplicate redirects after import
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#642 fix: import of redirect should reset cnt to 0
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-table.php
Labels: action:needs-review

#644 I#986 56 react admin
  admin/dist/assets/main.css
  admin/dist/images/urlslab-logo.svg
  admin/package.json
  admin/src/assets/images/bots/ahrefs.png
  admin/src/assets/images/bots/amazon.png
  admin/src/assets/images/bots/bing.png
  admin/src/assets/images/bots/facebook.png
  admin/src/assets/images/bots/google.png
  admin/src/assets/images/bots/semrush.png
  admin/src/assets/images/bots/seznam.png
  admin/src/assets/images/bots/wordpress.png
  admin/src/assets/images/bots/yandex.png
  admin/src/assets/images/icon-cron-refresh.svg
  admin/src/assets/images/os/AND.png
  admin/src/assets/images/os/IOS.png
  admin/src/assets/images/os/IPA.png
  admin/src/assets/images/os/LIN.png
  admin/src/assets/images/os/MAC.png
  admin/src/assets/images/os/WIN.png
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Button.scss
  admin/src/assets/styles/elements/_ColumnsMenu.scss
  admin/src/assets/styles/elements/_FilterMenu.scss
  admin/src/assets/styles/elements/_IconButton.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/BrowserIcon.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/IconButton.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/elements/Tooltip.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/vite.config.js
  admin/yarn.lock
Labels: status:review-OK

#643 feat: delete plugin
  includes/class-urlslab-activator.php
  includes/class-urlslab-deactivator.php
  includes/class-urlslab.php
  includes/widgets/class-urlslab-widget.php
  table-names.php
  uninstall.php
  urlslab.php
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
Labels: status:review-OK

#645 fix: redirect duplicates
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data.php
  includes/data/class-urlslab-redirect-row.php
  urlslab.php
Labels: status:review-OK, type:breaking-change

#648 fix: lazy loading and offloading of related resources images
  admin/src/overview/RelatedResources.jsx
  admin/src/tables/MediaFilesTable.jsx
  includes/api/class-urlslab-api-files.php
  includes/cron/class-urlslab-related-resources-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-widget.php
Labels: action:needs-review

#650 rename shortcode attributes, fix fatal error in related resources cron, modify alg how we filter semantic content
  admin/src/overview/Generator.jsx
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-related-resources-cron.php
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#651 feat: API to transfer files between storages
  includes/api/class-urlslab-api-files.php
Labels: action:needs-review

#653 fix: prompt engineering for translations and input text validation
  includes/api/class-urlslab-api-content-generators.php
Labels: action:needs-review

#655 [1374] I#986 57 react admin
  admin/src/App.jsx
  admin/src/assets/styles/common/_colorClasses.scss
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/common/_typography.scss
  admin/src/assets/styles/components/_NoAPIkey.scss
  admin/src/assets/styles/components/_OverviewTemplate.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Button.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/assets/styles/style.scss
  admin/src/components/DynamicModule.jsx
  admin/src/components/Header.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/NoAPIkey.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/DateTimeFormat.jsx
  admin/src/hooks/useResizeObserver.jsx
  admin/src/lib/headerHeightContext.js
  admin/src/lib/tableImports.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/ScreenshotTable.jsx
Labels: status:review-OK

#656 chore: don't use template if template name not set
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: status:done, status:review-OK

#658 [1414] feat: improved filters with operators, api set detection in app
  admin/dist/assets/main.css
  admin/src/assets/images/urlslab-logo.svg
  admin/src/assets/styles/common/_colorClasses.scss
  admin/src/assets/styles/common/_typography.scss
  admin/src/assets/styles/common/_variables.scss
  admin/src/assets/styles/elements/_FilterMenu.scss
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/assets/styles/layouts/_Header.scss
  admin/src/components/Header.jsx
  admin/src/components/NoAPIkey.jsx
  admin/src/components/OverviewTemplate.jsx
  admin/src/components/TableFilter.jsx
  admin/src/elements/Tag.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useCheckApiKey.jsx
  admin/src/lib/filterReducer.js
  admin/src/modules/Modules.jsx
Labels: status:review-OK

#659 I#986 59 react admin
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/elements/BrowserIcon.jsx
Labels: action:needs-review

#661 fix: scheduling of images
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: action:needs-review

#662 redirect link replaced with real destination url
  admin/src/tables/LinkManagerTable.jsx
  includes/api/class-urlslab-api-meta-tags.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-link-enhancer.php
  urlslab.php
Labels: type:breaking-change, action:needs-review

#663 feat: track usage of generator and youtube
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-activator.php
  includes/class-urlslab.php
  includes/data/class-urlslab-content-generator-url-row.php
  includes/data/class-urlslab-youtube-url-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-lazy-loading.php
  table-names.php
  urlslab.php
Labels: type:breaking-change, action:needs-review

#664 [1374] feat: ai content generator approval system
  admin/src/assets/images/icons/icon-activate.svg
  admin/src/assets/images/icons/icon-arrow.svg
  admin/src/assets/images/icons/icon-checkmark.svg
  admin/src/assets/images/icons/icon-close.svg
  admin/src/assets/images/icons/icon-columns.svg
  admin/src/assets/images/icons/icon-cron-refresh.svg
  admin/src/assets/images/icons/icon-disable.svg
  admin/src/assets/images/icons/icon-export.svg
  admin/src/assets/images/icons/icon-import.svg
  admin/src/assets/images/icons/icon-link.svg
  admin/src/assets/images/icons/icon-minus.svg
  admin/src/assets/images/icons/icon-play.svg
  admin/src/assets/images/icons/icon-plus.svg
  admin/src/assets/images/icons/icon-trash.svg
  admin/src/assets/styles/common/_colorClasses.scss
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/Header.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/BackButton.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/elements/Switch.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/lib/tableImports.js
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/NotFoundTable.jsx
Labels: status:done, status:review-OK

#666 [1367] feat fixes: 1367, 1369, 1385
  admin/src/hooks/useChangeRow.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#657 Labels
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-meta-tags.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-screenshots.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
  includes/data/class-urlslab-content-generator-row.php
  includes/data/class-urlslab-file-row.php
  includes/data/class-urlslab-keyword-row.php
  includes/data/class-urlslab-label-row.php
  includes/data/class-urlslab-redirect-row.php
  includes/data/class-urlslab-search-replace-row.php
  includes/data/class-urlslab-url-row.php
  table-names.php
  urlslab.php
Labels: action:needs-review

#667 fix: translation permissions
  includes/api/class-urlslab-api-content-generators.php
Labels: action:needs-review

#669 fix: schedules api should use POST to get items
  includes/api/class-urlslab-api-schedules.php
Labels: action:needs-review

#670 [1397] feat: rewrite of delete, insert, update row functions, rewrite of export
  admin/src/api/exportCsv.js
  admin/src/elements/ExportCSVButton.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/lib/exportWorker.js
  admin/src/lib/filtersArray.js
  admin/src/modules/LazyLoading.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#671 [1359] feat: credits, defaultsorting for 404, cron runner rewrite, fixes
  admin/src/assets/images/icons/icon-cron-stop.svg
  admin/src/assets/styles/components/_CronRunner.scss
  admin/src/components/CronRunner.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/Header.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/lib/cronReducer.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/GeneratorTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK, action:needs-review

#672 fix: change get to post for list api calls
  includes/api/class-urlslab-api-billing.php
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
Labels: action:needs-review

#673 feat: offer multiple image format URLs in API of urls
  includes/api/class-urlslab-api-urls.php
Labels: action:needs-review

#674 feat: labels for settings, setting sections and modules in API
  includes/api/class-urlslab-api-modules.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-search-replace.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#675 [1386] feat: date time formatting from WP, screenshots with better resolutio…
  admin/package.json
  admin/src/assets/styles/components/_CronRunner.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_ImageThumbnail.scss
  admin/src/components/CronRunner.jsx
  admin/src/components/Header.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableComponent.jsx
  admin/src/elements/DateTimeFormat.jsx
  admin/src/elements/ImageThumbnail.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/yarn.lock
Labels: action:needs-review

#676 I1317
  includes/api/class-urlslab-api-billing.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-cron.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-languages.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-api-router.php
Labels: status:review-OK

#677 plugin capabilities, user capability and roles management
  includes/api/class-urlslab-api-base.php
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-schedules.php
  includes/class-urlslab-activator.php
Labels: action:needs-review

#678 feat: create and update label api
  includes/api/class-urlslab-api-labels.php
  includes/data/class-urlslab-label-row.php
Labels: action:needs-review

#679 feat: label modules api, fixed labels for keyword table
  includes/api/class-urlslab-api-billing.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-content-generators.php
  includes/api/class-urlslab-api-cron.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-languages.php
  includes/api/class-urlslab-api-meta-tags.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-screenshots.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
Labels: action:needs-review

#681 Content generators redesign
  admin/src/modules/Generator.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  composer.lock
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-generators-cron.php
  includes/data/class-urlslab-content-generator-row.php
  includes/data/class-urlslab-content-generator-url-row.php
  includes/data/class-urlslab-generator-result-row.php
  includes/data/class-urlslab-generator-shortcode-row.php
  includes/data/class-urlslab-generator-url-row.php
  includes/data/class-urlslab-label-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-widget.php
  table-names.php
  uninstall.php
  urlslab.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/composer.json
  vendor/aws/aws-sdk-php/src/EMRContainers/EMRContainersClient.php
  vendor/aws/aws-sdk-php/src/GuardDuty/GuardDutyClient.php
  vendor/aws/aws-sdk-php/src/Kafka/KafkaClient.php
  vendor/aws/aws-sdk-php/src/OSIS/Exception/OSISException.php
  vendor/aws/aws-sdk-php/src/OSIS/OSISClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/data/ec2/2016-11-15/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/emr-containers/2020-10-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/emr-containers/2020-10-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/guardduty/2017-11-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/iotdeviceadvisor/2020-09-18/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/iotdeviceadvisor/2020-09-18/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/kafka/2018-11-14/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/kafka/2018-11-14/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/kafka/2018-11-14/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/lambda/2015-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/manifest.json.php
  vendor/aws/aws-sdk-php/src/data/marketplace-catalog/2018-09-17/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/osis/2022-01-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/osis/2022-01-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/osis/2022-01-01/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/qldb/2019-01-02/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/xray/2016-04-12/endpoint-rule-set-1.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/psr/http-message/composer.json
  vendor/psr/http-message/src/MessageInterface.php
  vendor/psr/http-message/src/RequestInterface.php
  vendor/psr/http-message/src/ResponseInterface.php
  vendor/psr/http-message/src/ServerRequestInterface.php
  vendor/psr/http-message/src/StreamInterface.php
  vendor/psr/http-message/src/UploadedFileInterface.php
  vendor/psr/http-message/src/UriInterface.php
Labels: action:needs-review

#680 Youtube videos
  admin/src/modules/LazyLoading.jsx
  admin/src/overview/Generator.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  composer.json
  composer.lock
  includes/api/class-urlslab-api-billing.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-schedules.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-user-widget.php
  includes/cron/class-urlslab-convert-images-cron.php
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-offload-enqueue-files-cron.php
  includes/cron/class-urlslab-related-resources-cron.php
  includes/cron/class-urlslab-screenshots-cron.php
  includes/cron/class-urlslab-summaries-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/data/class-urlslab-file-pointer-row.php
  includes/data/class-urlslab-youtube-row.php
  includes/driver/class-urlslab-driver-s3.php
  includes/driver/class-urlslab-driver.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-widget.php
  urlslab.php
  vendor/aws/aws-sdk-php/src/Athena/AthenaClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/SimSpaceWeaver/SimSpaceWeaverClient.php
  vendor/aws/aws-sdk-php/src/data/appflow/2020-08-23/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/athena/2017-05-18/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/athena/2017-05-18/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/directconnect/2012-10-25/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/elasticfilesystem/2015-02-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/grafana/2020-08-18/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/grafana/2020-08-18/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/iot/2015-05-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/rekognition/2016-06-27/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/simspaceweaver/2022-10-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/simspaceweaver/2022-10-28/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/workspaces/2015-04-08/endpoint-rule-set-1.json.php
  vendor/composer/autoload_static.php
  vendor/psr/log/LICENSE
  vendor/psr/log/Psr/Log/AbstractLogger.php
  vendor/psr/log/Psr/Log/InvalidArgumentException.php
  vendor/psr/log/Psr/Log/LogLevel.php
  vendor/psr/log/Psr/Log/LoggerAwareInterface.php
  vendor/psr/log/Psr/Log/LoggerAwareTrait.php
  vendor/psr/log/Psr/Log/LoggerInterface.php
  vendor/psr/log/Psr/Log/LoggerTrait.php
  vendor/psr/log/Psr/Log/NullLogger.php
  vendor/psr/log/Psr/Log/Test/DummyTest.php
  vendor/psr/log/Psr/Log/Test/LoggerInterfaceTest.php
  vendor/psr/log/Psr/Log/Test/TestLogger.php
  vendor/psr/log/README.md
  vendor/psr/log/composer.json
Labels: action:needs-review

#682 fea: addingin schedules and shortcodes
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/SchedulesTable.jsx
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/data/class-urlslab-generator-shortcode-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review
