Repository QualityUnit/wp-urlslab, pull requests merged in 2023-10, with the labels that each got.

#1197 [2051] fix: textarea and tinymce fix
  admin/src/components/EditRowPanel.jsx
Labels: action:needs-review

#1185 Bugfix Content hook with DocType
  .gitignore
  includes/class-urlslab.php
Labels: action:needs-review

#1198 fix: memoized table row do not update after columns adding
  admin/src/components/TableRow.jsx
Labels: action:needs-review

#1199 [i2083, i2084] fix: adding new table row error, table header cells width calculation
  admin/src/components/EditRowPanel.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableHead.jsx
Labels: action:needs-review

#1181 feat: small changes in visualization of keywords cluster
  admin/src/api/fetchDataForProcessing.js
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/lib/serpQueries.js
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-table-sql.php
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#1201 fix: admin body class
  admin/class-urlslab-admin.php
Labels: action:needs-review

#1205 Tablestore multi tables
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/DeletePanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/RowCounter.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TableRow.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/elements/AddNewTableRecord.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/DeleteSelectedButton.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useAIGeneratorManualInit.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/lib/serpQueries.js
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1207 feat: sorting support in secondary tables
  admin/src/api/fetchDataForProcessing.js
  admin/src/components/RowCounter.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/lib/filtersArray.js
  admin/src/lib/serpQueries.js
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
Labels: action:needs-review

#1208 I2082a
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/lib/serpUrls.js
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
Labels: action:needs-review

#1209 chore: similar urls table
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/lib/serpQueries.js
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1211 [2088] tags deletion not working
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/elements/DeleteSelectedButton.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/RowActionButtons.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
Labels: action:needs-review

#1212 Svg replaced for spritemaps
  admin/class-urlslab-admin.php
  admin/package.json
  admin/src/assets/images/icons/icon-trash.svg
  admin/src/assets/styles/common/_global.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/CronRunner.jsx
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/StepNavigation.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TablePanels.jsx
  admin/src/components/generator/scalable/StepFirst.jsx
  admin/src/elements/AddNewTableRecord.jsx
  admin/src/elements/BackButton.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/DeleteSelectedButton.jsx
  admin/src/elements/EditableList.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/RowActionButtons.jsx
  admin/src/elements/SvgIcon.jsx
  admin/src/elements/Switch.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/elements/Tag.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/lib/tableImports.js
  admin/src/onboarding/steps/StepApiKey.jsx
  admin/src/onboarding/steps/StepModules.jsx
  admin/src/onboarding/steps/StepSchedule.jsx
  admin/src/overview/Screenshot.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  admin/vite.config.js
  admin/yarn.lock
Labels: action:needs-review

#1214 Idocs
  admin/src/overview/Cache.jsx
  admin/src/overview/CustomHtml.jsx
Labels: action:needs-review

#1215 Bugfix infinite effect loop
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
Labels: action:needs-review

#1218 Refactor Prompt Template - redundant removal
  admin/src/components/generator/manual/StepThird.jsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/hooks/useAIGeneratorManualInit.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/queries/usePromptTemplateQuery.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  includes/api/class-urlslab-api-prompt-template.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-prompt-template-row.php
  includes/defaults/class-urlslab-default-prompt-template.php
  urlslab.php
Labels: action:needs-review

#1216 FAQ Automation features
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab.php
  includes/connections/class-urlslab-augment-connection.php
  includes/connections/class-urlslab-related-urls-connection.php
  includes/connections/class-urlslab-serp-connection.php
  includes/connections/class-urlslab-summaries-connection.php
  includes/connections/class-urlslab-yt-connection.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-faq-cron.php
  includes/cron/class-urlslab-related-resources-cron.php
  includes/cron/class-urlslab-summaries-cron.php
  includes/cron/class-urlslab-youtube-cron.php
  includes/cron/executor/class-urlslab-generator-cron-executor.php
  includes/data/class-urlslab-generator-task-row.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-faq.php
Labels: action:needs-review

#1217 Image Comparator Bug fixes
  admin/src/assets/styles/components/_ImageCompare.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/tables/LinkManagerTable.jsx
Labels: action:needs-review

#1220 faq urls asignment
  admin/src/tables/FaqsTable.jsx
  includes/api/class-urlslab-api-faq.php
  includes/data/class-urlslab-url-data-fetcher.php
Labels: action:needs-review

#1213 I2058gap
  admin/src/app/mui_joy/theme.js
  admin/src/assets/images/icons/icon-info.svg
  admin/src/assets/styles/common/_colorClasses.scss
  admin/src/assets/styles/common/_widths.scss
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/assets/styles/elements/_IconButton.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/assets/styles/style.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/RowCounter.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/modules/Serp.jsx
  admin/src/tables/SerpContentGapTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-table-sql.php
Labels: action:needs-review

#1221 feat: removed virtualization
  admin/package.json
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/components/TableBody.jsx
  admin/src/components/TableComponent.jsx
  admin/yarn.lock
Labels: status:review-OK

#1222 fix: missing table actions button
  admin/src/components/ModuleViewHeaderBottom.jsx
Labels: action:needs-review

#1225 Added AI Generator Fetch Top Urls bugfix
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/lib/aiGeneratorPanel.js
Labels: status:review-OK

#1224 Bug: undefined table data in DetailsPanel
  admin/src/components/DetailsPanel.jsx
Labels: status:review-OK

#1223 Bugfix: table rows deletion and updates doesn't work
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useChangeRow.jsx
Labels: status:review-OK

#1227 fix: removed table reset
  admin/src/components/MainMenu.jsx
  admin/src/components/ModuleViewHeader.jsx
  admin/src/hooks/useTableStore.jsx
Labels: status:review-OK

#1228 process manual serp queries faster as other types
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-serp-cron.php
  urlslab.php
Labels: status:review-OK

#1234 [2096] content gap improvements
  admin/src/api/fetchDataForProcessing.js
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ExportPanel.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableRow.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/lib/hexToHSL.js
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
Labels: action:needs-review

#1230 fix YT lazy loading
  assets/scss/urlslab_youtube_loader_decorated.scss
  assets/scss/urlslab_youtube_loader_plain.scss
  includes/widgets/class-urlslab-lazy-loading.php
  public/build/css/urlslab_youtube_loader.css
  webpack.config.js
Labels: action:needs-review

#1231 feat: inform user if api key is missing or no credits on account
  admin/class-urlslab-admin.php
Labels: action:needs-review

#1232 Various small bugfixes
  admin/src/app/mui_joy/theme.js
  admin/src/assets/styles/components/_Panel.scss
Labels: action:needs-review

#1229 I2062 mui tags
  admin/package.json
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/accordionTheme.js
  admin/src/app/mui_joy/themes/buttonTheme.js
  admin/src/app/mui_joy/themes/checkboxTheme.js
  admin/src/app/mui_joy/themes/iconButtonTheme.js
  admin/src/app/mui_joy/themes/sheetTheme.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/app/mui_joy/themes/tagTheme.js
  admin/src/app/mui_joy/themes/tooltipTheme.js
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
  admin/src/assets/styles/elements/_Tag.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilter.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/Tag.jsx
  admin/src/elements/TagsFilterMenu.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useTags.jsx
  admin/src/modules/static/Settings.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/yarn.lock
Labels: status:review-OK

#1233 feat: description of tables (not ready)
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-billing.php
Labels: action:needs-review

#1235 Content gap bugfix
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/elements/_IconButton.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-queries.php
Labels: status:review-OK

#1236 GSC properties as clickable domain names
  admin/src/tables/GscSitesTable.jsx
  includes/api/class-urlslab-api-gsc-sites.php
Labels: action:needs-review

#1238 feat: store parent_query_id for SERP queries
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-serp-query-row.php
  urlslab.php
Labels: action:needs-review

#1240 [2126] fix: export not working
  admin/src/api/fetchDataForProcessing.js
Labels: status:review-OK

#1237 feat: query type column in serp gap table
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
Labels: status:done, status:review-OK

#1241 fix: #2136, #2139
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/TableComponent.jsx
Labels: action:needs-review

#1242 i2072: Country select, AI Generator changes, Filtering in popup tables
  .gitignore
  admin/generateCountriesList.js
  admin/generateModulesList.js
  admin/package.json
  admin/src/api/fetchCountries.js
  admin/src/app/mui_joy/theme.js
  admin/src/app/router.jsx
  admin/src/assets/styles/components/_ContentGeneratorPanel.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/components/StepNavigation.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TableFilters.jsx
  admin/src/components/generator/ContentGenerator.jsx
  admin/src/components/generator/generatorUtils.js
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/components/generator/scalable/StepFirst.jsx
  admin/src/components/generator/scalable/StepSecond.jsx
  admin/src/data/sample-keywords-data.json
  admin/src/elements/CountrySelect.jsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/lib/countriesList.js
  admin/src/lib/serpQueries.js
  admin/src/modules/Generator.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/yarn.lock
Labels: status:review-OK

#1247 Content Gap with KW frequency
  admin/src/modules/Serp.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  composer.lock
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-tasks.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
  includes/connections/class-urlslab-augment-connection.php
  includes/connections/class-urlslab-serp-connection.php
  includes/cron/class-urlslab-optimize-cron.php
  includes/data/class-urlslab-data.php
  includes/data/class-urlslab-kw-intersections-row.php
  includes/data/class-urlslab-kw-url-intersections-row.php
  includes/data/class-urlslab-task-row.php
  includes/executor/class-urlslab-executor-download-url.php
  includes/executor/class-urlslab-executor-download-urls-batch.php
  includes/executor/class-urlslab-executor-gap-analyses.php
  includes/executor/class-urlslab-executor-generate.php
  includes/executor/class-urlslab-executor-url-intersection.php
  includes/executor/class-urlslab-executor.php
  includes/widgets/class-urlslab-optimize.php
  table-names.php
  urlslab.php
Labels: status:review-OK

#1248 Bugfixes: #2138 #2133
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/lib/helpers.js
  admin/src/tables/SerpCompetitorsTable.jsx
Labels: status:review-OK

#1251 i2113 - description box
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/accordionTheme.js
  admin/src/app/mui_joy/themes/sheetTheme.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/components/TableComponent.jsx
  admin/src/elements/DescriptionBox.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1253 content gap - small design changes
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1254 url and query detail dialog api
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
Labels: action:needs-review

#1255 chore: rewrite about this module texts
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1259 feat: show domain type in all places where serp urls are displayed
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1260 feat: add optimize db actions to admin menu
  includes/executor/class-urlslab-executor-url-intersection.php
  includes/widgets/class-urlslab-cache-widget.php
  includes/widgets/class-urlslab-optimize.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#1261 feat: show cron notification in admin menu if is not running
  admin/class-urlslab-admin.php
Labels: status:review-OK

#1262 fix: including of css to html should not do htmlentities conversion
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#1265 [2142] table row select performance only cell
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/TableBody.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableRow.jsx
  admin/src/elements/DeleteSelectedButton.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useSelectRows.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1266 fix: tables rerenders from table panels
  admin/src/app/mui_joy/themes/buttonTheme.js
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableHead.jsx
  admin/src/components/TablePanels.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1258 feat: option to define custom schedule interval per query
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/elements/CountrySelect.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-serp-query-row.php
  includes/widgets/class-urlslab-serp.php
  urlslab.php
Labels: action:needs-review

#1270 [2160] SERP Query fixes
  admin/src/api/fetchDataForProcessing.js
  admin/src/assets/styles/components/_Loader.scss
  admin/src/assets/styles/components/_MainMenu.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/ExportPanel.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/RowCounter.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
Labels: action:needs-review

#1256 feat: load urls from query
  admin/src/assets/styles/components/_MainMenu.scss
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/elements/CountrySelect.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/tables/SerpContentGapTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-table.php
  includes/connections/class-urlslab-serp-connection.php
Labels: action:changes-requested, action:needs-review

#1273 fix: Fatal error: Uncaught TypeError: Urlslab_Widget_Custom_Html::is_match()
  includes/cache/class-urlslab-cache.php
  includes/widget/class-urlslab-widget-custom-html.php
  includes/widget/class-urlslab-widget-redirects.php
Labels: status:review-OK

#1272 web vitals log
  admin/src/modules/WebVitals.jsx
  admin/src/tables/WebVitalsTable.jsx
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-web-vitals.php
  includes/data/class-urlslab-data-web-vital.php
Labels: status:review-OK

#1276 fix: SQL when no urls enetered was incorrect, validator will solve it
  includes/api/class-urlslab-api-serp-gap.php
Labels: action:needs-review

#1277 add missing index in generator task
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1278 fix: regular expression validation
  includes/api/class-urlslab-api-web-vitals.php
  includes/widget/class-urlslab-widget-web-vitals.php
Labels: action:needs-review

#1279 fix: validation of filters array
  includes/api/class-urlslab-api-meta-tags.php
  includes/api/class-urlslab-api-screenshots.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-table.php
Labels: action:needs-review

#1281 fix: load max 15 unique urls from serp if query is not in db
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1282 fix: for now is fix to load less often the update
  includes/data/class-urlslab-data-serp-query.php
  includes/data/class-urlslab-data-serp-url.php
Labels: action:needs-review

#1274 fix: max number of urls set as validator
  admin/src/api/fetching.js
  admin/src/api/generatorApi.js
  admin/src/api/importCsv.js
  admin/src/api/settings.js
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_NotificationsPanel.scss
  admin/src/components/NotificationsPanel.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/generator/generatorUtils.js
  admin/src/hooks/useChangeRow.jsx
  admin/src/lib/serpQueries.js
  admin/src/onboarding/steps/StepApiKey.jsx
  admin/src/onboarding/steps/StepModules.jsx
  admin/src/tables/NotFoundTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
Labels: action:needs-review

#1283 feat: load libraries from plugin, wp doesn't allow external js libs
  assets/js/web-vitals.attribution.iife.js
  assets/js/web-vitals.iife.js
  includes/widget/class-urlslab-widget-web-vitals.php
Labels: action:needs-review

#1286 feat: option to compare just text in headers in content gap
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/data/class-urlslab-data-kw-intersections.php
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1288 feat: handling of column updated
  includes/data/class-urlslab-data-faq.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1289 sql optimization
  includes/class-urlslab-activator.php
  includes/connection/class-urlslab-connection-serp.php
  includes/cron/class-urlslab-cron-faq.php
  includes/cron/class-urlslab-cron-serp.php
  includes/data/class-urlslab-data-serp-query.php
  includes/widget/class-urlslab-widget-serp.php
  urlslab.php
Labels: action:needs-review

#1291 fix: sql syntax error
  includes/api/class-urlslab-api-table-sql.php
Labels: action:needs-review

#1292 [2177] serp tables rerendering
  admin/src/assets/styles/components/_TableDetail.scss
  admin/src/assets/styles/elements/_BackButton.scss
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableDetailsMenu.jsx
  admin/src/components/TablePanels.jsx
  admin/src/components/TableRow.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
Labels: action:needs-review

#1287 i2198: fixed serp query-urls loading, unified serp fetch functions returns
  admin/src/api/generatorApi.js
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/generator/ContentGeneratorEditor.jsx
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/elements/DataBox.jsx
  admin/src/hooks/useAIGeneratorManualInit.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/lib/serpQueries.js
  admin/src/modules/static/TagsLabels.jsx
  admin/src/queries/usePostTypesQuery.jsx
Labels: status:review-OK

#1294 fix: full country text in table
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
Labels: action:needs-review

#1293 fix: #2193, #2208, semicolon in serp gap
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/WebVitalsTable.jsx
Labels: action:needs-review

#1295 feat: geoip
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  composer.json
  composer.lock
  includes/data/class-urlslab-data-web-vital.php
  includes/tool/class-urlslab-tool-geoip.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-redirects.php
Labels: action:needs-review

#1290 feat: add color to web vitals table
  admin/src/tables/WebVitalsTable.jsx
Labels: action:needs-review

#1296 fix: useChangeRow definition
  admin/src/hooks/useChangeRow.jsx
Labels: status:done, status:review-OK

#1297 fix: changed city geoip to country - much smaller
  includes/tool/class-urlslab-tool-geoip.php
  includes/widget/class-urlslab-widget-general.php
Labels: action:needs-review

#1299 fix: Content gap button not working
  admin/src/hooks/useSerpGapCompare.jsx
Labels: action:needs-review

#1298 I2212
  admin/src/elements/DateTimeFormat.jsx
Labels: action:needs-review

#1302 fix: compare max 15 urls
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/tables/SerpContentGapTable.jsx
Labels: action:needs-review

#1303 css cache cron - sql speed improved
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-download-css.php
  urlslab.php
Labels: action:needs-review

#1304 fix: improved speed of sql in js cache cron
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-download-js.php
  urlslab.php
Labels: action:needs-review

#1305 fix: few things to optimize and test in real life
  includes/api/class-urlslab-api-serp-gap.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1306 [2210] fix: removing add record buttons from tables, row counter fix
  admin/src/assets/styles/common/_global.scss
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/WebVitalsTable.jsx
Labels: action:needs-review

#1309 fix: removed forgotten test ip
  includes/tool/class-urlslab-tool-geoip.php
Labels: action:needs-review

#1310 fix: fixed php warnings and refresh should change type of serp query …
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-urls.php
  includes/cron/executor/class-urlslab-cron-executor-generator.php
Labels: action:needs-review

#1311 dont store attribution and entries if rating is good
  includes/api/class-urlslab-api-web-vitals.php
Labels: action:needs-review

#1307 feat: floating panel for urls in serp content gap
  admin/src/assets/styles/components/_FloatingPanel.scss
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
Labels: action:needs-review

#1312 2197 2224 2229 bugfixes
  admin/apps/ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/assets/styles/components/_Notifications.scss
  admin/src/assets/styles/components/_NotificationsPanel.scss
  admin/src/components/Notifications.jsx
  admin/src/components/TableFilter.jsx
  admin/src/elements/InputField.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useNotifications.jsx
  admin/src/tables/KeywordsTable.jsx
Labels: status:review-OK

#1313 fix: type check for single select options keys
  admin/src/elements/SingleSelectMenu.jsx
Labels: status:done, status:review-OK
