Repository QualityUnit/wp-urlslab, pull requests merged in 2023-07, with the labels that each got.

#902 feat: minified css cache to file
  composer.lock
  includes/api/class-urlslab-api-css-cache.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#904 fix: if media offloader module not active, cron crashed
  includes/cron/class-urlslab-convert-avif-images-cron.php
  includes/cron/class-urlslab-convert-webp-images-cron.php
Labels: action:needs-review

#883 [1477] url changes panel
  admin/package.json
  admin/src/App.jsx
  admin/src/api/exportCsv.js
  admin/src/api/importCsv.js
  admin/src/app-ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_ChangesPanel.scss
  admin/src/assets/styles/components/_ImageCompare.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ChangesPanel/Chart.jsx
  admin/src/components/DashboardModule.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/Checkbox.jsx
  admin/src/elements/DateTimeFormat.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/modules/KeywordsLinks.jsx
  admin/src/modules/Modules.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/vite.config.js
  admin/yarn.lock
Labels: status:ready-to-merge

#905 [1670] fix: url details panel
  admin/src/components/DetailsPanel.jsx
  admin/src/components/UnifiedPanelMenu.jsx
Labels: action:needs-review

#907 js minification and merging
  admin/src/modules/CssOptimizer.jsx
  admin/src/overview/HtmlOptimizer.jsx
  admin/src/tables/JSCacheTable.jsx
  includes/api/class-urlslab-api-js-cache.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-download-css-cron.php
  includes/cron/class-urlslab-download-js-cron.php
  includes/data/class-urlslab-js-cache-row.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  public/class-urlslab-public.php
  table-names.php
  uninstall.php
  urlslab.php
Labels: action:needs-review

#908 fix: undefined variable warning
  includes/cron/class-urlslab-download-css-cron.php
  includes/cron/class-urlslab-download-js-cron.php
Labels: action:needs-review

#910 fix: chatch exception
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#906 [1390, 1391, 1388] Related Articels and Screenshot Blocks
  admin/vite.config.js
  blocks/.eslintignore
  blocks/.eslintrc
  blocks/.gitignore
  blocks/class-urlslab-blocks.php
  blocks/includes/blocks/class-urlslab-related-articles-elementor.php
  blocks/includes/blocks/class-urlslab-related-articles.php
  blocks/includes/blocks/class-urlslab-screenshot-elementor.php
  blocks/includes/blocks/class-urlslab-screenshot.php
  blocks/includes/class-urlslab-gutenberg-block.php
  blocks/package.json
  blocks/src/api.js
  blocks/src/blocks/related-articles/block.json
  blocks/src/blocks/related-articles/edit.js
  blocks/src/blocks/related-articles/editor.scss
  blocks/src/blocks/related-articles/index.js
  blocks/src/blocks/screenshot/block.json
  blocks/src/blocks/screenshot/edit.js
  blocks/src/blocks/screenshot/editor.scss
  blocks/src/blocks/screenshot/index.js
  blocks/src/components/MediaUpload/index.js
  blocks/src/components/MediaUpload/style.scss
  blocks/src/components/components.scss
  blocks/webpack.config.js
  blocks/yarn.lock
  includes/class-urlslab.php
  includes/widgets/class-urlslab-related-resources-widget.php
  package.json
Labels: status:ready-to-merge, status:review-OK

#911 feat: search and replace rule with login status filter
  admin/src/tables/SearchReplaceTable.jsx
  includes/api/class-urlslab-api-search-replace.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-search-replace-row.php
  includes/widgets/class-urlslab-search-replace.php
  urlslab.php
Labels: status:review-OK

#912 fix: missing file in vendor
  .github/scripts/build-files.sh
Labels: status:done, status:review-OK

#913 fix: minifyu just html files
  includes/class-urlslab.php
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#914 fix: skip processing wordfence javascript tag
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#915 fix: undefined array key
  includes/widgets/class-urlslab-search-replace.php
Labels: action:needs-review

#916 fix: absolute path normalization
  includes/cron/class-urlslab-download-css-cron.php
Labels: action:needs-review

#917 feat: fix link protocol
  includes/class-urlslab-url.php
  includes/widgets/class-urlslab-link-enhancer.php
Labels: action:needs-review

#918 feat: configurable minification of HTML
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#919 fix: keep order of merged files
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#920 reset cache when settings changed
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#921 [1684] feat: fixes to changes table, filters with 0 fixed saving in #1672
  admin/src/assets/images/icons/icon-anchor.svg
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/common/_variables.scss
  admin/src/assets/styles/components/_ChangesPanel.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ChangesPanel/Chart.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/vite.config.js
Labels: action:needs-review

#922 remove js merge feature - it was not working as expected
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#923 [1684] fix: added tooltip preview on changes panel
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
Labels: action:needs-review

#943 fix: missing localization function
  admin/src/elements/SuggestInputField.jsx
Labels: status:done, status:review-OK

#945 [Bug]: Wrong width of side menu when is nothing activated
  admin/src/assets/styles/components/_MainMenu.scss
Labels: status:review-OK

#946 [Bug]: Usage Popup doesn't show data
  admin/src/assets/styles/components/_Panel.scss
Labels: status:done, status:review-OK

#948 Image Diff Comparator
  admin/apps/ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/assets/images/icons/icon-adjacent-screen.svg
  admin/src/assets/images/icons/icon-overlay-no-diff.svg
  admin/src/assets/images/icons/icon-overlay-with-diff.svg
  admin/src/assets/images/icons/icon-search-white.svg
  admin/src/assets/images/icons/icon-search-zoom-in.svg
  admin/src/assets/images/icons/icon-search-zoom-out.svg
  admin/src/assets/styles/common/_variables.scss
  admin/src/assets/styles/components/_ChangesPanel.scss
  admin/src/assets/styles/components/_DateRangePicker.scss
  admin/src/assets/styles/components/_ImageCompare.scss
  admin/src/assets/styles/components/_Loader.scss
  admin/src/assets/styles/elements/_DiffButton.scss
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
  admin/src/comparator/diffComparator.worker.js
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ChangesPanel/Chart.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/elements/DateRangeButton.jsx
  admin/src/elements/DiffButton.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useChangesChartDate.jsx
  admin/src/tables/LinkManagerTable.jsx
  composer.lock
  includes/api/class-urlslab-api-urls.php
  includes/cron/class-urlslab-screenshots-cron.php
  package.json
  webpack.config.js
  yarn.lock
Labels: action:needs-review

#949 changed text and close button position
  admin/src/assets/styles/components/_ImageCompare.scss
  admin/src/components/ImageCompare.jsx
Labels: action:needs-review

#951 FAQ module
  .github/scripts/build-files-dev.sh
  admin/src/modules/Faq.jsx
  admin/src/overview/Faqs.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  composer.json
  composer.lock
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab-available-widgets.php
  includes/class-urlslab.php
  includes/data/class-urlslab-faq-row.php
  includes/data/class-urlslab-faq-url-row.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-related-resources-widget.php
  table-names.php
  uninstall.php
  urlslab.php
Labels: action:needs-review

#950 Added shortcode Name
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-generator-shortcode-row.php
  includes/widgets/class-urlslab-lazy-loading.php
  urlslab.php
Labels: action:changes-requested

#952 fix: fatal error
  includes/data/class-urlslab-generator-shortcode-row.php
Labels: action:needs-review

#953 fix: with drop of cloudfront cache will be droped also all cache files
  includes/api/class-urlslab-api-cache-rules.php
Labels: action:needs-review

#954 fix: don't remove http(s) from urls in head - e.g. canonical should keep protocol
  includes/class-urlslab.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#955 fix: deleted page should not be in related resources
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#956 fix: sql error in create script
  includes/class-urlslab-activator.php
Labels: action:needs-review

#957 feat: add hreflang attribute if avalable in url
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-link-enhancer.php
  urlslab.php
Labels: action:needs-review

#958 feat: skip validation of blacklisted domains or invalid urls
  includes/cron/class-urlslab-update-url-http-status-cron.php
Labels: action:needs-review

#959 feat: skip processing javascript urls and show lang attribute in urls
  admin/src/tables/LinkManagerTable.jsx
  includes/class-urlslab-url.php
Labels: action:needs-review

#947 [Bug]: Onboarding fixes
  admin/src/App.jsx
  admin/src/assets/images/icons/icon-error.svg
  admin/src/assets/styles/elements/_Button.scss
  admin/src/assets/styles/layouts/_Onboarding.scss
  admin/src/components/Credits.jsx
  admin/src/hooks/useCheckApiKey.jsx
  admin/src/hooks/useOnboarding.jsx
  admin/src/onboarding/Content.jsx
  admin/src/onboarding/Header.jsx
  admin/src/onboarding/steps/StepApiKey.jsx
  admin/src/onboarding/steps/StepModules.jsx
  admin/src/onboarding/steps/StepSchedule.jsx
  admin/src/queries/useCreditsQuery.jsx
  admin/src/queries/useGeneralQuery.jsx
  admin/src/queries/useModulesQuery.jsx
Labels: action:needs-review, DO NOT MERGE, status:in-progress

#963 feat: detect content language of url
  includes/cron/class-urlslab-update-url-http-status-cron.php
Labels: action:needs-review

#965 related resources locking and url seo priority
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/URLRelationTable.jsx
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-related-resources-cron.php
  includes/data/class-urlslab-url-relation-row.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-related-resources-widget.php
  urlslab.php
Labels: action:needs-review

#966 [1755] fix: update function on checkbox true/false
  admin/src/hooks/useChangeRow.jsx
Labels: status:done, status:review-OK

#967 fix: don't remove spaces between tags in body content, just in headers
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/class-urlslab-activator.php
  includes/widgets/class-urlslab-html-optimizer.php
Labels: action:needs-review

#968 Change the Font Family
  admin/src/assets/styles/components/datepicker/_variables.scss
  admin/src/assets/styles/components/datepicker/datepicker.scss
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
Labels: status:review-OK

#964 [1741] fix: popup on small displays
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
Labels: status:review-OK

#969 fix: trim values imported from page
  includes/widgets/class-urlslab-faq.php
Labels: status:review-OK

#970 fix_offloading_xxhash_lib
  admin/public/jslib/xxhash.min.js
  admin/src/comparator/diffComparator.worker.js
Labels: status:review-OK

#971 fix: checkbox blinking, 1761 missing faq module icon
  admin/public/images/modules/faq.svg
  admin/src/assets/images/modules/faq.svg
  admin/src/assets/images/modules/urlslab-related-resources.png
  admin/src/elements/Checkbox.jsx
Labels: status:review-OK

#972 fix: minification of spaces between tags, handling of duplicate links
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-link-enhancer.php
Labels: status:review-OK

#974 feat: unify priorities of entities as seo rank field with values 0 - 100
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/URLRelationTable.jsx
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-related-resources-widget.php
  urlslab.php
Labels: status:done, status:review-OK

#976 feat: top competitors
  admin/src/modules/Serp.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/class-urlslab-api-router.php
  includes/data/class-urlslab-serp-domain-row.php
  includes/widgets/class-urlslab-serp.php
Labels: action:needs-review

#977 fix: serp api billing type and context
  admin/src/tables/CreditsTable.jsx
  composer.lock
  includes/api/class-urlslab-api-billing.php
Labels: action:needs-review

#979 [Bug] React minified error
  admin/class-urlslab-admin.php
Labels: status:done, status:review-OK

#978 chore: hide S3 related features
  admin/src/tables/MediaFilesTable.jsx
  includes/api/class-urlslab-api-files.php
  includes/cron/class-urlslab-offload-transfer-files-cron.php
  includes/driver/class-urlslab-driver.php
  includes/widgets/class-urlslab-media-offloader-widget.php
Labels: status:done, status:review-OK

#981 feat: domain types, query types
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-serp-domain-row.php
  includes/data/class-urlslab-serp-query-row.php
  includes/widgets/class-urlslab-serp.php
  urlslab.php
Labels: action:needs-review

#982 feat: add serp domains manually
  admin/src/modules/Serp.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/data/class-urlslab-serp-domain-row.php
Labels: action:needs-review

#984 fix: m.me should be blacklisted url
  includes/class-urlslab-url.php
Labels: action:needs-review

#985 integrating search console
  admin/src/api/fetchLangs.js
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/CountryMenu.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/lib/tableImports.js
  admin/src/modules/Serp.jsx
  admin/src/overview/Serp.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  composer.lock
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-languages.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-qgroups.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-generators-cron.php
  includes/cron/class-urlslab-gsc-cron.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-gsc-position-row.php
  includes/data/class-urlslab-gsc-site-row.php
  includes/data/class-urlslab-serp-position-row.php
  includes/data/class-urlslab-serp-qgroup-query-row.php
  includes/data/class-urlslab-serp-qgroup-row.php
  includes/data/class-urlslab-serp-query-row.php
  includes/widgets/class-urlslab-general.php
  includes/widgets/class-urlslab-serp.php
  table-names.php
  uninstall.php
  urlslab.php
Labels: action:needs-review

#987 Content Gap Report
  admin/src/lib/filterOperators.js
  admin/src/modules/Serp.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/cron/class-urlslab-gsc-cron.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-serp-query-row.php
  includes/widgets/class-urlslab-serp.php
Labels: action:needs-review
