Repository QualityUnit/wp-urlslab, pull requests merged in 2023-06, with the labels that each got.

#810 chore: debug html comment
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#811 [1568] fix: filtering menu visible on hidden columns of that type
  admin/src/assets/styles/components/_FloatingPanel.scss
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/hooks/useInfiniteFetch.jsx
Labels: action:needs-review

#812 chore: test debug message
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: status:review-OK

#809 [1489] feat: redesign of video block with title, duration and info
  admin/src/components/ModuleViewHeaderBottom.jsx
  assets/images/play.svg
  assets/images/videocam.svg
  assets/js/urlslab-lazyload.js
  assets/scss/urlslab_youtube_loader.scss
  includes/widgets/class-urlslab-lazy-loading.php
  package.json
  public/build/css/urlslab_youtube_loader.css
  public/build/images/play..svg
  public/build/images/videocam..svg
  public/build/js/urlslab-lazyload.js
Labels: status:review-OK

#813 fix: related resources not visible - wrong url
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#814 [1575] feat: export button for url details panel (outgoing links)
  admin/src/components/DetailsPanel.jsx
Labels: status:review-OK

#834 fix: unterminated entity reference
  composer.lock
  includes/widgets/class-urlslab-lazy-loading.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/CustomerProfiles/CustomerProfilesClient.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/WorkSpacesWeb/WorkSpacesWebClient.php
  vendor/aws/aws-sdk-php/src/data/alexaforbusiness/2017-11-09/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/alexaforbusiness/2017-11-09/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/appflow/2020-08-23/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/config/2014-11-12/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/customer-profiles/2020-08-15/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/customer-profiles/2020-08-15/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/frauddetector/2019-11-15/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/healthlake/2017-07-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/healthlake/2017-07-01/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/ivs/2020-07-14/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/m2/2021-04-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/m2/2021-04-28/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/rds/2014-10-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/workspaces-web/2020-07-08/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/workspaces-web/2020-07-08/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/workspaces-web/2020-07-08/paginators-1.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: action:needs-review

#835 [1570] fix: fixing delete selected function
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/hooks/useChangeRow.jsx
Labels: action:needs-review

#836 [1586] fix: bug when defaultvalue prop on single select menu
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/tables/SchedulesTable.jsx
Labels: status:review-OK

#837 Update ul api
  composer.lock
  includes/cron/class-urlslab-screenshots-cron.php
  includes/cron/class-urlslab-summaries-cron.php
  vendor/autoload.php
  vendor/aws/aws-sdk-php/src/Api/Service.php
  vendor/aws/aws-sdk-php/src/Api/Shape.php
  vendor/aws/aws-sdk-php/src/Athena/AthenaClient.php
  vendor/aws/aws-sdk-php/src/AwsClient.php
  vendor/aws/aws-sdk-php/src/ClientResolver.php
  vendor/aws/aws-sdk-php/src/CloudTrail/CloudTrailClient.php
  vendor/aws/aws-sdk-php/src/EndpointV2/Ruleset/RulesetStandardLibrary.php
  vendor/aws/aws-sdk-php/src/Multipart/AbstractUploadManager.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/WAFV2/WAFV2Client.php
  vendor/aws/aws-sdk-php/src/WrappedHttpHandler.php
  vendor/aws/aws-sdk-php/src/data/athena/2017-05-18/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/cloudtrail/2013-11-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/docs/Api/CreditsApi.md
  vendor/urlslab/urlslab-php-sdk/docs/Model/DomainUserCreditAggregatedCreditEvents.md
  vendor/urlslab/urlslab-php-sdk/docs/Model/DomainUserCreditCreditEvent.md
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
  vendor/urlslab/urlslab-php-sdk/lib/Model/DomainUserCreditAggregatedCreditEvents.php
  vendor/urlslab/urlslab-php-sdk/lib/Model/DomainUserCreditCreditEvent.php
  vendor/urlslab/urlslab-php-sdk/lib/Urlslab/CreditsApi.php
Labels: action:needs-review

#838 [1591] fix: multiple bug fixes for adding new items to table
  admin/src/components/DetailsPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/tables/KeywordsTable.jsx
Labels: status:done, status:review-OK

#839 fix: sql should accept url_id parameter
  includes/api/class-urlslab-api-keywords.php
Labels: action:needs-review

#841 fix: screenshot url is computed value, it can not be used for sorting
  admin/src/tables/ScreenshotTable.jsx
Labels: action:needs-review

#842 fix: urls with query parameters should be handled correctly
  includes/api/class-urlslab-api-keywords.php
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-generators-cron.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-meta-tag.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-search-replace.php
  includes/widgets/class-urlslab-widget.php
Labels: action:needs-review

#843 [1585] fix: removed screenshot_thumbnail_url from filters
  admin/src/tables/ScreenshotTable.jsx
Labels: action:needs-review

#846 fix: show related articles just on singular pages of specific post type
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#848 fix: exclude from processing admin toolbar
  includes/data/class-urlslab-url-row.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
Labels: action:needs-review

#852 fixed the bug with sitemap
  composer.lock
  includes/class-urlslab.php
Labels: action:needs-review

#853 Fixed bug with css optimizer
  docker/dev/docker-compose.yaml
  docker/dev/wordpress.dockerfile
  includes/cron/class-urlslab-download-css-cron.php
  includes/widgets/class-urlslab-css-optimizer.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
Labels: status:review-OK

#857 header theme bugfix
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-download-css-cron.php
Labels: status:review-OK

#858 final version hpefully :)
  includes/cron/class-urlslab-download-css-cron.php
Labels: status:review-OK

#859 Added completion Endpoint
  docker/dev/docker-compose.yaml
  docker/dev/wordpress.dockerfile
  includes/api/class-urlslab-api-base.php
  includes/api/class-urlslab-api-generators.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-augment-helper.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-generators-cron.php
  vendor/autoload.php
  vendor/composer/ClassLoader.php
  vendor/composer/LICENSE
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Labels: status:review-OK

#860 Youtube Transcription endpoint
  includes/api/class-urlslab-api-generators.php
  includes/class-urlslab-yt-helper.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-youtube-cron.php
Labels: status:review-OK

#862 Bug Fix for urlslab HTTP Status
  includes/cron/class-urlslab-update-url-http-status-cron.php
Labels: action:needs-review

#863 Time Sync Bug fix
  admin/src/components/SettingsOption.jsx
  includes/api/class-urlslab-api-settings.php
  includes/cron/class-urlslab-optimize-cron.php
  includes/widgets/class-urlslab-optimize.php
Labels: status:review-OK

#864 Status Check endpoint
  composer.lock
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-summaries-helper.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-summaries-cron.php
  vendor/aws/aws-sdk-php/src/AmplifyUIBuilder/AmplifyUIBuilderClient.php
  vendor/aws/aws-sdk-php/src/Connect/ConnectClient.php
  vendor/aws/aws-sdk-php/src/Ec2/Ec2Client.php
  vendor/aws/aws-sdk-php/src/Rekognition/RekognitionClient.php
  vendor/aws/aws-sdk-php/src/S3/CalculatesChecksumTrait.php
  vendor/aws/aws-sdk-php/src/Sdk.php
  vendor/aws/aws-sdk-php/src/SecurityHub/SecurityHubClient.php
  vendor/aws/aws-sdk-php/src/WellArchitected/WellArchitectedClient.php
  vendor/aws/aws-sdk-php/src/data/acm-pca/2017-08-22/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/amplifyuibuilder/2021-08-11/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/amplifyuibuilder/2021-08-11/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/cloudtrail/2013-11-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/connect/2017-08-08/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/connect/2017-08-08/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/drs/2020-02-26/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/drs/2020-02-26/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/ec2/2016-11-15/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/ec2/2016-11-15/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/endpoints.json.php
  vendor/aws/aws-sdk-php/src/data/fsx/2018-03-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/lightsail/2016-11-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/manifest.json.php
  vendor/aws/aws-sdk-php/src/data/opensearch/2021-01-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/partitions.json.php
  vendor/aws/aws-sdk-php/src/data/rekognition/2016-06-27/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/rekognition/2016-06-27/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/data/s3/2006-03-01/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/sagemaker/2017-07-24/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/securityhub/2018-10-26/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/simspaceweaver/2022-10-28/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/streams.dynamodb/2012-08-10/endpoint-rule-set-1.json.php
  vendor/aws/aws-sdk-php/src/data/wafv2/2019-07-29/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/wellarchitected/2020-03-31/api-2.json.php
  vendor/aws/aws-sdk-php/src/data/wellarchitected/2020-03-31/paginators-1.json.php
  vendor/aws/aws-sdk-php/src/drs/drsClient.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/urlslab/urlslab-php-sdk/README.md
  vendor/urlslab/urlslab-php-sdk/composer.json
  vendor/urlslab/urlslab-php-sdk/lib/Configuration.php
Labels: status:review-OK

#865 Bug fix with Switches
  includes/api/class-urlslab-api-settings.php
  includes/widgets/class-urlslab-widget.php
Labels: status:review-OK

#870 urlslab-sdk_fix
  .github/scripts/build-files.sh
Labels: action:needs-review

#873 [1433] Unified popup
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/components/_UnifiedPanelMenu.scss
  admin/src/components/ColorPicker.jsx
  admin/src/components/DangerPanel.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TablePanels.jsx
  admin/src/components/UnifiedPanelMenu.jsx
  admin/src/elements/Button.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/SearchField.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/hooks/useCloseModal.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#874 [1477] Editor generator results
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
Labels: status:review-OK

#875 [1638] feat: required field info added, fixing few bugs
  admin/src/app-ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/assets/styles/elements/_Inputs.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/elements/Editor.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/elements/Textarea.jsx
  admin/src/tables/GeneratorResultTable.jsx
Labels: status:review-OK

#877 Added screenshot to history api
  composer.lock
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab.php
  includes/data/class-urlslab-url-row.php
  includes/urlslab-helper.php
Labels: status:done, status:review-OK

#880 fix: lazy content loading
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#879 AWS sdk php
  .github/scripts/build-files.sh
Labels: action:needs-review

#876 [Bug]: Reload the number of credits when I add/update API key
  admin/src/components/SettingsOption.jsx
Labels: action:needs-review

#881 feat: HTML minification
  includes/class-urlslab.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-search-replace.php
Labels: action:needs-review

#882 feat: CSS minification and merge
  composer.json
  composer.lock
  includes/class-urlslab-available-widgets.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-download-css-cron.php
  includes/widgets/class-urlslab-css-optimizer.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-search-replace.php
  public/class-urlslab-public.php
Labels: action:needs-review

#884 Updating Readme
  .github/scripts/build-files-dev.sh
  README.md
Labels: status:review-OK
