Repository QualityUnit/wp-urlslab, pull requests merged in 2023-11, with the labels that each got.

#1308 serp volumes
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  composer.lock
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-activator.php
  includes/connection/class-urlslab-connection-serp.php
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/cron/class-urlslab-cron-download-css.php
  includes/cron/class-urlslab-cron-download-js.php
  includes/cron/class-urlslab-cron-faq.php
  includes/cron/class-urlslab-cron-generator.php
  includes/cron/class-urlslab-cron-gsc.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-cron-offload-background-attachments.php
  includes/cron/class-urlslab-cron-offload-enqueue-files.php
  includes/cron/class-urlslab-cron-offload-transfer-files.php
  includes/cron/class-urlslab-cron-redirects.php
  includes/cron/class-urlslab-cron-related-resources.php
  includes/cron/class-urlslab-cron-screenshots.php
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/cron/class-urlslab-cron-serp.php
  includes/cron/class-urlslab-cron-summaries.php
  includes/cron/class-urlslab-cron-update-url-http-status.php
  includes/cron/class-urlslab-cron-youtube.php
  includes/cron/class-urlslab-cron.php
  includes/data/class-urlslab-data-serp-query.php
  includes/widget/class-urlslab-widget-serp.php
  urlslab.php
Labels: action:needs-review

#1314 feat: show volume in query detail
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1315 Volumes in URLs
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-table-sql.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-serp-url.php
  urlslab.php
Labels: action:needs-review

#1329 fix: fixed php warnings
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1332 fix: volumes with null date were not loaded
  includes/cron/class-urlslab-cron-serp-volumes.php
Labels: action:needs-review

#1333 feat: add traffic value to competitor domains
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-competitors.php
Labels: action:needs-review

#1334 fix: php warnings
  includes/api/class-urlslab-api-serp-queries.php
  includes/data/class-urlslab-data-serp-query.php
Labels: action:needs-review

#1335 fix: sql optimization
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/data/class-urlslab-data-serp-query.php
  urlslab.php
Labels: action:needs-review

#1336 fix: content gap rework
  includes/api/class-urlslab-api-serp-gap.php
  includes/executor/class-urlslab-executor-download-url.php
  includes/executor/class-urlslab-executor-download-urls-batch.php
  includes/executor/class-urlslab-executor-url-intersection.php
  includes/executor/class-urlslab-executor.php
Labels: action:needs-review

#1337 rename module serp monitoring to seo rank tracker
  admin/src/overview/Serp.jsx
  includes/api/class-urlslab-api-labels.php
  includes/widget/class-urlslab-widget-serp.php
  readme.txt
Labels: action:needs-review

#1338 fix: incorrect country_volume table cell
  admin/src/tables/SerpQueriesTable.jsx
Labels: action:needs-review

#1339 chore: fix task executor
  includes/executor/class-urlslab-executor.php
Labels: action:needs-review

#1341 Cluster URLs
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1342 Volume data error handling
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/data/class-urlslab-data-serp-query.php
Labels: action:needs-review

#1343 added installation id column
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/UsageTable.jsx
Labels: action:needs-review

#1344 fix: add message about missing data from serp volumes
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/widget/class-urlslab-widget-serp.php
Labels: action:needs-review

#1345 fix: add more blacklisted characters to serp volume search
  includes/cron/class-urlslab-cron-serp-volumes.php
Labels: action:needs-review

#1340 Preprocess SERP Content Gap urls
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/buttonTheme.js
  admin/src/app/mui_joy/themes/iconButtonTheme.js
  admin/src/app/mui_joy/themes/tagTheme.js
  admin/src/assets/images/icons/icon-checkmark-circle.svg
  admin/src/assets/images/icons/icon-link-disabled.svg
  admin/src/assets/images/icons/icon-minus-circle.svg
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/assets/styles/elements/_IconButton.scss
  admin/src/assets/styles/layouts/ContentGapTableCells.scss
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/elements/CountrySelect.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
Labels: action:needs-review

#1347 fix: colors in gap
  admin/src/tables/SerpContentGapTable.jsx
Labels: action:needs-review

#1346 Bugfixes november v1
  admin/src/components/SettingsOption.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/SchedulesTable.jsx
Labels: action:needs-review

#1348 fix: values in volumes
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
Labels: action:needs-review

#1349 fix: show also searching query
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/tables/SerpContentGapTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1351 I2260
  admin/src/lib/queryColumns.js
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1352 Bug fix keyword analysis
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/data/class-urlslab-data-serp-query.php
  urlslab.php
Labels: action:needs-review

#1354 Added new open AI models
  admin/apps/ai-content-assistant/src/components/AdvancedSettings.tsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  composer.lock
  includes/api/class-urlslab-api-shortcodes.php
  includes/connection/class-urlslab-connection-augment.php
  includes/cron/executor/class-urlslab-cron-executor-generator.php
  includes/default/class-urlslab-default-prompt-template.php
  includes/executor/class-urlslab-executor-generate.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-faq.php
Labels: status:review-OK

#1355 bug fix for faqs
  admin/apps/ai-content-assistant/src/app/stateReducer.ts
  admin/apps/ai-content-assistant/src/components/AdvancedSettings.tsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  composer.lock
  includes/api/class-urlslab-api-shortcodes.php
  includes/connection/class-urlslab-connection-augment.php
  includes/cron/class-urlslab-cron-generator.php
  includes/cron/class-urlslab-cron.php
  includes/cron/executor/class-urlslab-cron-executor-generator.php
  includes/data/class-urlslab-data-generator-task.php
  includes/default/class-urlslab-default-prompt-template.php
  includes/executor/class-urlslab-executor-generate.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-faq.php
Labels: action:needs-review

#1350 I2147 content gap panel responsive
  admin/src/api/fetchCountries.js
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/checkboxTheme.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/TableComponent.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/styledComponents/gapDetail.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1356 faq answer scheduling bugfix
  includes/cron/class-urlslab-cron-faq.php
Labels: action:needs-review

#1353 fix: web vitals color and queries columns
  admin/src/lib/queryColumns.js
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  composer.lock
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-url.php
Labels: action:needs-review

#1357 fix: table footer width
  admin/src/components/TableComponent.jsx
Labels: status:review-OK

#1358 show all serp urls columns
  admin/src/lib/serpQueryColumns.js
  admin/src/lib/serpUrlColumns.js
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1359 fix: optimization task locking
  includes/cron/class-urlslab-cron-optimize.php
Labels: action:needs-review

#1360 fixed deleting transient options
  includes/api/class-urlslab-api-optimize.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/widget/class-urlslab-widget-optimize.php
  urlslab.php
Labels: status:review-OK

#1361 extended blacklist
  includes/cron/class-urlslab-cron-serp-volumes.php
Labels: action:needs-review

#1362 fix: changed name of column competition index
  admin/src/lib/serpQueryColumns.js
Labels: action:needs-review

#1363 feat: activate all widgets on first installation
  includes/class-urlslab-user-widget.php
Labels: action:needs-review

#1364 encrypt sensitive settings
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget.php
Labels: action:needs-review

#1365 I2269 checkbox in table bug
  admin/src/components/EditRowPanel.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/URLRelationTable.jsx
Labels: status:review-OK

#1366 [2268] fix: sorting when changing sorting columns
  admin/src/hooks/useFilteringSorting.jsx
Labels: action:needs-review

#1367 fix: remove tags from 404 log table
  admin/src/tables/NotFoundTable.jsx
Labels: action:needs-review

#1368 fix: memory limit reached when adding tag to media files
  includes/api/class-urlslab-api-table.php
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1369 sql speed improvements
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-update-url-http-status.php
  includes/widget/class-urlslab-widget-link-enhancer.php
  urlslab.php
Labels: action:needs-review

#1370 fix: improve speed of files table api
  admin/src/tables/MediaFilesTable.jsx
  includes/api/class-urlslab-api-files.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-file.php
  includes/widget/class-urlslab-widget-media-offloader.php
  urlslab.php
Labels: action:needs-review

#1371 fix: precompute usage of urls and screenshots
  admin/src/tables/LinkManagerTable.jsx
  includes/api/class-urlslab-api-meta-tags.php
  includes/api/class-urlslab-api-screenshots.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-link-enhancer.php
  includes/widget/class-urlslab-widget-screenshot.php
  urlslab.php
Labels: action:needs-review

#1372 fix: hide warning in file driver
  includes/driver/class-urlslab-driver-file.php
Labels: action:needs-review

#1373 fix: special characters in content gap
  includes/executor/class-urlslab-executor-download-url.php
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1375 feat: generate just unique strings in content gap,
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1377 fix: remove kw just of number of words is same as substring
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1378 I2277 content gap requests
  admin/src/api/fetching.js
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/buttonTheme.js
  admin/src/components/RowCounter.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/elements/MultiSelectBox.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/lib/helpers.js
  admin/src/lib/serpContentGapHelpers.js
  admin/src/lib/serpQueryColumns.js
  admin/src/lib/serpUrlColumns.js
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  includes/api/class-urlslab-api-serp-gap.php
  includes/data/class-urlslab-data-kw-intersections.php
  includes/executor/class-urlslab-executor-download-url.php
  includes/executor/class-urlslab-executor-url-intersection.php
Labels: action:needs-review

#1376 fix: return capabilities and roles as array and not string
  includes/api/class-urlslab-api-redirects.php
  includes/data/class-urlslab-data-redirect.php
Labels: action:needs-review

#1379 Bugfixes november v2
  admin/src/components/EditRowPanel.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TableRow.jsx
  admin/src/elements/CapabilitiesMenu.jsx
  admin/src/elements/Checkbox.jsx
  admin/src/elements/Editor.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/RolesMenu.jsx
  admin/src/elements/RowActionButtons.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/Switch.jsx
  admin/src/elements/TagsFilterMenu.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/elements/TextAreaEditable.jsx
  admin/src/elements/Textarea.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/queries/usePrefetchQueries.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-permissions.php
Labels: action:needs-review

#1380 fix: empty string object key in select input
  admin/src/elements/SingleSelectMenu.jsx
Labels: action:needs-review

#1382 fix: url_name filter should not have protocol
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
Labels: action:needs-review

#1383 fix: added warning, that minification can corrupt HTML
  includes/widget/class-urlslab-widget-html-optimizer.php
Labels: action:needs-review

#1384 fix: added group information for each widget
  includes/api/class-urlslab-api-modules.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-custom-html.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-image-alt-text.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-related-resources.php
  includes/widget/class-urlslab-widget-search-replace.php
  includes/widget/class-urlslab-widget-serp.php
  includes/widget/class-urlslab-widget-urls.php
  includes/widget/class-urlslab-widget-web-vitals.php
  includes/widget/class-urlslab-widget.php
Labels: action:needs-review

#1385 fix: merge alt text image widget to urls module
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-available-widgets.php
  includes/widget/class-urlslab-widget-image-alt-text.php
  includes/widget/class-urlslab-widget-urls.php
Labels: status:done, status:review-OK

#1386 fix: define timeout for URL download, show mesage in content gap
  admin/src/lib/serpContentGapHelpers.js
  includes/executor/class-urlslab-executor-download-url.php
Labels: status:done, status:review-OK

#1387 fix: remove not needed settings
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/cron/class-urlslab-cron-update-url-http-status.php
  includes/data/class-urlslab-data-serp-query.php
  includes/data/class-urlslab-data-serp-url.php
  includes/widget/class-urlslab-widget-serp.php
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1388 fix: skip html optimization for logged in users
  includes/widget/class-urlslab-widget-html-optimizer.php
Labels: action:needs-review

#1389 fix: sql errors
  includes/class-urlslab-activator.php
Labels: action:needs-review

#1390 fix: missing function is_user_logged_in()
  includes/class-urlslab-activator.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  urlslab.php
Labels: status:review-OK

#1392 fix: fix urls
  admin/src/tables/UrlsTable.jsx
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab.php
  urlslab.php
Labels: status:review-OK

#1393 fix: limits in serp module
  includes/cron/class-urlslab-cron-serp.php
  includes/widget/class-urlslab-widget-serp.php
Labels: action:needs-review

#1394 I2327 content gap monitoring
  admin/src/components/ContentGapMonitoringPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TablePanels.jsx
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/lib/helpers.js
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
Labels: action:needs-review

#1395 fix: lazy loading - support css selectors
  composer.json
  composer.lock
  includes/widget/class-urlslab-widget-lazy-loading.php
Labels: action:needs-review

#1397 requesting serp data with adding query api call
  admin/src/components/Credits.jsx
  admin/src/components/Header.jsx
  admin/src/modules/Serp.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/SerpContentGapTable.jsx
  composer.lock
  includes/api/class-urlslab-api-serp-queries.php
  includes/connection/class-urlslab-connection-serp.php
  includes/cron/class-urlslab-cron-serp.php
  includes/widget/class-urlslab-widget-general.php
Labels: action:needs-review

#1400 fix: add missing title and description for current page
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1401 fix: query and url detail tables
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
Labels: action:needs-review

#1402 fix: word combination prefill with all values
  admin/src/hooks/useSerpGapCompare.jsx
Labels: action:needs-review

#1403 feat: fixes from v3, cherrypicked
  admin/apps/ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/api/fetchLangs.js
  admin/src/api/importCsv.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/DeletePanel.jsx
  admin/src/components/ImportPanel.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/CapabilitiesMenu.jsx
  admin/src/elements/DateTimeFormat.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/LangMenu.jsx
  admin/src/elements/RolesMenu.jsx
  admin/src/elements/Switch.jsx
  admin/src/elements/TextAreaEditable.jsx
  admin/src/elements/Textarea.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/queries/usePrefetchQueries.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-permissions.php
Labels: action:needs-review

#1404 Bugfixes november v4
  admin/src/app/mui_joy/themes/tooltipTheme.js
  admin/src/assets/styles/common/_global.scss
  admin/src/components/TableRow.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
Labels: action:needs-review

#1405 fatal error - variable type
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-tasks.php
  includes/cron/class-urlslab-cron-generator.php
  includes/data/class-urlslab-data-task.php
Labels: status:review-OK

#1406 fix: if more ip addresses stored, evaluate country for first
  includes/tool/class-urlslab-tool-geoip.php
Labels: status:review-OK

#1399 ai generator bugfix processing
  includes/api/class-urlslab-api-labels.php
  includes/cron/class-urlslab-cron-generator.php
  includes/cron/class-urlslab-cron-serp.php
  includes/cron/executor/class-urlslab-cron-executor-generator.php
  includes/widget/class-urlslab-widget-faq.php
Labels: action:needs-review

#1408 Bugfixes november v5
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TableRow.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  includes/api/class-urlslab-api-process.php
Labels: action:needs-review

#1411 Installation via Git
  README.md
Labels: status:review-OK

#1410 Bugfixes with plugin installation and update steps
  includes/class-urlslab-activator.php
  includes/class-urlslab.php
  urlslab.php
Labels: action:needs-review, action:needs-testing

#1412 fix: on insert of duplicate query update the status to reupdate the query data
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1413 fix: deleting plugin transient data and fix uninstall
  includes/widget/class-urlslab-widget-optimize.php
  uninstall.php
Labels: action:needs-review

#1414 fix: hide links pointing to 404
  admin/src/tables/UrlsTable.jsx
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-related-resources.php
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1415 fix: path to urlslab-lazyload.js
  includes/class-urlslab-public.php
Labels: action:needs-review

#1416 fix: #2314, #2316, #2325
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/elements/_BackButton.scss
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/UrlsTable.jsx
Labels: action:needs-review

#1417 Added more symbols to volume blacklist
  includes/cron/class-urlslab-cron-serp-volumes.php
Labels: action:needs-review

#1419 fix: skip processing of blacklisted domains
  includes/cron/class-urlslab-cron-related-resources.php
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1420 fix: apply limit on all queries, not just valid
  includes/connection/class-urlslab-connection-serp.php
Labels: action:needs-review

#1418 feat: complex conditions for html injection, caching or search and replace
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-search-replace.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-cache-rule.php
  includes/data/class-urlslab-data-custom-html.php
  includes/data/class-urlslab-data-search-replace.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-custom-html.php
  includes/widget/class-urlslab-widget-search-replace.php
  urlslab.php
Labels: action:needs-review

#1421 plugin translations = php part
  .github/scripts/build-files-dev.sh
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-tasks.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-i18n.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/executor/class-urlslab-executor-download-url.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-custom-html.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-related-resources.php
  includes/widget/class-urlslab-widget-search-replace.php
  includes/widget/class-urlslab-widget-serp.php
  includes/widget/class-urlslab-widget-urls.php
  includes/widget/class-urlslab-widget-web-vitals.php
  includes/widget/class-urlslab-widget.php
  includes/wpwidget/class-urlslab-wpwidget-screenshot.php
  languages/urlslab-screenshot.pot
  languages/urlslab.pot
Labels: status:review-OK

#1422 skip blacklisted urls
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-cron-related-resources.php
  includes/cron/class-urlslab-cron-update-url-http-status.php
  includes/data/class-urlslab-data-url-fetcher.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1424 Optimize delete api
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-urls.php
  includes/data/class-urlslab-data-file-url.php
  includes/data/class-urlslab-data-keyword-map.php
  includes/data/class-urlslab-data-url-map.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1426 fix: fatal error is_blacklisted
  includes/widget/class-urlslab-widget-link-builder.php
Labels: action:needs-review

#1425 Content gap fixes
  admin/src/app/mui_joy/theme.js
  admin/src/assets/styles/layouts/ContentGapTableCells.scss
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/detailsPanel/gapDetailPanelParts/GapDetailMainSettings.jsx
  admin/src/components/detailsPanel/gapDetailPanelParts/GapDetailUrlsSettings.jsx
  admin/src/hooks/useSerpGapCompare.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/tables/SerpContentGapTable.jsx
Labels: status:review-OK

#1423 fix: #2317, #2374 signal cancels cron immediately
  admin/src/api/cron.js
  admin/src/assets/styles/elements/_BackButton.scss
  admin/src/components/CronRunner.jsx
  admin/src/components/RowCounter.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/lib/serpContentGapHelpers.js
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
Labels: action:needs-review

#1428 fix: don't track urls for logged in user and search
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1430 fix: media files were not uploaded to db driver
  includes/api/class-urlslab-api-files.php
  includes/cron/class-urlslab-cron-convert-images.php
  includes/cron/class-urlslab-cron-offload-background-attachments.php
  includes/driver/class-urlslab-driver.php
Labels: action:needs-review

#1432 fix: reprocess files with missing file pointer
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1431 feat: improvements for texts in web vitals
  admin/src/modules/WebVitals.jsx
  admin/src/overview/WebVitals.jsx
  admin/src/tables/WebVitalsTable.jsx
  includes/widget/class-urlslab-widget-web-vitals.php
Labels: action:needs-review

#1434 fix: fatal error - task_row is empty if video
  includes/cron/class-urlslab-cron-generator.php
Labels: action:needs-review

#1437 fix: fatal error - url name empty
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-url.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-link-builder.php
Labels: action:needs-review

#1438 fix: don't measure web vitals for logged in user, search and 404 page
  admin/src/tables/WebVitalsTable.jsx
  includes/api/class-urlslab-api-web-vitals.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-optimize.php
  includes/data/class-urlslab-data-web-vital.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-web-vitals.php
  urlslab.php
Labels: action:needs-review

#1439 Bug fix for caching in image comparison
  admin/src/components/ChangesPanel/ChangesPanel.jsx
Labels: action:needs-review

#1440 feat: improve speed of caching
  includes/class-urlslab.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1441 feat: blacklist too long url paths or query parameters
  includes/class-urlslab-url.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1442 fix: blacklist of urls
  includes/class-urlslab-url.php
  includes/class-urlslab.php
  includes/widget/class-urlslab-widget-general.php
Labels: action:needs-review

#1443 Fixed bug with serp queries wrong status
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1435 I2230 json tree view
  admin/src/app/mui_joy/themes/accordionTheme.js
  admin/src/app/mui_joy/themes/tooltipTheme.js
  admin/src/assets/images/icons/icon-eye-solid.svg
  admin/src/assets/images/icons/icon-eye.svg
  admin/src/assets/styles/common/_global.scss
  admin/src/elements/DescriptionBox.jsx
  admin/src/elements/TreeView.jsx
  admin/src/lib/helpers.js
  admin/src/tables/WebVitalsTable.jsx
Labels: status:review-OK

#1436 [2402] Export optimalizations
  admin/src/api/fetchDataForProcessing.js
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/DeleteFilteredPanel.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/elements/ExportCSVButton.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/UrlsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1444 Current url identification
  includes/class-urlslab-url.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1446 [2031] fix: hiding ai content assistant in header of gutenberg and elementor
  includes/class-urlslab-admin.php
Labels: action:needs-review

#1445 [2310] multiselect all
  admin/src/api/importCsv.js
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
  admin/src/components/ImportPanel.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/modules/static/Modules.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  includes/widget/class-urlslab-widget-faq.php
Labels: status:review-OK

#1447 [2411] fix: table rerendering, keyword prefilling
  admin/src/elements/LangMenu.jsx
Labels: action:needs-review

#1449 fix: set fixed user agent to download url
  includes/executor/class-urlslab-executor-download-url.php
  includes/widget/class-urlslab-widget-optimize.php
Labels: action:needs-review

#1450 fix: evaluate correct status for url
  admin/src/tables/UrlsTable.jsx
  includes/cron/class-urlslab-cron-update-url-http-status.php
  includes/widget/class-urlslab-widget-related-resources.php
Labels: action:needs-review

#1452 fixed bug for inserting correct data in generator shortcode res
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-generator.php
  urlslab.php
Labels: action:needs-review

#1451 translations to slovak
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-urls.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-custom-html.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-related-resources.php
  includes/widget/class-urlslab-widget-search-replace.php
  includes/widget/class-urlslab-widget-serp.php
  includes/widget/class-urlslab-widget-urls.php
  includes/widget/class-urlslab-widget-web-vitals.php
  includes/widget/class-urlslab-widget.php
  languages/urlslab-sk_SK.mo
Labels: action:needs-review

#1453 backlink monitoring, link scheduling
  README.md
  admin/src/lib/httpStatuses.js
  admin/src/modules/KeywordsLinks.jsx
  admin/src/overview/KeywordsLinks.jsx
  admin/src/tables/BacklinksTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/UrlsTable.jsx
  includes/api/class-urlslab-api-backlinks.php
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-prompt-template.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-tasks.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-cron-update-backlinks.php
  includes/cron/class-urlslab-cron-update-url-http-status.php
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-keyword.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-link-builder.php
  readme.txt
  table-names.php
  uninstall.php
  urlslab.php
Labels: action:needs-review

#1454 backlink monitoring - status icons, first_seen column
  admin/src/tables/BacklinksTable.jsx
  includes/api/class-urlslab-api-backlinks.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-url.php
  urlslab.php
Labels: action:needs-review

#1455 add target _blank to external links
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1456 feat: map between urls
  admin/src/modules/Urls.jsx
  admin/src/tables/URLMapTable.jsx
  includes/api/class-urlslab-api-url-map.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-general.php
Labels: status:review-OK

#1457 [2194] feat: back to queries button, select/deselect all in ai generator
  admin/src/components/StepNavigation.jsx
  admin/src/components/generator/manual/StepFirst.jsx
  admin/src/tables/KeywordsTable.jsx
Labels: action:needs-review

#1458 fix upgrade steps
  includes/class-urlslab-activator.php
Labels: action:needs-review

#1461 fix: backlinks table errors
  admin/src/tables/BacklinksTable.jsx
  includes/api/class-urlslab-api-backlinks.php
  includes/class-urlslab-url.php
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1462 fix: php warning undefined array key url
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1459 fix: datepicker for valid_until in keywords table
  admin/src/assets/styles/components/_Panel.scss
  admin/src/lib/helpers.js
  admin/src/tables/KeywordsTable.jsx
Labels: action:needs-review

#1463 fix: url matching improved
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1464 fix: database error: duplicate entry
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1465 fix: backlinks - url attribute, backlink status if url failed to load
  admin/src/tables/BacklinksTable.jsx
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1466 fix: prepare filter for url name
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-table.php
Labels: action:needs-review

#1467 fix: removed default values - fix depreceated error
  includes/widget/class-urlslab-widget.php
Labels: action:needs-review

#1468 feat: store postid with url, edit post where possible
  admin/src/assets/styles/common/_global.scss
  admin/src/components/DetailsPanel.jsx
  admin/src/lib/helpers.js
  admin/src/tables/BacklinksTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/URLMapTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UrlsTable.jsx
  includes/api/class-urlslab-api-backlinks.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-map.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-admin.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-urls.php
  urlslab.php
Labels: action:needs-review

#1469 [2424] block editing backlink monitor urls, allow only when adding
  admin/src/tables/BacklinksTable.jsx
Labels: action:needs-review

#1471 feat: 403 links include in content
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-urls.php
Labels: status:done, status:review-OK

#1470 [2246] hiding edit column
  admin/src/app/mui_joy/themes/sheetTheme.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/assets/images/icons/icon-chevron.svg
  admin/src/components/TableBody.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableHead.jsx
  admin/src/components/TableRow.jsx
Labels: status:review-OK

#1472 [2148] Module categorization
  admin/src/app/router.jsx
  admin/src/assets/styles/components/_MainMenu.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/MainMenu.jsx
  admin/src/hooks/useModuleGroups.jsx
  admin/src/hooks/useOnloadRedirect.jsx
  admin/src/hooks/usePageTitle.jsx
  admin/src/modules/static/Modules.jsx
  includes/class-urlslab-available-widgets.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-related-resources.php
  includes/widget/class-urlslab-widget-serp.php
  includes/widget/class-urlslab-widget-urls.php
  includes/widget/class-urlslab-widget-web-vitals.php
Labels: action:changes-requested

#1473 fix: media files
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/cron/class-urlslab-cron-offload-background-attachments.php
  includes/cron/class-urlslab-cron-offload-enqueue-files.php
  includes/data/class-urlslab-data-file.php
  includes/driver/class-urlslab-driver-db.php
  includes/driver/class-urlslab-driver-file.php
  includes/driver/class-urlslab-driver-s3.php
  includes/driver/class-urlslab-driver.php
Labels: status:review-OK

#1475 fix: unlock cron when starting the cron button
  admin/src/components/CronRunner.jsx
  includes/api/class-urlslab-api-cron.php
  includes/api/class-urlslab-api-keywords.php
  includes/widget/class-urlslab-widget-link-builder.php
Labels: action:needs-review

#1476 fix: lightbox image not visible
  includes/widget/class-urlslab-widget-lazy-loading.php
Labels: action:needs-review

#1477 feat: cache 404
  includes/cron/class-urlslab-cron-manager.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1480 fix: removed unsecure implementation of file driver
  includes/driver/class-urlslab-driver-db.php
  includes/driver/class-urlslab-driver-file.php
  includes/driver/class-urlslab-driver-s3.php
  includes/driver/class-urlslab-driver.php
Labels: action:needs-review
