Repository QualityUnit/wp-urlslab, pull requests merged in 2023-09, with the labels that each got.

#1086 bugfix#1960
  includes/class-urlslab.php
Labels: action:needs-review

#1087 sanitization, validation and escaping
  admin/class-urlslab-admin.php
  admin/includes/menu/class-urlslab-admin-page.php
  admin/includes/menu/class-urlslab-admin-subpage.php
  admin/includes/menu/class-urlslab-dashboard-page.php
  admin/includes/menu/class-urlslab-page-factory.php
  admin/templates/partials/urlslab-admin-header.php
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-cron.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab.php
  includes/driver/class-urlslab-driver-db.php
  includes/driver/class-urlslab-driver-file.php
  includes/driver/class-urlslab-driver-s3.php
  includes/urlslab-helper.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-widget.php
  includes/wp-widgets/class-urlslab-wp-widget-screenshot.php
  public/class-urlslab-public.php
  public/templates/simple-result.php
Labels: status:done, status:review-OK

#1104 [1901] feat: rewrite overview texts
  admin/src/assets/styles/components/_OverviewTemplate.scss
  admin/src/overview/Cache.jsx
  admin/src/overview/CustomHtml.jsx
  admin/src/overview/Faqs.jsx
  admin/src/overview/Generator.jsx
  admin/src/overview/HtmlOptimizer.jsx
  admin/src/overview/ImageAltAttribute.jsx
  admin/src/overview/KeywordsLinks.jsx
  admin/src/overview/LazyLoading.jsx
  admin/src/overview/LinkEnhancer.jsx
  admin/src/overview/MediaOffloader.jsx
  admin/src/overview/MetaTag.jsx
  admin/src/overview/Optimize.jsx
  admin/src/overview/Redirects.jsx
  admin/src/overview/RelatedResources.jsx
  admin/src/overview/Schedules.jsx
  admin/src/overview/Screenshot.jsx
  admin/src/overview/SearchAndReplace.jsx
  admin/src/overview/Serp.jsx
Labels: status:review-OK

#1105 fix: bugfixes and changes for #1908,#1913, #1914, #1915
  admin/src/assets/images/ajax-loader-white.svg
  admin/src/assets/styles/components/_Loader.scss
  admin/src/components/Loader.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1106 fix: #1922 and #1924
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/components/MainMenu.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  includes/api/class-urlslab-api-labels.php
Labels: status:review-OK

#1107 Bug fix show difference
  admin/src/assets/styles/components/_DateRangePicker.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/hooks/useChangeRow.jsx
Labels: status:review-OK

#1108 Fixed bugs in changes panel
  admin/src/assets/styles/components/_DateRangePicker.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/ImageCompare.jsx
Labels: status:review-OK

#1109 [1916] feat: section split in code injection
  admin/src/assets/styles/components/_Panel.scss
  admin/src/components/EditRowPanel.jsx
  admin/src/tables/CustomHtmlTable.jsx
Labels: status:review-OK

#1110 Bug Fixes Backend
  admin/src/components/SettingsOption.jsx
  admin/src/lib/filterOperators.js
  includes/api/class-urlslab-api-table-sql.php
  includes/driver/class-urlslab-driver.php
  includes/widgets/class-urlslab-html-optimizer.php
Labels: status:review-OK

#1111 Bugfixes september v3
  admin/apps/ai-content-assistant/src/elements/JSXElements.tsx
  admin/src/assets/styles/components/_Loader.scss
  admin/src/assets/styles/elements/_Button.scss
  admin/src/assets/styles/elements/_DiffButton.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ImageCompare.jsx
  admin/src/components/Loader.jsx
  admin/src/components/TableComponent.jsx
  admin/src/elements/Button.jsx
  admin/src/elements/DeleteSelectedButton.jsx
  admin/src/elements/DiffButton.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1112 Added bugfix database error response
  admin/src/tables/GeneratorResultTable.jsx
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-available-widgets.php
  includes/exceptions/class-urlslab-bad-request-exception.php
Labels: status:review-OK

#1113 Fix SEO Rank
  includes/api/class-urlslab-api-urls.php
Labels: action:needs-review

#1114 Bugfixes september v4
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/components/DynamicModule.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/ModuleViewHeader.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/hooks/filteringSorting.jsx
  admin/src/modules/static/Modules.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1116 fix: #1927, #1939, #1961, #1963
  admin/src/components/RowCounter.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  includes/api/class-urlslab-api-labels.php
Labels: action:needs-review

#1117 Bug fix keyword table
  admin/src/tables/GeneratorResultTable.jsx
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-available-widgets.php
  includes/exceptions/class-urlslab-bad-request-exception.php
Labels: status:review-OK

#1118 bug fix for generator
  admin/src/tables/GeneratorResultTable.jsx
  includes/api/class-urlslab-api-generators.php
Labels: status:review-OK

#1119 fix: #1952, #1964
  admin/src/components/DetailsPanel.jsx
  admin/src/components/TablePanels.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
Labels: status:review-OK

#1120 Comment rewritten
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-lazy-loading.php
Labels: action:needs-review

#1121 fix: #1940, #1959
  admin/src/components/EditRowPanel.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/RedirectsTable.jsx
Labels: action:needs-review

#1122 [1883] fix: modal panel not centered vertically on scroll
  admin/src/assets/styles/common/_global.scss
  admin/src/assets/styles/components/_Panel.scss
Labels: action:needs-review

#1124 Added Batch Request
  composer.lock
  includes/api/class-urlslab-api-process.php
  includes/class-urlslab-serp-connection.php
  includes/cron/class-urlslab-serp-cron.php
Labels: status:review-OK

#1125 Bugfixes september v8
  admin/src/assets/styles/common/_colorClasses.scss
  admin/src/assets/styles/common/_variables.scss
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/Editor.jsx
  admin/src/elements/InputField.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/TagsFilterMenu.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/elements/TextAreaEditable.jsx
  admin/src/elements/Textarea.jsx
  admin/src/modules/static/Modules.jsx
Labels: action:needs-review

#1127 fix: #1990, #1992, #1993
  admin/src/components/DetailsPanel.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1126 fix shortcode
  includes/api/class-urlslab-api-shortcodes.php
Labels: action:needs-review

#1128 fix: multiple fixes and changes
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_TagsMenu.scss
  admin/src/hooks/useTableStore.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#1129 bugfix ai generator and faq
  includes/api/class-urlslab-api-faq-urls.php
  includes/class-urlslab-augment-connection.php
  includes/class-urlslab-serp-connection.php
  includes/class-urlslab-summaries-helper.php
  includes/class-urlslab-yt-helper.php
Labels: status:review-OK

#1130 FAQ popup Answer Generation
  admin/src/app/mui_joy/theme.js
  admin/src/components/generator/ContentGeneratorConfigPanel.jsx
  admin/src/components/generator/manual/ContentGeneratorManual.jsx
  admin/src/components/generator/manual/StepFirst.jsx
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/components/generator/manual/StepThird.jsx
  admin/src/components/generator/scalable/ContentGeneratorScalable.jsx
  admin/src/components/generator/scalable/StepFirst.jsx
  admin/src/components/generator/scalable/StepSecond.jsx
  admin/src/components/generator/usePromptTemplateEditorRow.jsx
  admin/src/hooks/useAIGenerator.jsx
  admin/src/hooks/useAIGeneratorManualInit.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/lib/serpQueries.js
  admin/src/lib/tableImports.js
  admin/src/queries/usePromptTemplateQuery.jsx
  admin/src/tables/FaqsTable.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-serp-queries.php
Labels: status:review-OK

#1131 Answer generator changed to table panel
  admin/src/app/mui_joy/theme.js
  admin/src/components/TablePanels.jsx
  admin/src/components/generator/AnswerGeneratorPanel.jsx
  admin/src/components/generator/ContentGenerator.jsx
  admin/src/components/generator/ContentGeneratorPanel.jsx
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/modules/Generator.jsx
  admin/src/tables/FaqsTable.jsx
Labels: action:needs-review

#1132 Suggestfield fix
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
Labels: action:needs-review

#1133 Added filtering of related articles for index pages
  includes/cron/class-urlslab-related-resources-cron.php
Labels: action:needs-review

#1134 fix: #2008, #2015, #2016, #2017, #2018, #2019
  admin/src/assets/styles/components/_ChangesPanel.scss
  admin/src/assets/styles/components/_ColorPicker.scss
  admin/src/elements/DateTimeFormat.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useTags.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/UsageTable.jsx
Labels: action:needs-review

#1135 SERP Content Gap table error
  admin/src/app/mui_joy/theme.js
  admin/src/tables/SerpGapTable.jsx
Labels: status:review-OK

#1136 fix: php fatal error
  includes/widgets/class-urlslab-content-generator-widget.php
Labels: action:needs-review

#1137 fix: php fatal error and deadlock
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-table-sql.php
  includes/widgets/class-urlslab-serp.php
Labels: action:needs-review

#1138 fix: php fatal error and filters
  admin/src/components/TableFilterPanel.jsx
  admin/src/lib/filterOperators.js
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table-sql.php
Labels: action:needs-review

#1123 [1917] feat: notifications and global wp admin menu for urlslab cache
  admin/class-urlslab-admin.php
  admin/src/assets/styles/style.scss
  assets/js/urlslab-notifications.js
  assets/scss/common/_variables.scss
  assets/scss/components/_Notifications.scss
  assets/scss/components/_NotificationsPanel.scss
  assets/scss/urlslab_notifications.scss
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-url.php
  includes/class-urlslab.php
  includes/data/class-urlslab-url-row.php
  includes/urlslab-helper.php
  includes/widgets/class-urlslab-cache.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-widget.php
  public/build/css/urlslab_faq.css
  public/build/css/urlslab_notifications.css
  public/build/css/urlslab_related_resources.css
  public/build/css/urlslab_youtube_loader.css
  public/build/images/banner-1544x500..jpg
  public/build/images/banner-772x250..jpg
  public/build/images/browser..svg
  public/build/images/icon_checkmark_circle..svg
  public/build/images/play..svg
  public/build/images/videocam..svg
  public/build/js/main.js
  public/build/js/urlslab-cache-menu.js
  public/build/js/urlslab-lazyload.js
  public/build/js/urlslab-notifications.js
  webpack.config.js
Labels: action:changes-requested

#1139 feat: added created date to redirects table
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/tables/RedirectsTable.jsx
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-redirect-row.php
  urlslab.php
Labels: status:review-OK

#1140 fix: #1994, #2006, #2017, #2023, #2025, #2026
  admin/src/assets/styles/components/_MainMenu.scss
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/components/MainMenu.jsx
  admin/src/components/ModuleViewHeader.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/elements/TagsMenu.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/hooks/useTags.jsx
  admin/src/modules/static/Modules.jsx
  admin/src/modules/static/TagsLabels.jsx
  admin/src/queries/usePrefetchQueries.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
Labels: action:needs-review

#1141 [2013] fix: pagination in usage table
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/UsageTable.jsx
Labels: status:review-OK

#1143 bugfix with lang code parsing
  admin/src/lib/helpers.js
Labels: action:needs-review

#1145 fix: dropping all objects in cloudfront
  includes/api/class-urlslab-api-cache-rules.php
  includes/widgets/class-urlslab-cache.php
Labels: status:done, status:review-OK

#1144 Custom domain blacklist
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-cron.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-settings.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-url.php
  includes/cron/class-urlslab-update-url-http-status-cron.php
  includes/data/class-urlslab-url-data-fetcher.php
  includes/widgets/class-urlslab-content-generator-widget.php
  includes/widgets/class-urlslab-faq.php
  includes/widgets/class-urlslab-general.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-screenshot-widget.php
Labels: action:needs-review

#1146 Improved speed of SERP monitoring tables and show serp data in link-building
  admin/src/modules/Serp.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/SerpGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-api-router.php
  includes/cron/class-urlslab-gsc-cron.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-gsc-position-row.php
  includes/data/class-urlslab-keyword-row.php
  includes/data/class-urlslab-serp-query-row.php
  includes/data/class-urlslab-serp-url-row.php
  table-names.php
  uninstall.php
  urlslab.php
Labels: action:needs-review

#1148 fix: php warning
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1149 url rendering
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/elements/TooltipArray.jsx
  admin/src/elements/TooltipUrls.jsx
  admin/src/lib/tableImports.js
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1150 feat: show serp data in url monitoring
  admin/src/tables/LinkManagerTable.jsx
  includes/api/class-urlslab-api-urls.php
Labels: status:review-OK

#1151 fix: hiding columns in url monitoring
  admin/src/tables/LinkManagerTable.jsx
Labels: action:needs-review

#1153 feat: my urls ranking in top10 and top100
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-keyword-row.php
  includes/data/class-urlslab-serp-query-row.php
  includes/data/class-urlslab-serp-url-row.php
  urlslab.php
Labels: status:review-OK

#1154 fix: numeric column data format in link building
  includes/api/class-urlslab-api-keywords.php
Labels: status:review-OK

#1156 fix: column format for my_urls
  includes/api/class-urlslab-api-serp-queries.php
Labels: status:review-OK

#1157 Removed and rolled back the lang code
  admin/src/lib/helpers.js
Labels: action:needs-review

#1158 cache refactoring
  admin/class-urlslab-admin.php
  admin/src/modules/Cache.jsx
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-search-replace.php
  includes/cache/class-urlslab-cache.php
  includes/cache/driver/class-urlslab-cache-driver-file.php
  includes/cache/driver/class-urlslab-cache-driver.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-available-widgets.php
  includes/class-urlslab-file-cache.php
  includes/class-urlslab-user-widget.php
  includes/class-urlslab.php
  includes/widgets/class-urlslab-cache-widget.php
  includes/widgets/class-urlslab-custom-html.php
  includes/widgets/class-urlslab-html-optimizer.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-redirects.php
  includes/widgets/class-urlslab-related-resources-widget.php
  includes/widgets/class-urlslab-screenshot-widget.php
  includes/widgets/class-urlslab-search-replace.php
  public/class-urlslab-public.php
Labels: action:needs-review

#1160 feat: allow formatting of header
  includes/widgets/class-urlslab-faq.php
Labels: status:ready-to-merge, status:review-OK

#1161 [2035] fix: error on wrong language
  admin/src/lib/helpers.js
Labels: status:review-OK

#1159 Bug fix for serp queries related keywords
  composer.lock
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1162 fix: handling of query status in case of error
  includes/cron/class-urlslab-serp-cron.php
Labels: action:needs-review

#1164 [2035] language validation on import
  admin/src/api/fetchLangs.js
  admin/src/components/ImportPanel.jsx
  admin/src/lib/helpers.js
Labels: status:review-OK

#1165 [2052] fix: main menu collapsing
  admin/src/components/MainMenu.jsx
Labels: status:review-OK

#1163 Date and time formats in pickers follow wp settings
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/DateRangeButton.jsx
  admin/src/lib/helpers.js
Labels: status:review-OK

#1152 Mui tables
  admin/src/app/mui_joy/theme.js
  admin/src/assets/styles/common/_mixins.scss
  admin/src/assets/styles/components/_Panel.scss
  admin/src/assets/styles/components/_TableComponent.scss
  admin/src/assets/styles/elements/_Inputs.scss
  admin/src/assets/styles/elements/_MultiSelectMenu.scss
  admin/src/assets/styles/elements/_Tooltip.scss
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/components/DetailsPanel.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableSimpleComponent.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/DataBox.jsx
  admin/src/elements/RowActionButtons.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/elements/TooltipArray.jsx
  admin/src/elements/TooltipUrls.jsx
  admin/src/lib/elementsHelpers.jsx
  admin/src/lib/tableImports.js
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  admin/vite.config.js
Labels: status:review-OK

#1166 fix: fatal error
  includes/widgets/class-urlslab-related-resources-widget.php
Labels: action:needs-review

#1167 SERP data changes
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/lib/serpQueries.js
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  composer.lock
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-serp-connection.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-gsc-cron.php
  includes/cron/class-urlslab-serp-cron.php
  includes/data/class-urlslab-gsc-position-row.php
  includes/data/class-urlslab-serp-position-history-row.php
  includes/data/class-urlslab-serp-position-row.php
  includes/data/class-urlslab-serp-query-row.php
  includes/data/class-urlslab-serp-url-row.php
  includes/widgets/class-urlslab-serp.php
  table-names.php
  urlslab.php
Labels: status:review-OK

#1168 Table performance improvements
  admin/src/components/EditRowPanel.jsx
  admin/src/components/Header.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableRow.jsx
  admin/src/elements/InputField.jsx
  admin/src/tables/KeywordsTable.jsx
Labels: action:needs-review

#1169 fix: dropdowns overflow in table
  admin/src/app/mui_joy/theme.js
  admin/src/assets/styles/components/_TableComponent.scss
Labels: status:review-OK

#1170 fix: unwanted table component rerenders during scroll
  admin/src/components/TableBody.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableHead.jsx
  admin/src/components/TableRow.jsx
Labels: status:review-OK

#1171 feat: infinite fetching another page before scrolling to bottom
  admin/src/components/TableComponent.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/LinkManagerTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/MetaTagsTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/ScreenshotTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailSimQueryTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1172 feat: moving individual cells to component
  admin/src/components/TableComponent.jsx
  admin/src/components/TableRow.jsx
Labels: status:review-OK

#1174 fix: removed serp intersection of keywords
  admin/src/tables/KeywordsTable.jsx
  includes/api/class-urlslab-api-keywords.php
Labels: status:review-OK

#1177 fix: filter validation and change of domain category name
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/api/class-urlslab-api-table-sql.php
Labels: status:review-OK

#1176 Added result set and functional generator
  admin/src/components/generator/scalable/StepFirst.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  composer.lock
  includes/api/class-urlslab-api-process.php
  includes/class-urlslab-activator.php
  includes/cron/executor/class-urlslab-generator-cron-executor.php
  includes/data/class-urlslab-generator-task-row.php
  urlslab.php
Labels: status:review-OK

#1178 feat: show number of internal links
  admin/src/tables/SerpQueriesTable.jsx
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-serp-query-row.php
  urlslab.php
Labels: status:review-OK

#1179 fix: fatal error with type
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1182 fix: rename column again with different syntax
  includes/class-urlslab-activator.php
  urlslab.php
Labels: status:review-OK

#1183 fix: load title of page by rescanning the page in cron
  includes/widgets/class-urlslab-link-enhancer.php
Labels: action:needs-review

#1180 2071: allow disable add new table record using parameter
  admin/src/components/TableComponent.jsx
  admin/src/tables/SerpQueryDetailTopUrlsTable.jsx
Labels: status:review-OK

#1184 skip css classname setting to skip processing
  includes/widgets/class-urlslab-cache-widget.php
  includes/widgets/class-urlslab-general.php
  includes/widgets/class-urlslab-image-alt-text.php
  includes/widgets/class-urlslab-keywords-links.php
  includes/widgets/class-urlslab-lazy-loading.php
  includes/widgets/class-urlslab-link-enhancer.php
  includes/widgets/class-urlslab-media-offloader-widget.php
  includes/widgets/class-urlslab-widget.php
Labels: action:needs-review
