Repository QualityUnit/wp-urlslab, pull requests merged in 2023-12, with the labels that each got.

#1481 [2445] Rowactions sidebar fixes
  admin/src/app/mui_joy/themes/sheetTheme.js
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/app/router.jsx
  admin/src/components/DashboardModule.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/TableBody.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/TableHead.jsx
  admin/src/hooks/useModuleGroups.jsx
  admin/src/hooks/useOnloadRedirect.jsx
  admin/src/hooks/usePageTitle.jsx
  admin/src/modules/static/Modules.jsx
  admin/src/tables/UrlsTable.jsx
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-content-generator.php
  includes/widget/class-urlslab-widget-custom-html.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-link-builder.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-related-resources.php
  includes/widget/class-urlslab-widget-search-replace.php
  includes/widget/class-urlslab-widget-serp.php
  includes/widget/class-urlslab-widget-urls.php
  includes/widget/class-urlslab-widget-web-vitals.php
  includes/widget/class-urlslab-widget.php
Labels: status:review-OK

#1493 [2462] Table of Contents widget
  blocks/includes/blocks/class-urlslab-tableofcontents.php
  blocks/src/blocks/tableofcontents/block.json
  blocks/src/blocks/tableofcontents/edit.js
  blocks/src/blocks/tableofcontents/editor.scss
  blocks/src/blocks/tableofcontents/index.js
  blocks/webpack.config.js
  includes/class-urlslab-blocks.php
Labels: status:review-OK

#1499 Added User Info endpoint for Onboarding
  includes/api/class-urlslab-api-user-info.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1500 Content AI and prompt template bugfixes
  admin/src/lib/aiGeneratorPanel.js
  includes/default/class-urlslab-default-prompt-template.php
Labels: action:needs-review

#1498 [1723] feat: widgets not active when modules not active
  blocks/includes/blocks/class-urlslab-related-articles-elementor.php
  blocks/src/api.js
  blocks/src/blocks/related-articles/edit.js
  blocks/src/blocks/screenshot/block.json
  blocks/src/blocks/screenshot/edit.js
  blocks/src/hooks/useModules.jsx
  includes/class-urlslab-blocks.php
Labels: status:review-OK

#1502 bugfixes with exploding fn
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-serp.php
Labels: action:needs-review

#1505 [2493] fix: #2493, #2488, adding search field to browser filter
  admin/src/assets/styles/common/_global.scss
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/BrowserSelect.jsx
  assets/scss/urlslab_faq.scss
  public/build/css/urlslab_faq.css
  public/build/css/urlslab_notifications.css
  public/build/css/urlslab_related_resources.css
  public/build/css/urlslab_youtube_loader_decorated.css
  public/build/css/urlslab_youtube_loader_plain.css
  public/build/images/banner-1544x500..jpg
  public/build/images/banner-772x250..jpg
  public/build/images/browser..svg
  public/build/images/icon_checkmark_circle..svg
  public/build/images/play..svg
  public/build/images/videocam..svg
  public/build/js/main.js
  public/build/js/urlslab-lazyload.js
  public/build/js/urlslab-notifications.js
Labels: action:needs-review

#1507 feat: default blacklisted class names extended
  includes/widget/class-urlslab-widget-general.php
Labels: action:needs-review

#1508 [2500] Object parser in tables
  admin/src/assets/styles/components/_Panel.scss
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/TreeView.jsx
  admin/src/lib/helpers.js
  admin/src/modules/static/Settings.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-serp.php
Labels: status:review-OK

#1510 fix: replacement of links in style tags fixed
  includes/widget/class-urlslab-widget-link-builder.php
Labels: action:needs-review

#1511 [2504] fix: url regex fix
  admin/src/lib/helpers.js
Labels: action:needs-review

#1516 fix: hide warning when write is not possible
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1514 [2504] fix: overview pages translateable
  admin/src/components/OverviewTemplate.jsx
  admin/src/overview/Cache.jsx
  admin/src/overview/CustomHtml.jsx
  admin/src/overview/Faqs.jsx
  admin/src/overview/Generator.jsx
  admin/src/overview/HtmlOptimizer.jsx
  admin/src/overview/ImageAltAttribute.jsx
  admin/src/overview/KeywordsLinks.jsx
  admin/src/overview/LazyLoading.jsx
  admin/src/overview/MediaOffloader.jsx
  admin/src/overview/Optimize.jsx
  admin/src/overview/Redirects.jsx
  admin/src/overview/RelatedResources.jsx
  admin/src/overview/Schedules.jsx
  admin/src/overview/SearchAndReplace.jsx
  admin/src/overview/Security.jsx
  admin/src/overview/Serp.jsx
  admin/src/overview/Urls.jsx
  admin/src/overview/WebVitals.jsx
Labels: status:review-OK

#1517 fix: set correct cache control headers
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1513 [2509] fix: paste in tinymce editor, eslint fix
  admin/.eslintrc
  admin/src/elements/Editor.jsx
Labels: action:needs-review

#1519 fix: #2517 error message handling, #2511 query filter not working
  admin/src/api/fetching.js
  admin/src/app/mui_joy/themes/buttonTheme.js
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableFilters.jsx
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-tasks.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-web-vitals.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/widget/class-urlslab-widget.php
Labels: status:review-OK

#1520 Bugfixes december v1
  admin/src/components/SettingsOption.jsx
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-optimize.php
  includes/api/class-urlslab-api-permissions.php
  includes/api/class-urlslab-api-process.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-tasks.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-web-vitals.php
  includes/api/class-urlslab-api-youtube-cache.php
Labels: action:needs-review

#1521 fix: default csp values
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1492 Onboarding Improvement
  admin/src/App.jsx
  admin/src/app/mui_joy/theme.js
  admin/src/assets/images/icons/icon-lab1.svg
  admin/src/assets/images/icons/icon-lab2.svg
  admin/src/assets/styles/layouts/_Onboarding.scss
  admin/src/components/DashboardModule.jsx
  admin/src/components/MainMenu.jsx
  admin/src/components/PaidModulePopup.jsx
  admin/src/components/SettingsOption.jsx
  admin/src/components/TableComponent.jsx
  admin/src/components/detailsPanel/gapDetailPanelParts/GapDetailUrlsSettings.jsx
  admin/src/elements/SimpleModal.jsx
  admin/src/elements/Switch.jsx
  admin/src/hooks/useFreeModules.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useOnboarding.jsx
  admin/src/hooks/useUserInfo.jsx
  admin/src/hooks/useWpMenuWidth.jsx
  admin/src/lib/helpers.js
  admin/src/modules/static/Modules.jsx
  admin/src/onboarding/Content.jsx
  admin/src/onboarding/Header.jsx
  admin/src/onboarding/steps/StepApiKey.jsx
  admin/src/onboarding/steps/StepChooseCompetitors.jsx
  admin/src/onboarding/steps/StepChooseKeywords.jsx
  admin/src/onboarding/steps/StepModules.jsx
  admin/src/onboarding/steps/StepPlanChoice.jsx
  admin/src/onboarding/steps/StepSchedule.jsx
  admin/src/queries/useModulesQuery.jsx
  admin/src/queries/useUserInfoQuery.jsx
  includes/api/class-urlslab-api-modules.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-user-info.php
  includes/class-urlslab-admin.php
  includes/class-urlslab-user-widget.php
  includes/widget/class-urlslab-widget-faq.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-optimize.php
  includes/widget/class-urlslab-widget-urls.php
Labels: status:review-OK

#1515 feat: table structure endpoint
  admin/src/tables/MediaFilesTable.jsx
  includes/api/class-urlslab-api-backlinks.php
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-content-cache.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-faq-urls.php
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-gsc-sites.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-labels.php
  includes/api/class-urlslab-api-not-found-log.php
  includes/api/class-urlslab-api-prompt-template.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-schedules.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-serp-domains.php
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-tasks.php
  includes/api/class-urlslab-api-url-map.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
  includes/api/class-urlslab-api-web-vitals.php
  includes/api/class-urlslab-api-youtube-cache.php
  includes/class-urlslab-url.php
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-cache-rule.php
  includes/data/class-urlslab-data-css-cache.php
  includes/data/class-urlslab-data-custom-html.php
  includes/data/class-urlslab-data-faq.php
  includes/data/class-urlslab-data-file.php
  includes/data/class-urlslab-data-generator-result.php
  includes/data/class-urlslab-data-generator-shortcode.php
  includes/data/class-urlslab-data-generator-task.php
  includes/data/class-urlslab-data-js-cache.php
  includes/data/class-urlslab-data-keyword.php
  includes/data/class-urlslab-data-prompt-template.php
  includes/data/class-urlslab-data-search-replace.php
  includes/data/class-urlslab-data-serp-domain.php
  includes/data/class-urlslab-data-url.php
  includes/data/class-urlslab-data-web-vital.php
  includes/data/class-urlslab-data-youtube.php
  includes/data/class-urlslab-data.php
  includes/driver/class-urlslab-driver.php
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1509 feat: upgrade to vite 5 in admin, node => 20 and plugins
  .github/workflows/build-test.yml
  .github/workflows/eslint.yml
  .github/workflows/publish-release.yml
  .github/workflows/stylelint.yml
  admin/apps/ai-content-assistant/package.json
  admin/apps/ai-content-assistant/yarn.lock
  admin/generateCountriesList.cjs
  admin/generateModulesList.cjs
  admin/package.json
  admin/src/components/Credits.jsx
  admin/src/components/DashboardModule.jsx
  admin/src/components/generator/manual/StepThird.jsx
  admin/src/modules/WebVitals.jsx
  admin/vite.config.js
  admin/yarn.lock
  blocks/package.json
  blocks/yarn.lock
Labels: status:review-OK

#1522 fix: db files not loaded with cache switched on
  includes/widget/class-urlslab-widget-cache.php
Labels: status:review-OK

#1526 fix: check of cache file name for db downloads
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1527 fix: compute path to htaccess file
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1528 fix: name of columns function
  includes/api/class-urlslab-api-serp-gap.php
Labels: action:needs-review

#1525 [2522] fix: filters closing on autoselect menus (lang, country), sorting
  admin/src/components/TableFilterPanel.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
Labels: status:review-OK

#1523 Onboarding fixes
  admin/src/hooks/useOnboarding.jsx
  admin/src/onboarding/steps/StepChooseKeywords.jsx
  admin/src/onboarding/steps/StepModules.jsx
  admin/src/onboarding/steps/StepPlanChoice.jsx
  admin/src/onboarding/steps/StepSchedule.jsx
Labels: action:needs-review

#1529 fix: add missing answer column
  admin/src/tables/FaqsTable.jsx
Labels: action:needs-review

#1530 fix: faq urls - add missing columns
  includes/api/class-urlslab-api-faq-urls.php
Labels: action:needs-review

#1531 fix: add missing endpoint
  includes/api/class-urlslab-api-process.php
Labels: action:needs-review

#1532 fix: add missing endpoint
  includes/api/class-urlslab-api-security.php
Labels: action:needs-review

#1533 Configured to not show Onboarding for Old Users
  includes/api/class-urlslab-api-user-info.php
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1534 fix: garbage collector for cron
  includes/cron/class-urlslab-cron-cache-garbage-collector.php
  includes/cron/class-urlslab-cron-manager.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1535 cache - show htaccess and config status
  includes/tool/class-urlslab-tool-config.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-link-builder.php
Labels: action:needs-review

#1536 fix: cache paths for different setups
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1537 fix: cache descriptions
  includes/tool/class-urlslab-tool-config.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1538 fix: count of assigned urls was not correct
  includes/api/class-urlslab-api-faq.php
Labels: action:needs-review

#1540 [2525] filter types refactor
  admin/package.json
  admin/src/components/EditRowPanel.jsx
  admin/src/components/ExportPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/queries/useColumnTypesQuery.jsx
  admin/src/tables/BacklinksTable.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/URLMapTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UrlsTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
  admin/yarn.lock
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-cache-rule.php
  includes/data/class-urlslab-data-content-cache.php
  includes/data/class-urlslab-data-csp.php
  includes/data/class-urlslab-data-css-cache.php
  includes/data/class-urlslab-data-custom-html.php
  includes/data/class-urlslab-data-faq.php
  includes/data/class-urlslab-data-file.php
  includes/data/class-urlslab-data-generator-result.php
  includes/data/class-urlslab-data-generator-shortcode.php
  includes/data/class-urlslab-data-generator-task.php
  includes/data/class-urlslab-data-gsc-site.php
  includes/data/class-urlslab-data-js-cache.php
  includes/data/class-urlslab-data-keyword.php
  includes/data/class-urlslab-data-not-found-log.php
  includes/data/class-urlslab-data-prompt-template.php
  includes/data/class-urlslab-data-redirect.php
  includes/data/class-urlslab-data-serp-position-history.php
  includes/data/class-urlslab-data-serp-position.php
  includes/data/class-urlslab-data-serp-query.php
  includes/data/class-urlslab-data-url-relation.php
  includes/data/class-urlslab-data-url.php
  includes/data/class-urlslab-data-web-vital.php
  includes/data/class-urlslab-data-youtube.php
Labels: status:review-OK

#1541 I2489 inactive modules routes
  admin/src/App.jsx
  admin/src/AppRoot.jsx
  admin/src/app/router.jsx
  admin/src/components/DashboardModule.jsx
  admin/src/components/Header.jsx
  admin/src/components/MainMenu.jsx
  admin/src/hooks/useDisabledModuleRedirect.jsx
  admin/src/hooks/useModuleGroups.jsx
  admin/src/hooks/useModulesGroups.jsx
  admin/src/hooks/useOnloadRedirect.jsx
  admin/src/hooks/usePageTitle.jsx
  admin/src/lib/helpers.js
  admin/src/modules/static/Modules.jsx
  admin/src/modules/static/Page404.jsx
Labels: status:review-OK

#1542 fix: remove not needed table error_log
  includes/class-urlslab-activator.php
  table-names.php
  uninstall.php
  urlslab.php
Labels: action:needs-review

#1543 fix: allow non-json string to show instead of tree view
  admin/src/elements/TreeView.jsx
Labels: status:review-OK

#1544 fix: compute path to config
  includes/tool/class-urlslab-tool-config.php
Labels: status:done, status:review-OK

#1545 fix: fix advanced cache code and remove markdown from generator
  includes/api/class-urlslab-api-process.php
  includes/connection/class-urlslab-connection-augment.php
  includes/executor/class-urlslab-executor-generate-url-context.php
  includes/executor/class-urlslab-executor-generate.php
  includes/tool/class-urlslab-tool-config.php
Labels: action:needs-review

#1546 fix: use constants for column type
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-table.php
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-cache-rule.php
  includes/data/class-urlslab-data-content-cache.php
  includes/data/class-urlslab-data-csp.php
  includes/data/class-urlslab-data-css-cache.php
  includes/data/class-urlslab-data-custom-html.php
  includes/data/class-urlslab-data-faq.php
  includes/data/class-urlslab-data-file.php
  includes/data/class-urlslab-data-generator-result.php
  includes/data/class-urlslab-data-generator-shortcode.php
  includes/data/class-urlslab-data-generator-task.php
  includes/data/class-urlslab-data-gsc-site.php
  includes/data/class-urlslab-data-js-cache.php
  includes/data/class-urlslab-data-keyword.php
  includes/data/class-urlslab-data-not-found-log.php
  includes/data/class-urlslab-data-prompt-template.php
  includes/data/class-urlslab-data-redirect.php
  includes/data/class-urlslab-data-search-replace.php
  includes/data/class-urlslab-data-serp-domain.php
  includes/data/class-urlslab-data-serp-position-history.php
  includes/data/class-urlslab-data-serp-position.php
  includes/data/class-urlslab-data-serp-query.php
  includes/data/class-urlslab-data-url-relation.php
  includes/data/class-urlslab-data-url.php
  includes/data/class-urlslab-data-web-vital.php
  includes/data/class-urlslab-data-youtube.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1547 save button, is_locked in rel resources
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-serp-competitors.php
  includes/api/class-urlslab-api-table.php
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-cache-rule.php
  includes/data/class-urlslab-data-css-cache.php
  includes/data/class-urlslab-data-custom-html.php
  includes/data/class-urlslab-data-faq.php
  includes/data/class-urlslab-data-file.php
  includes/data/class-urlslab-data-generator-result.php
  includes/data/class-urlslab-data-generator-shortcode.php
  includes/data/class-urlslab-data-generator-task.php
  includes/data/class-urlslab-data-js-cache.php
  includes/data/class-urlslab-data-keyword.php
  includes/data/class-urlslab-data-prompt-template.php
  includes/data/class-urlslab-data-search-replace.php
  includes/data/class-urlslab-data-serp-domain.php
  includes/data/class-urlslab-data-url-relation.php
  includes/data/class-urlslab-data-url.php
  includes/data/class-urlslab-data-web-vital.php
  includes/data/class-urlslab-data-youtube.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1549 [2533] fix: removed condition for save button disabled
  admin/src/components/TableFilterPanel.jsx
Labels: action:needs-review

#1550 fix: set cache also based on the other rules
  advanced-cache.php
  includes/api/class-urlslab-api-cache-rules.php
  includes/tool/class-urlslab-tool-config.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1551 fix: cache settings
  includes/tool/class-urlslab-tool-config.php
Labels: status:done, status:review-OK

#1552 feat: add redirects to htaccess
  includes/api/class-urlslab-api-cache-rules.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-redirects.php
  uninstall.php
Labels: action:needs-review

#1548 fix: ai generator country selection in first step
  admin/src/components/generator/manual/StepFirst.jsx
  admin/src/components/generator/manual/StepSecond.jsx
  admin/src/hooks/useAIGeneratorManualInit.jsx
  admin/src/lib/aiGeneratorPanel.js
  admin/src/lib/serpQueries.js
Labels: action:needs-review

#1554 feat: fix www to nonwww redirects
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1556 fix: performance problems with usage stats
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-cron-update-usage-stats.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-urls.php
  urlslab.php
Labels: action:needs-review

#1539 feat: faq - suggest url
  admin/src/tables/FaqsTable.jsx
  includes/api/class-urlslab-api-faq-urls.php
Labels: action:needs-review

#1557 fix: htaccess rules
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-configs.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1558 fix: duplicated js code in footer
  includes/class-urlslab-public.php
Labels: action:needs-review

#1559 fix: dont start cache for internal downloads
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1560 fix: fatal error in query columns
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-table.php
Labels: action:needs-review

#1561 fix: empty htaccess rewrite section
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1497 Webvital graphs
  .vscode/settings.json
  admin/package.json
  admin/src/app/countriesChartData.json
  admin/src/app/mui_joy/themes/buttonTheme.js
  admin/src/assets/images/icons/icon-arrow-left.svg
  admin/src/assets/images/icons/icon-chart.svg
  admin/src/assets/images/icons/icon-legend-marker-disabled.svg
  admin/src/assets/images/icons/icon-legend-marker.svg
  admin/src/assets/images/icons/icon-table.svg
  admin/src/assets/styles/components/_FloatingPanel.scss
  admin/src/assets/styles/components/datepicker/datepicker.scss
  admin/src/charts/WebVitalsCharts.jsx
  admin/src/components/CronRunner.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TableFilters.jsx
  admin/src/components/TablePanel.jsx
  admin/src/components/charts/AreaChart.jsx
  admin/src/components/charts/WorldMapChart.jsx
  admin/src/components/charts/elements.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/lib/chartsHelpers.jsx
  admin/src/lib/helpers.js
  admin/src/modules/WebVitals.jsx
  admin/src/queries/useChartQuery.jsx
  admin/src/queries/useColumnTypesQuery.jsx
  admin/src/tables/WebVitalsTable.jsx
  admin/yarn.lock
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-web-vitals.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-file.php
  includes/data/class-urlslab-data-url.php
Labels: status:review-OK

#1562 fix: rate limit should not lock download requests
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1563 fix: web vitals charts last 7 days by default
  admin/src/charts/WebVitalsCharts.jsx
  admin/src/components/charts/elements.jsx
  admin/src/lib/helpers.js
Labels: action:needs-review

#1566 fix: refactoring init_client (not used anymore), catch connection exception
  includes/connection/class-urlslab-connection-related-urls.php
  includes/cron/class-urlslab-cron-generator.php
  includes/cron/class-urlslab-cron-related-resources.php
  includes/cron/class-urlslab-cron-serp-volumes.php
  includes/cron/class-urlslab-cron-serp.php
  includes/cron/class-urlslab-cron-youtube.php
Labels: action:needs-review

#1567 fix: stop preloading same url if difference is just / at the end of url
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1568 fix: send 404 header for not found cached page.
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1564 [2560] fix: menu in search replace
  admin/src/tables/SearchReplaceTable.jsx
Labels: status:done, status:review-OK

#1569 feat: default settings for serp
  README.md
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-serp.php
  readme.txt
Labels: action:needs-review

#1570 fix: change http to https redirect
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1571 fix htaccess
  advanced-cache.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review
