Repository QualityUnit/wp-urlslab, pull requests merged in 2024-02, with the labels that each got.

#1666 compute correct links for corrupted wpml links
  composer.lock
  includes/api/class-urlslab-api-url-map.php
  includes/api/class-urlslab-api-urls.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-url.php
  includes/data/class-urlslab-data-url-fetcher.php
  includes/data/class-urlslab-data-url-map.php
  includes/data/class-urlslab-data-url.php
  includes/data/class-urlslab-data.php
  includes/widget/class-urlslab-widget-urls.php
  index.php
  urlslab.php
Labels: action:needs-review

#1687 fix: duplicate error warning.
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1688 related resources, ai generator small fixes
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-security.php
  includes/widget/class-urlslab-widget-related-resources.php
Labels: action:needs-review

#1689 fix sql error
  composer.lock
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/api/class-urlslab-api-table-sql.php
  includes/api/class-urlslab-api-table.php
Labels: action:needs-review

#1665 [2483] feat: faq shortcode for gutenberg and elementor
  blocks/includes/blocks/class-urlslab-blocks-ai-content.php
  blocks/includes/blocks/class-urlslab-blocks-faqs-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-faqs.php
  blocks/includes/blocks/class-urlslab-blocks-related-articles-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-related-articles.php
  blocks/includes/blocks/class-urlslab-blocks-screenshot-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-screenshot.php
  blocks/includes/blocks/class-urlslab-blocks-tableofcontents.php
  blocks/includes/blocks/class-urlslab-blocks-youtubedata-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-youtubedata.php
  blocks/src/blocks/faqs/block.json
  blocks/src/blocks/faqs/edit.js
  blocks/src/blocks/faqs/editor.scss
  blocks/src/blocks/faqs/index.js
  blocks/webpack.config.js
  includes/class-urlslab-blocks.php
  includes/widget/class-urlslab-widget-faq.php
Labels: action:needs-review

#1691 fix: system files
  includes/cron/class-urlslab-cron-offload-enqueue-files.php
  includes/data/class-urlslab-data-file.php
  includes/driver/class-urlslab-driver-db.php
  includes/driver/class-urlslab-driver-file.php
  includes/driver/class-urlslab-driver.php
Labels: status:done, status:review-OK

#1692 fix: improve speed of sql
  includes/data/class-urlslab-data-url-fetcher.php
Labels: status:review-OK

#1695 fix: sql error
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1696 og:image for products, ignore parsing html errors
  admin/src/components/MainMenu.jsx
  includes/class-urlslab.php
  includes/cron/class-urlslab-cron-screenshots.php
  includes/cron/class-urlslab-cron-summaries.php
  includes/data/class-urlslab-data-url.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-urls.php
Labels: status:review-OK

#1697 fix: update correctly url type when checking url status
  includes/data/class-urlslab-data-url.php
Labels: status:done, status:review-OK

#1698 feat: remove wp emoji
  includes/widget/class-urlslab-widget-html-optimizer.php
Labels: action:needs-review

#1700 fix: 404 case of single slug
  includes/api/class-urlslab-api-cache-rules.php
  includes/api/class-urlslab-api-custom-html.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-redirects.php
  includes/api/class-urlslab-api-search-replace.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-table.php
  includes/api/class-urlslab-api-urls.php
  includes/data/class-urlslab-data-url.php
Labels: action:needs-review

#1701 fix: is_product
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1702 fix: never exceed html file size
  includes/class-urlslab.php
  includes/widget/class-urlslab-widget-html-optimizer.php
Labels: action:needs-review

#1703 end tag of html was missing
  includes/class-urlslab-url.php
  includes/class-urlslab.php
  includes/widget/class-urlslab-widget-related-resources.php
Labels: action:needs-review

#1699 I2709 serp queries detail panel
  admin/src/components/ContentGapMonitoringPanel.jsx
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/components/RowCounter.jsx
  admin/src/components/TableToolbar.jsx
  admin/src/components/detailsPanel/QueryDetailPanel.jsx
  admin/src/components/detailsPanel/UrlDetailPanel.jsx
  admin/src/elements/Tooltip_SortingFiltering.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useInfiniteFetch.jsx
  admin/src/hooks/useTableStore.jsx
  admin/src/modules/Serp.jsx
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
Labels: status:review-OK

#1705 paths to files without permalinks, special characters in javascript and css files
  composer.lock
  includes/driver/class-urlslab-driver.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
Labels: action:needs-review

#1704 fix: fixed selection of rows in changes panel to show diff
  admin/src/components/ChangesPanel/ChangesPanel.jsx
  admin/src/elements/TableSelectCheckbox.jsx
  admin/src/hooks/useChangeRow.jsx
Labels: status:review-OK

#1706 remove useless settings in html optimization
  includes/cron/class-urlslab-cron-download-css.php
  includes/cron/class-urlslab-cron-download-js.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-html-optimizer.php
Labels: action:needs-review

#1707 feat: new section for removed elements
  composer.lock
  includes/widget/class-urlslab-widget-html-optimizer.php
Labels: action:needs-review

#1709 fix: redirects without protocol evaluated as 404
  includes/class-urlslab-url.php
Labels: action:needs-review

#1711 fix: matching url in search and replace
  includes/widget/class-urlslab-widget-search-replace.php
Labels: status:review-OK

#1713 fix: search and replace in content before our processing
  includes/widget/class-urlslab-widget-search-replace.php
Labels: status:review-OK

#1712 fix: login_status was not possible to change in table
  admin/src/tables/SearchReplaceTable.jsx
Labels: action:needs-review

#1710 I2729 Tags table improvements and fixes
  admin/src/components/EditRowPanel.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/modules/static/TagsLabels.jsx
Labels: status:review-OK

#1715 postpone cron if urlslab service dies
  includes/cron/class-urlslab-cron-generator.php
  includes/cron/class-urlslab-cron-related-resources.php
  includes/cron/class-urlslab-cron-serp.php
  includes/cron/class-urlslab-cron-summaries.php
  includes/cron/class-urlslab-cron-youtube.php
  includes/executor/class-urlslab-executor-generate.php
Labels: action:needs-review

#1716 chore: removed not used api call, updated composer
  blocks/includes/blocks/class-urlslab-blocks-ai-content.php
  blocks/includes/blocks/class-urlslab-blocks-faqs-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-faqs.php
  blocks/includes/blocks/class-urlslab-blocks-related-articles-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-related-articles.php
  blocks/includes/blocks/class-urlslab-blocks-screenshot-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-screenshot.php
  blocks/includes/blocks/class-urlslab-blocks-tableofcontents.php
  blocks/includes/blocks/class-urlslab-blocks-youtubedata-elementor.php
  blocks/includes/blocks/class-urlslab-blocks-youtubedata.php
  composer.lock
  includes/api/class-urlslab-api-generators.php
  includes/connection/class-urlslab-connection-augment.php
Labels: action:needs-review

#1717 [2823] fix: download_url column type not defined, filter not working
  admin/src/tables/MediaFilesTable.jsx
  includes/data/class-urlslab-data-file.php
Labels: status:review-OK

#1720 chore: add alt text to default image
  includes/widget/class-urlslab-widget-related-resources.php
Labels: action:needs-review

#1721 fix: hidden links removed also text of the link
  includes/widget/class-urlslab-widget-urls.php
Labels: action:needs-review

#1722 feat: background image lazy loading
  assets/js/urlslab-lazyload.js
  composer.json
  composer.lock
  includes/class-urlslab-public.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  public/build/js/urlslab-lazyload.js
Labels: action:needs-review

#1723 feat: convert background images to next gen formats
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1724 feat: replace file just if it is smaller
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1725 fix: match url
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1726 fix: removing jquery dependencies
  includes/class-urlslab-public.php
  includes/widget/class-urlslab-widget-content-generator.php
Labels: status:review-OK

#1727 [2863] feat: upgrading node packages
  admin/apps/ai-content-assistant/package.json
  admin/apps/ai-content-assistant/yarn.lock
  admin/yarn.lock
  blocks/package.json
  blocks/yarn.lock
  package.json
  yarn.lock
Labels: action:needs-review

#1728 fix: relative path should not open in new window
  includes/widget/class-urlslab-widget-urls.php
Labels: status:done, status:review-OK

#1729 fix: fatal error
  includes/widget/class-urlslab-widget-urls.php
Labels: status:done, status:review-OK
