Repository QualityUnit/wp-urlslab, pull requests merged in 2024-01, with the labels that each got.

#1591 fix: add missing filter value for domain type
  includes/api/class-urlslab-api-serp-competitors.php
  includes/data/class-urlslab-data-serp-domain.php
Labels: action:needs-review

#1592 fix: deleting related resources
  includes/api/class-urlslab-api-faq.php
  includes/api/class-urlslab-api-files.php
  includes/api/class-urlslab-api-generators.php
  includes/api/class-urlslab-api-keywords.php
  includes/api/class-urlslab-api-shortcodes.php
  includes/api/class-urlslab-api-url-relations.php
  includes/api/class-urlslab-api-urls.php
Labels: action:needs-review

#1593 fix: #2573, #2575
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/RefreshTableButton.jsx
Labels: action:needs-review

#1594 fix: add missing filter enum types to redirects table
  includes/data/class-urlslab-data-redirect.php
  includes/data/class-urlslab-data.php
Labels: action:needs-review

#1595 [2582] fix: added underline for active button in tables
  admin/src/assets/styles/components/_ModuleViewHeader.scss
Labels: action:needs-review

#1596 fix: sorting in faqs api
  includes/api/class-urlslab-api-faq.php
Labels: action:needs-review

#1565 feat: onboarding search query options as textarea
  admin/src/onboarding/steps/StepApiKey.jsx
  admin/src/onboarding/steps/StepChooseKeywords.jsx
  admin/src/onboarding/steps/StepModules.jsx
Labels: action:needs-review

#1597 fix: defer loading of lazy loading script
  includes/class-urlslab-public.php
Labels: action:needs-review

#1599 fix: update htaccess when something changed, send csp headers also without htaccess
  includes/api/class-urlslab-api-configs.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1600 fix caching custom rules
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1598 Web vitals charts changes & bugfixes
  admin/src/app/mui_joy/theme.js
  admin/src/app/mui_joy/themes/tooltipTheme.js
  admin/src/assets/styles/components/_FloatingPanel.scss
  admin/src/assets/styles/components/_ModuleViewHeader.scss
  admin/src/assets/styles/components/datepicker/datepicker.scss
  admin/src/assets/styles/elements/_IconButton.scss
  admin/src/charts/WebVitalsCharts.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TablePanel.jsx
  admin/src/components/charts/AreaChart.jsx
  admin/src/components/charts/WorldMapChart.jsx
  admin/src/elements/AbsoluteCoverBox.jsx
  admin/src/elements/RefreshButton.jsx
  admin/src/elements/RefreshTableButton.jsx
  admin/src/modules/WebVitals.jsx
Labels: action:needs-review

#1601 fix: refactoring htaccess rules
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1603 fix: CSP validation
  includes/api/class-urlslab-api-security.php
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1608 violated directive value normalization
  advanced-cache.php
  includes/api/class-urlslab-api-security.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-redirects.php
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1602 feat: serp domains table type column with buttons
  admin/src/onboarding/steps/StepChooseCompetitors.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
Labels: action:needs-review

#1609 fix: validate input value of web vitals
  includes/api/class-urlslab-api-web-vitals.php
  includes/data/class-urlslab-data-web-vital.php
Labels: action:needs-review

#1607 [2616] fix: filter panel closing on bot selection
  admin/src/elements/BrowserSelect.jsx
  admin/src/hooks/useChangeRow.jsx
Labels: action:needs-review

#1610 fix: refactoring generator
  includes/api/class-urlslab-api-generators.php
  includes/cron/class-urlslab-cron-generator.php
  includes/data/class-urlslab-data-generator-result.php
  includes/widget/class-urlslab-widget-content-generator.php
Labels: action:needs-review

#1611 Content gap bugfixes
  admin/src/components/detailsPanel/GapDetailPanel.jsx
  admin/src/components/detailsPanel/gapDetailPanelParts/GapDetailUrlsSettings.jsx
  admin/src/elements/TableSortBy.jsx
  admin/src/tables/SerpContentGapTable.jsx
Labels: action:needs-review

#1612 fix: static files were missing cache headers
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1613 fix: update htaccess file each time we discover requirement to update it
  includes/tool/class-urlslab-tool-config.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-general.php
  includes/widget/class-urlslab-widget-security.php
Labels: status:review-OK

#1614 fix: fatal error
  includes/api/class-urlslab-api-serp-urls.php
Labels: action:needs-review

#1615 fix: add again update steps to add missing columns
  includes/class-urlslab-activator.php
  urlslab.php
Labels: action:needs-review

#1616 fix: lock htaccess file during locking
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1618 fix: duplicate headers fix
  advanced-cache.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-security.php
Labels: action:needs-review

#1622 fix: column types
  includes/api/class-urlslab-api-serp-gap.php
  includes/api/class-urlslab-api-serp-queries.php
  includes/api/class-urlslab-api-serp-urls.php
  includes/data/class-urlslab-data-gsc-site.php
  includes/data/class-urlslab-data-serp-query.php
Labels: action:needs-review

#1621 [2646] seo filter types
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/lib/filterOperators.js
  admin/src/tables/SerpContentGapTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpQueryDetailClusterUrlsTable.jsx
  admin/src/tables/SerpQueryDetailQueryClusterTable.jsx
  admin/src/tables/SerpQueryDetailRankedUrlsTable.jsx
  admin/src/tables/SerpUrlDetailQueryTable.jsx
  admin/src/tables/SerpUrlDetailSimilarUrlsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  includes/class-urlslab-admin.php
  includes/data/class-urlslab-data-gsc-site.php
  includes/data/class-urlslab-data-serp-domain.php
  includes/data/class-urlslab-data-serp-query.php
  includes/data/class-urlslab-data-serp-url.php
  includes/data/class-urlslab-data.php
  includes/widget/class-urlslab-widget-serp.php
Labels: status:review-OK

#1620 Web Vitals charts improvements, table filters refactor
  admin/src/app/mui_joy/themes/tooltipTheme.js
  admin/src/assets/styles/components/_DateRangePicker.scss
  admin/src/charts/WebVitalsCharts.jsx
  admin/src/charts/web-vitals/MetricChart.jsx
  admin/src/charts/web-vitals/MetricCountryChart.jsx
  admin/src/charts/web-vitals/MetricSwitcher.jsx
  admin/src/charts/web-vitals/TimePeriodSwitcher.jsx
  admin/src/components/ChangesPanel/Chart.jsx
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/components/TableFilters.jsx
  admin/src/components/charts/AreaChart.jsx
  admin/src/components/charts/WorldMapChart.jsx
  admin/src/components/charts/elements.jsx
  admin/src/elements/DateRangeButton.jsx
  admin/src/elements/StatusDot.jsx
  admin/src/hooks/useFilteringSorting.jsx
  admin/src/lib/filterReducer.js
  admin/src/lib/helpers.js
  admin/src/lib/metricChartsHelpers.jsx
  admin/src/queries/useChartQuery.jsx
  admin/src/tables/BacklinksTable.jsx
  admin/src/tables/CSPViolationsTable.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/CacheRulesTable.jsx
  admin/src/tables/ContentCacheTable.jsx
  admin/src/tables/CreditsTable.jsx
  admin/src/tables/CustomHtmlTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/GscSitesTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/SchedulesTable.jsx
  admin/src/tables/SearchReplaceTable.jsx
  admin/src/tables/SerpCompetitorsTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/SerpUrlsTable.jsx
  admin/src/tables/URLMapTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UrlsTable.jsx
  admin/src/tables/UsageTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1624 [2651] filter types
  admin/src/components/TableFilter.jsx
  admin/src/components/TableFilterPanel.jsx
  admin/src/elements/CapabilitiesMenu.jsx
  admin/src/elements/PostTypesMenu.jsx
  admin/src/elements/RolesMenu.jsx
  admin/src/hooks/useRedirectTableMenus.jsx
  admin/src/lib/filterOperators.js
  admin/src/lib/httpStatuses.js
  admin/src/queries/usePrefetchQueries.jsx
  admin/src/tables/BacklinksTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/RedirectsTable.jsx
  admin/src/tables/UrlsTable.jsx
  admin/src/tables/WebVitalsTable.jsx
  includes/data/class-urlslab-data-backlink-monitor.php
  includes/data/class-urlslab-data-csp.php
  includes/data/class-urlslab-data-not-found-log.php
  includes/data/class-urlslab-data-redirect.php
  includes/data/class-urlslab-data-url.php
  includes/data/class-urlslab-data-web-vital.php
  includes/data/class-urlslab-data.php
Labels: status:review-OK

#1619 fix: download file
  assets/js/urlslab-lazyload.js
  blocks/includes/blocks/class-urlslab-youtubedata.php
  includes/api/class-urlslab-api-css-cache.php
  includes/api/class-urlslab-api-js-cache.php
  includes/api/class-urlslab-api-modules.php
  includes/class-urlslab-activator.php
  includes/class-urlslab-public.php
  includes/class-urlslab-user-widget.php
  includes/class-urlslab.php
  includes/cron/class-urlslab-cron-download-css.php
  includes/cron/class-urlslab-cron-download-js.php
  includes/data/class-urlslab-data-file.php
  includes/driver/class-urlslab-driver.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-security.php
  includes/widget/class-urlslab-widget.php
  public/build/js/urlslab-lazyload.js
Labels: action:needs-review

#1630 I2586 speed of UI
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/components/DeletePanel.jsx
Labels: status:review-OK

#1632 fix: advanced cache moved to app
  advanced-cache.php
  includes/tool/class-urlslab-tool-htaccess.php
Labels: action:needs-review

#1633 fix: ip address field validation
  includes/api/class-urlslab-api-redirects.php
Labels: action:needs-review

#1634 fix: insert log not found
  includes/data/class-urlslab-data-not-found-log.php
  includes/widget/class-urlslab-widget-cache.php
Labels: action:needs-review

#1635 offloaded images not found
  includes/cron/class-urlslab-cron-serp.php
  includes/driver/class-urlslab-driver-file.php
  includes/widget/class-urlslab-widget-html-optimizer.php
  includes/widget/class-urlslab-widget-lazy-loading.php
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1637 fix: not found table missing columns definitions for redirect
  admin/src/tables/NotFoundTable.jsx
  includes/data/class-urlslab-data-not-found-log.php
Labels: action:needs-review

#1631 I2586 UI speed - resolved events listeners adding/removing
  admin/src/components/DynamicModule.jsx
  admin/src/elements/ColumnsMenu.jsx
  admin/src/elements/MenuInput.jsx
  admin/src/elements/MultiSelectMenu.jsx
  admin/src/elements/RangeSlider.jsx
  admin/src/elements/SingleSelectMenu.jsx
  admin/src/elements/SuggestInputField.jsx
  admin/src/elements/TableActionsMenu.jsx
  admin/src/elements/TagsFilterMenu.jsx
  admin/src/hooks/useCloseModal.jsx
Labels: status:review-OK

#1638 fix: table filter condition
  admin/src/components/TableFilter.jsx
Labels: status:done, status:review-OK

#1640 fix: logging
  includes/data/class-urlslab-data-not-found-log.php
Labels: action:needs-review

#1639 [2480] AI content widget
  blocks/includes/blocks/class-urlslab-ai-content.php
  blocks/package.json
  blocks/src/api.js
  blocks/src/blocks/ai-content/BlockIcon.js
  blocks/src/blocks/ai-content/block.json
  blocks/src/blocks/ai-content/edit.js
  blocks/src/blocks/ai-content/editor.scss
  blocks/src/blocks/ai-content/index.js
  blocks/webpack.config.js
  blocks/yarn.lock
  includes/class-urlslab-blocks.php
Labels: status:review-OK

#1642 fix: convert ms to seconds for some web vitals
  admin/src/charts/web-vitals/MetricChart.jsx
  admin/src/charts/web-vitals/MetricCountryChart.jsx
  admin/src/components/charts/AreaChart.jsx
  admin/src/components/charts/WorldMapChart.jsx
  admin/src/lib/metricChartsHelpers.jsx
  admin/src/tables/WebVitalsTable.jsx
  includes/api/class-urlslab-api-web-vitals.php
  includes/class-urlslab-activator.php
  includes/data/class-urlslab-data-web-vital.php
  urlslab.php
Labels: status:review-OK

#1643 fix: onboarding free user modules activation
  admin/src/onboarding/steps/StepChooseCompetitors.jsx
  admin/src/onboarding/steps/StepModules.jsx
Labels: action:needs-review

#1644 fix: set different default cache ttl for media
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1645 fix: changing layout of more edit panels
  admin/src/tables/GeneratorPromptTemplateTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
Labels: action:needs-review

#1646 fix: hide kw_hash from api results
  includes/api/class-urlslab-api-keywords.php
  includes/data/class-urlslab-data-keyword.php
Labels: status:review-OK

#1648 Fix tmr
  includes/api/class-urlslab-api-files.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/cron/class-urlslab-cron-offload-enqueue-files.php
  includes/cron/class-urlslab-cron-offload-transfer-files.php
  includes/data/class-urlslab-data-file.php
  includes/driver/class-urlslab-driver-file.php
  includes/driver/class-urlslab-driver.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget.php
  urlslab.php
Labels: action:needs-review

#1650 fix: init rewrite rules with each init event
  includes/widget/class-urlslab-widget-general.php
Labels: action:needs-review

#1651 fix: creating new serp queries
  includes/api/class-urlslab-api-serp-queries.php
Labels: action:needs-review

#1647 [2308] faq improvements
  admin/package.json
  admin/src/app/mui_joy/themes/tableTheme.js
  admin/src/app/mui_joy/themes/tooltipTheme.js
  admin/src/assets/images/icons/icon-edit-post.svg
  admin/src/components/DetailsPanel.jsx
  admin/src/elements/RowActionButtons.jsx
  admin/src/hooks/useChangeRow.jsx
  admin/src/hooks/useTablePanels.jsx
  admin/src/tables/BacklinksTable.jsx
  admin/src/tables/CSPViolationsTable.jsx
  admin/src/tables/CSSCacheTable.jsx
  admin/src/tables/FaqUrlsTable.jsx
  admin/src/tables/FaqsTable.jsx
  admin/src/tables/GeneratorProcessesTable.jsx
  admin/src/tables/GeneratorResultTable.jsx
  admin/src/tables/GeneratorShortcodeTable.jsx
  admin/src/tables/JSCacheTable.jsx
  admin/src/tables/KeywordsTable.jsx
  admin/src/tables/MediaFilesTable.jsx
  admin/src/tables/NotFoundTable.jsx
  admin/src/tables/SerpQueriesTable.jsx
  admin/src/tables/SerpTopDomainsTable.jsx
  admin/src/tables/URLMapTable.jsx
  admin/src/tables/URLRelationTable.jsx
  admin/src/tables/UrlsTable.jsx
  admin/src/tables/YouTubeCacheTable.jsx
Labels: status:review-OK

#1649 fix: columns menu fixed closing
  admin/src/elements/ColumnsMenu.jsx
Labels: action:needs-review

#1652 fix: disabled filtering and sorting for Offloaded URL
  admin/src/components/ModuleViewHeaderBottom.jsx
  admin/src/tables/MediaFilesTable.jsx
Labels: action:needs-review

#1653 [2480[ fix: not possible to change shortcode in ai content widget
  blocks/src/blocks/ai-content/edit.js
Labels: status:review-OK

#1654 feat: api to enhance csp settings
  admin/src/components/DetailsPanel.jsx
  admin/src/tables/CSPViolationsTable.jsx
  includes/api/class-urlslab-api-security.php
  includes/widget/class-urlslab-widget-security.php
Labels: status:done

#1655 [2686] fix: refresh launches count fetch 2x
  admin/src/elements/RefreshTableButton.jsx
Labels: action:needs-review

#1656 fix: recognition of local system files
  includes/driver/class-urlslab-driver.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-media-offloader.php
  includes/widget/class-urlslab-widget-redirects.php
Labels: action:needs-review

#1657 fix: fix uninstall process
  uninstall.php
Labels: status:review-OK

#1658 fix: serp types
  includes/data/class-urlslab-data-serp-query.php
Labels: action:needs-review

#1659 deactivation of plugin
  includes/class-urlslab-admin.php
  includes/tool/class-urlslab-tool-config.php
  includes/tool/class-urlslab-tool-htaccess.php
  includes/widget/class-urlslab-widget-cache.php
  includes/widget/class-urlslab-widget-media-offloader.php
  uninstall.php
Labels: action:needs-review

#1660 fix: webp images were not created on local filesystem
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/driver/class-urlslab-driver-file.php
  includes/driver/class-urlslab-driver.php
Labels: action:needs-review

#1661 Remove unused setting
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#1662 fix: delete with full primary column
  admin/src/tables/CSPViolationsTable.jsx
Labels: action:needs-review

#1663 [2620] fix: refetching settings
  admin/src/modules/static/Settings.jsx
Labels: action:needs-review

#1664 fix: remove hash in file name
  includes/data/class-urlslab-data-file.php
Labels: action:needs-review
