Repository QualityUnit/wp-urlslab, pull requests merged in 2025-04, with the labels that each got.

#2086 fix: added small changes in urlslab-wpml script
  admin/js/urlslab-wpml.js
Labels: status:done, status:review-OK

#2089 chore: increase version
  readme.txt
Labels: action:needs-review

#2090 set nofollow norefferrer noopener
  includes/widget/class-urlslab-widget-urls.php
Labels: status:review-OK

#2092 picture tag processing
  includes/api/class-urlslab-api-files.php
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/cron/class-urlslab-cron-offload-enqueue-files.php
  includes/data/class-urlslab-data-file.php
  includes/driver/class-urlslab-driver-none.php
  includes/driver/class-urlslab-driver.php
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#2072 [1546] - fix: fixed error after click to button "Show URLs where used"
  admin/src/tables/YouTubeCacheTable.jsx
Labels: action:needs-review

#2071 [3368] - fix: table of contents doesn’t work properly
  blocks/includes/blocks/class-urlslab-blocks-tableofcontents.php
Labels: action:needs-review

#2093 feat: hide images with status error
  includes/data/class-urlslab-data-file.php
  includes/widget/class-urlslab-widget-media-offloader.php
Labels: action:needs-review

#2103 feat: remove avif support
  admin/src/overview/MediaOffloader.jsx
  includes/api/class-urlslab-api-files.php
  includes/class-urlslab-activator.php
  includes/cron/class-urlslab-cron-convert-avif-images.php
  includes/cron/class-urlslab-cron-convert-images.php
  includes/cron/class-urlslab-cron-convert-webp-images.php
  includes/cron/class-urlslab-cron-manager.php
  includes/cron/class-urlslab-cron-offload-enqueue-files.php
  includes/cron/class-urlslab-cron-offload-transfer-files.php
  includes/data/class-urlslab-data-file-pointer.php
  includes/data/class-urlslab-data-file.php
  includes/driver/class-urlslab-driver-file.php
  includes/widget/class-urlslab-widget-media-offloader.php
  readme.txt
  urlslab.php
Labels: action:needs-review
